<template>
    <el-row class="pageContainer">
        <el-pagination
            background
            small
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-size="size"
            layout="prev, pager, next,slot"
            prev-text="<上一页"
            next-text="下一页>"
            :total="total">
            <span class="totalpage">共{{Math.ceil(total/size)}}页</span>
        </el-pagination>
    </el-row>

</template>

<script>
  export default{
    props:{
      total:{
        type:Number,
        default:0
      },
    },
    data() {
        return {
          size:6,
          currentPage:1
        };
    },
    mounted(){
      this.$emit("pageData",{
        size:this.size,
        num:this.currentPage
      })
    },
    methods: {
        handleSizeChange(val) {
          
        },
        handleCurrentChange(val) {
          this.$emit("pageData",{
            size:this.size,
            num:val
          })
        }
    },
  }

</script>

<style lang="less" scoped>
    .pageContainer{
        text-align: center;
        height: 100%;
        .totalpage{
            color: #606266;


        }

    }

</style>
