<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="<%= process.env.NODE_ENV  == 'development' ? '' : '/zqjr' %>/static/js/echarts.min.js"></script>
    <script src="<%= process.env.NODE_ENV  == 'development' ? '' : '/zqjr' %>/static/js/china.js"></script>
    <script src="./static/laydate/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
    <title>政企金融大数据平台</title>

    <style>
        html, body, #app {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .loading-group {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* background: #8e9eab;
            background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
            background: linear-gradient(to right, #eef2f3, #8e9eab); */
            /* background: #4b6cb7;
            background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
            background: linear-gradient(to right, #182848, #4b6cb7); */
            background: #757F9A;
            background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);
            background: linear-gradient(to top, #D7DDE8, #757F9A);
        }

        .title {
            color: #FFF;
            font-weight: bold;
            font-size: 14px;
            margin-top: 40px;
            margin-bottom: 10px;
            letter-spacing: 0.2em;
        }

        .sub-title {
            color: #FFF;
            font-size: 10px;
        }

        .sk-cube-grid {
            width: 30px;
            height: 30px;
        }

        .sk-cube-grid .sk-cube {
            width: 10px;
            height: 10px;
            background-color: #FFF;
            float: left;
            -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        }

        .sk-cube-grid .sk-cube1 {
            border-top-left-radius: 4px;
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        .sk-cube-grid .sk-cube2 {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .sk-cube-grid .sk-cube3 {
            border-top-right-radius: 4px;
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        .sk-cube-grid .sk-cube4 {
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }

        .sk-cube-grid .sk-cube5 {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        .sk-cube-grid .sk-cube6 {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        .sk-cube-grid .sk-cube7 {
            border-bottom-left-radius: 4px;
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        .sk-cube-grid .sk-cube8 {
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }

        .sk-cube-grid .sk-cube9 {
            border-bottom-right-radius: 4px;
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        @-webkit-keyframes sk-cubeGridScaleDelay {
            0%, 70%, 100% {
                -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
            }
            35% {
                -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
            }
        }

        @keyframes sk-cubeGridScaleDelay {
            0%, 70%, 100% {
                -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
            }
            35% {
                -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
            }
        }
    </style>
</head>
<body>
<div id="app">
    <div class="loading-group">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
</div>
</body>
</html>
