<template>
    <el-row class="detailContainer">
        <el-row class="detailtitle">
            API详情
        </el-row>
        <el-row class="cardContainer">
            <el-row class="cardItem" v-for="(i,index) in api">
                <span class="triangle"></span>
                <span class="index">{{'0'+(index+1)}}</span>
                <el-card class="box-card">
                    <div  class="textName" >
                        <div class="textItem" v-for="i in list">{{i}}</div>
                    </div>
                    <div class="textData">
                        <div class="textItem" v-for="d in datas">{{d}}</div>
                    </div>
                </el-card>
            </el-row>
        </el-row>


    </el-row>

</template>

<script>
  export default{
    data(){
      return{
        list:['接口名称：','接口编号：','调用总次数：','调用成功率：'],
        datas:['API-A','API-A','426346','26.75%'],
        api:['API-A','API-A','API-A','API-A','API-A','API-A']
      }
    }

  }

</script>

<style lang="less">
    .detailContainer{
        width: calc(~"100% - 10px");
        height: 100%;
        margin-left: 10px;
        background-color: #fff;
        padding:0 10px 10px;
        .detailtitle{
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-weight: bold;
            color: #333333;
        }
        .cardContainer{
            height: calc(~"(100% - 30px)");
            overflow: auto;
            .cardItem{
                margin-top: 10px;
                .triangle{
                    position: absolute;
                    top:0;
                    width:0;
                    height:0;
                    border-width:0 0 40px 40px;
                    border-style:solid;
                    border-color:transparent transparent transparent #0085D0;
                    margin:0 auto;

                }
                .index{
                    position: absolute;
                    top:0;
                    left: 2px;
                    z-index: 10;
                    color: #fff;


                }
                .box-card{
                    background-color: #F8F8F8;
                    color: #A0A0A0;
                    text-align: center;
                    font-size: 14px;
                    .textName{
                        display: inline-block;
                        text-align: left;

                    }
                    .textData{
                        display: inline-block;
                        text-align: left;
                    }
                    .textItem{
                        margin: 4px;
                    }
                }

            }
        }


        .el-card__body {
            padding: 5px;
        }


    }

</style>
