<template>
    <el-row class="listContainer">
        <el-row class="listTitle">
            <el-col :span="22">
                API调用明细
            </el-col>
            <el-col :span="2" class="export">
                <icon icon="sign-out-alt" :rotation="270" class="outicon" ></icon>导出

            </el-col>


        </el-row>
        <el-row class="apiTable">
            <el-table
                ref="multipleTable"
                :data="tableData3"
                :cell-style="{textAlign:'center',fontSize:'12px'}"
                :header-cell-style="{background:'#F4F4F6',color:'#828283',textAlign:'center',fontSize:'14px'}"
                style="width: 100%"
                @selection-change="">
                <el-table-column
                    type="selection"
                    width="55">
                </el-table-column>
                <el-table-column
                    label="接口名称"
                    >
                    <template slot-scope="scope">{{ scope.row.date }}</template>
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="接口编号"
                    >
                </el-table-column>
                <el-table-column
                    prop="date"
                    label="调用时间"
                   >
                </el-table-column>
                <el-table-column
                    prop="address"
                    label="调用状态"
                >
                </el-table-column>
                <el-table-column
                    prop="address"
                    label="失败原因"
                >
                </el-table-column>
            </el-table>
        </el-row>
        <el-row class="pagination">
            <pagination />
        </el-row>

    </el-row>

</template>

<script>
  export default{
      data(){
      return{
          tableData3: [{
              date: '2016-05-03 15:03:05',
              name: '王小虎',
              address: '上海市普陀区金沙江路 1518 弄'
          }, {
              date: '2016-05-02',
              name: '王小虎',
              address: '上海市普陀区金沙江路 1518 弄'
          }, {
              date: '2016-05-04',
              name: '王小虎',
              address: '上海市普陀区金沙江路 1518 弄'
          }, {
              date: '2016-05-01',
              name: '王小虎',
              address: '上海市普陀区金沙江路 1518 弄'
          }, {
              date: '2016-05-08',
              name: '王小虎',
              address: '上海市普陀区金沙江路 1518 弄'
          }, {
              date: '2016-05-06',
              name: '王小虎',
              address: '上海市普陀区金沙江路 1518 弄'
          }, {
              date: '2016-05-07',
              name: '王小虎',
              address: '上海市普陀区金沙江路 1518 弄'
          }],
      }
    },
      components:{
          pagination: ()=> import('../pagination/pagination')
      },
  }

</script>

<style lang="less" scoped>
    .listContainer{
        height: calc(~"60% - 10px");
        background-color: #ffffff;
        margin-top: 10px;
        .listTitle{
            height: 30px;
            color: #333333;
            font-size: 16px;
            line-height:30px;
            margin-left: 10px;
            font-weight: bold;
            .export{
                cursor: pointer;
                font-size: 14px;
                font-weight: normal;
                color: #A8A8A8;
                text-align: center;
                .outicon{

                }
            }
        }
        .apiTable{
            height: calc(~"100% - 60px");
            overflow: auto;

        }
        .pagination{
            height: 30px;
            line-height: 30px;

        }
    }

</style>
