<template>
    <el-row class="lineContainer">
        <common-head :DATA="APILINETITLES" :ICON="HELPICON" :isshow="false"/>
        <el-row class="liness" id="liness"></el-row>

    </el-row>

</template>

<script>
    import {APILINETITLES,HELPICON} from '@/store/main'
  export default{
      components: {
          commonHead: () => import('@/components/home/_head_title'),
      },
      computed: {
          APILINETITLES(){return APILINETITLES},
          HELPICON(){return HELPICON},
      },
      mounted(){
          this.initLine()

      } ,
      methods:{
          initLine(){
              let line=echarts.init(document.getElementById('liness'))
              let names=['0-4H','4-8H','8-12H','12-16H','16-20H','20-24H']
              let color=['rgb(253,90,82)','rgb(254,154,82)','rgb(0,133,208)','rgb(1,196,208)','rgb(1,173,85)','rgb(146,196,30)',]
              let data=[
                  [96.3,96.4,97.5,95.6,98.1,94.8,89.6,94.1,80.1,52.4,75.8,94.7],
                  [97.3,99.2,99.3,100.0,99.6,90.6,80.0,91.5,69.8,67.5,90.4,84.9],
                  [84.2,81.0,67.5,72.1,43.7,88.5,91.9,101.8,79.7,87.6,92.9,0],
                  [84.2,81.0,67.5,72.1,43.7,88.5,91.9,101.8,79.7,87.6,92.9,0],
                  [96.3,96.4,97.5,95.6,98.1,94.8,89.6,94.1,80.1,52.4,75.8,94.7],
                  [96.3,96.4,97.5,95.6,98.1,94.8,89.6,94.1,80.1,52.4,75.8,94.7],
              ]
              let series=[]
              let seriesItem={}
              names.forEach((item,index)=>{
                  series.push(seriesItem={
                      name:item,
                      type: 'line',
                      smooth: true,
                      lineStyle: {
                          normal: {
                              width: 1
                          }
                      },
                      itemStyle: {
                          normal: {
                              color: color[index]
                          }
                      },
                      areaStyle: {
                          normal: {
                              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                  offset: 0,
                                  color: color[index].substring(0,color[index].length-1)+',0.1)'//rgba(252,91,83, 0.1)
                              }, {
                                  offset: 0.8,
                                  color:color[index].substring(0,color[index].length-1)+',0)'// 'rgba(252,91,83, 0)'
                              }], false),
                              shadowColor: 'rgba(0, 0, 0, 0.1)',
                              shadowBlur: 10
                          }
                      },
                      data:data[index]
                  })
              })
              let option={
                  tooltip: {
                      trigger: 'axis',
                      confine:true,
                      axisPointer: {
                          lineStyle: {
                              color: '#57617B'
                          },

                      }
                  },
                  legend: {
                      icon: 'circle',
                      itemWidth: 14,
                      itemHeight: 5,
                      itemGap: 13,
                      data: ['0-4H','4-8H','8-12H','12-16H','16-20H','20-24H'],
                      left: "center",
                      top:0,
                      textStyle: {
                          fontSize: 10,
                          color: '#686868'
                      }
                  },
                  grid: {
                      left: '3%',
                      right: '4%',
                      bottom: 0,
                      top:'10%',
                      containLabel: true
                  },
                  xAxis: [{
                      type: 'category',
                      boundaryGap: false,
                      axisLine: {
                          show:false,
                          lineStyle: {
                              color: '#57617B'
                          }
                      },
                      axisTick: {
                          show: false
                      },
                      data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                  }],
                  yAxis: [{
                      type: 'value',
                      axisTick: {
                          show: false
                      },
                      axisLine: {
                          show:false,
                          lineStyle: {
                              color: '#57617B'
                          }
                      },
                      axisLabel: {
                          margin: 10,
                          textStyle: {
                              fontSize: 10
                          }
                      },
                      splitLine: {
                          show:false
                      }
                  }],
                  series:series,

              }

              line.setOption(option)

          }
      },


  }

</script>

<style lang="less" scoped>
    .lineContainer{
        height: 40%;
        background-color: #ffffff;
        .liness{
            height: calc(~"(100% - 30px)");
        }
    }

</style>
