<template>
    <el-row class="index_bodysj">
        <el-row style="height: 100px; ">

            <el-button
                style="float: left;margin-left: 22%;margin-top: 50px;height: 40px;border-radius: 20px;border: 1px solid #b2b2b2;"
                round>
                <span style="font-size: 22px;color: #b2b2b2; font-weight: 300; text-align: center;"
                      @click='redirectIndex()'>首页 &nbsp;&nbsp;</span>
            </el-button>
            <el-button
                style="float: left; margin-top: 50px;width: 134px; height: 40px;margin-left: -30px;line-height: 20px;border-radius: 20px;background-color: #375ea3;"
                round>
                <span style="font-size: 24px;color: #ffffff;font-weight: 500;  text-align: center;">商机订阅</span>
            </el-button>
        </el-row>

        <el-row
            style="width: 130px; height: 130px;margin-top: 60px;margin-left: 46%;background-color: inherit;border: 1px solid #375ea3;text-align: center;">
            <el-image style="width: 100px; height: 100px;padding: 15px 15px; " :src="url"></el-image>
        </el-row>
        <el-row style=" margin-top: 40px; background-color: inherit; text-align: center;">
            <span style=" font-weight: 300;">微信扫描上方二维码</span><br/>
            随时掌握一手商机
        </el-row>


    </el-row>
</template>
<script>

    export default {
        data() {
            return {

                url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',


            };
        },
        components: {

        }
        , methods: {
            redirectIndex() {
                this.$router.push('index');
            }
        }
    }
</script>
<style lang="less" scoped>
    .index_container {
        height: 100%;
        width: 100%;

        .index_bodysj {
            height: 486px;
            background: url("../../assets/img/sjdy_back.png") no-repeat;
            font-size: 30px;
            letter-spacing: 2px;
            line-height: 40px;
            color: #375ea3;
            font-family: "Source Han Sans SC";

        }

        .el-divider--horizontal {
            margin: 8px 0;
            background: 0 0;
            border-top: 1px dashed #e8eaec;
        }
        .line-left-right {

            padding: 0 0px 0px;

            margin: 20px 0px;

            line-height: 1px;

            border-left: 750px solid rgb(221, 221, 221);

            border-right: 750px solid rgb(221, 221, 221);

            text-align: center;

            height: 2px;

        }
    }

</style>

