<template>
    <el-row class="focuslistContainer">
        <el-row class="tableContainer">
            <el-table
                :data="tableData3"
                size="mini"
                border
                :span-method="mergeRowMethod"
                :cell-style="{textAlign:'center',padding:'4px',fontSize:'10px'}"
                :header-cell-style="{background:'#A0A0A0',color:'#fff',textAlign:'center',padding:'6px',fontSize:'10px'}"
                style="width: 100%">
                    <el-table-column
                        prop="bank_type_id"
                        label="银行分类"
                    >
                    </el-table-column>
                    <el-table-column prop="bank_name" label="银行名称">
                        <template slot-scope="scope">
                          <span>
                             <svg-icon :id="BANKICON[tableData3[scope.$index].bank_name]"/>
                            {{tableData3[scope.$index].bank_name}}
                          </span>
                        </template>
                    </el-table-column>
                    <el-table-column>
                        <template slot="header" slot-scope="scope">
                            <span class="headerText">主卡</span>
                            <span class="headerCount">
                                <span class="table_item">用户量</span>
                                <span class="table_item">占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount">
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?tableData3[scope.$index].active_user_card1_today_sum:headTimeTypeName=='30日'?tableData3[scope.$index].active_user_card1_30day_sum:headTimeTypeName=='90日'?tableData3[scope.$index].active_user_card1_90day_sum:tableData3[scope.$index].active_user_card1_180day_sum}}
                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(tableData3[scope.$index].proportion_card1_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(tableData3[scope.$index].proportion_card1_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(tableData3[scope.$index].proportion_card1_90day).toFixed(2)+'%':parseFloat(tableData3[scope.$index].proportion_card1_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>
                    <el-table-column>
                        <template slot="header" slot-scope="scope">
                            <span class="headerText">副卡一</span>
                            <span class="headerCount">
                                <span class="table_item">用户量</span>
                                <span class="table_item">占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount">
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?tableData3[scope.$index].active_user_card2_today_sum:headTimeTypeName=='30日'?tableData3[scope.$index].active_user_card2_30day_sum:headTimeTypeName=='90日'?tableData3[scope.$index].active_user_card2_90day_sum:tableData3[scope.$index].active_user_card2_180day_sum}}
                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(tableData3[scope.$index].proportion_card2_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(tableData3[scope.$index].proportion_card2_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(tableData3[scope.$index].proportion_card2_90day).toFixed(2)+'%':parseFloat(tableData3[scope.$index].proportion_card2_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>
                    <el-table-column>
                        <template slot="header" slot-scope="scope">
                            <span class="headerText">副卡二</span>
                            <span class="headerCount">
                                <span class="table_item">用户量</span>
                                <span class="table_item">占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount">
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?tableData3[scope.$index].active_user_card3_today_sum:headTimeTypeName=='30日'?tableData3[scope.$index].active_user_card3_30day_sum:headTimeTypeName=='90日'?tableData3[scope.$index].active_user_card3_90day_sum:tableData3[scope.$index].active_user_card3_180day_sum}}
                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(tableData3[scope.$index].proportion_card3_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(tableData3[scope.$index].proportion_card3_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(tableData3[scope.$index].proportion_card3_90day).toFixed(2)+'%':parseFloat(tableData3[scope.$index].proportion_card3_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>
                    <el-table-column>
                        <template slot="header" slot-scope="scope">
                            <span class="headerText">其他</span>
                            <span class="headerCount">
                                <span class="table_item">用户量</span>
                                <span class="table_item">占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount">
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?tableData3[scope.$index].active_user_card4_today_sum:headTimeTypeName=='30日'?tableData3[scope.$index].active_user_card4_30day_sum:headTimeTypeName=='90日'?tableData3[scope.$index].active_user_card4_90day_sum:tableData3[scope.$index].active_user_card4_180day_sum}}
                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(tableData3[scope.$index].proportion_card4_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(tableData3[scope.$index].proportion_card4_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(tableData3[scope.$index].proportion_card4_90day).toFixed(2)+'%':parseFloat(tableData3[scope.$index].proportion_card4_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>


            </el-table>

        </el-row>
        <el-row class="pagination">
            <pagination :total="totalCount" @pageData="getPageData"/>
        </el-row>


    </el-row>

</template>

<script>
    import {TABLEHEAD,BANKICON} from "@/store/main"
    import {queryTypeAnalysisAll} from '@/controller/api'
    import {mapState} from 'vuex'
  export default{
    data(){
      return{
          search:'',
          tableColumns:['主卡','副卡一','副卡二','其他'],
          toDays:[],//当日
          threeDays:[],//30日
          nineDays:[],//90日
          halfyear:[],//180天
          bankData:new Array(10).fill({
              type:"国有商业银行",
              name:"中国银行",
              dayData:[142645,'23.11%','4.23%']
          }),
          tableData3: [],
          totalCount:0,//总条数
      }
    },
    components:{
      pagination: ()=> import('../pagination/pagination')
    },
    computed: {
        TIMELABEL(){return this.$store.state.headTimeTypeName},
        BANKICON(){return BANKICON},
        ...mapState({
            headselectTime:state=>state.headselectTime,
            area:state=>state.area,
            bank:state=>state.bank,
            headTimeTypeName:state=>state.headTimeTypeName,
        }),
        getRows(){return this.tableData3.filter(v => v.bank_type_id==="国有商业银行").length},
    },
    watch:{
          headselectTime(val){this.getdata()},
          area(val){this.getdata()},
          headTimeTypeName(val){
              this.$store.state.headTimeTypeName=val
          }
      } ,
    methods:{
        mergeRowMethod({ row, column, rowIndex, columnIndex }) {
            if (columnIndex === 0) {
                if (rowIndex === 0) {
                    return {
                        rowspan: this.getRows,
                        colspan: 1
                    };
                }else if(rowIndex === this.getRows){
                    return {
                        rowspan: this.tableData3.length - this.getRows,
                        colspan: 1
                    };
                } else {
                    return {
                        rowspan: 0,
                        colspan: 0
                    };
                }
            }
        },
        getPageData(data){
            this.pagesize = data.size
            this.pagenum = data.num
            this.getdata()
        },
        getdata(){
            this.threeDays=[]
            this.toDays=[]
            this.nineDays=[]
            this.halfyear=[]
            if(this.area && this.headselectTime){
                queryTypeAnalysisAll({
                    homeProv:this.area,//区域id
                    dayId:this.headselectTime,//日期
                    pageNum:this.pagenum,
                    pageSize:this.pagesize,
                    userId:this.$store.state.userInfo.userId
                }).then(res=>{
                    res=res.data
                    if(!res.code){
                        let activeData=res.data
                        if(activeData.length==0) {
                            this.tableData3=[]

                            return
                        }
                        //保存数据
                        this.saveData(activeData)
                        //当天
                        activeData=activeData.map(item=>{
                            item.bank_type_id==1?item.bank_type_id='国有商业银行':item.bank_type_id='股份制商业银行'
                            return item
                        })
                        this.tableData3 = [...activeData.filter(v => v.bank_type_id==="国有商业银行"),...activeData.filter(v => v.bank_type_id==="股份制商业银行")]
                        this.totalCount=res.total/6
                    }
                })
            }
        },
        saveData(activeData){
            activeData.forEach((item,index)=>{
                let itemThree=[]
                let itemNine=[]
                let itemHalf=[]
                let itemToday=[]
                //30日数据
                itemThree.push(item.proportion_card1_30day)
                itemThree.push(item.proportion_card2_30day)
                itemThree.push(item.proportion_card3_30day)
                itemThree.push(item.proportion_card4_30day)
                //90日
                itemNine.push(item.proportion_card1_90day)
                itemNine.push(item.proportion_card2_90day)
                itemNine.push(item.proportion_card3_90day)
                itemNine.push(item.proportion_card4_90day)
                //180天
                itemHalf.push(item.proportion_card1_180day)
                itemHalf.push(item.proportion_card2_180day)
                itemHalf.push(item.proportion_card3_180day)
                itemHalf.push(item.proportion_card4_180day)
                //当日
                itemToday.push(item.proportion_card1_today)
                itemToday.push(item.proportion_card1_today)
                itemToday.push(item.proportion_card1_today)
                itemToday.push(item.proportion_card1_today)

                this.threeDays.push(itemThree)
                this.nineDays.push(itemNine)
                this.halfyear.push(itemHalf)
                this.toDays.push(itemToday)
            })
        },
    }
  }

</script>

<style lang="less" scoped>
    .focuslistContainer{
        width: 100%;
        height: calc(~"(100% - 8px)");
        margin-top: 8px;
        background-color: #FFFFFF;
        padding: 10px 10px 0;
        .tableContainer{
            height: calc(~"(100% - 30px)");
            width: 100%;
            //margin-left: 2%;
            overflow: auto;

            .headerText{
                color: #fff;
                display: block;
                border-bottom: 1px solid #fff;
            }
          /*  .headerBorder{
                width: 80%;
                height: 1px;
                background-color: #fff;


            }*/
            .headerCount{
                width: 100%;
                .table_item{
                    display: inline-block;
                      width: 49%;
                      white-space: nowrap;
                }
            }
            .listCount{
                width: 100%;
                .listItem{
                    display: inline-block;
                    width: 49%;


                }
            }


            .el-table th div{
                line-height: 15px;
            }
        }
        .el-table .cell, .el-table th div{ padding-right:0px; padding-left:0px; overflow:hidden;text-overflow:ellipsis;}
        .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
            padding-left: 2px;

        }
        .pagination{
            height: 30px;
            line-height: 30px;

        }
    }

</style>
