<template>
    <el-row class="freTrendContainer">
        <common-head :DATA="FREQUENTTITLES" :ICON="HELPICON" :TYPE="1" @selTime="getTimer"/>
        <el-row class="freTrendline" id="freTrendline"></el-row>

    </el-row>



</template>

<script>
    import {FREQUENTTITLES,HELPICON} from '@/store/main'
    import {queryFrequencyTrend} from '@/controller/api'
    import {mapState} from 'vuex'
  export default{
      data(){
          return{
              line:null,
              card1:[],//主卡
              card2:[],//副卡一
              card3:[],//副卡二
              card4:[],//其他
              startAndEndtime:[]
          }
      },
      mounted(){
         // this.getdata()

      } ,
      components: {
          commonHead: () => import('@/components/home/_head_title'),
      },
      computed: {
          FREQUENTTITLES(){return FREQUENTTITLES},
          HELPICON(){return HELPICON},
          ...mapState({
              area:state=>state.area,
              bank:state=>state.bank,
          })
      },
      watch:{
          area(val){this.getdata()},
          bank(val){this.getdata()},
      } ,
      methods:{
          getTimer(val){
            this.startAndEndtime = val
            this.getdata()
          },
          getdata(starttime,endtime){
              this.card1=[]
              this.card2=[]
              this.card3=[]
              this.card4=[]
              if(this.area && this.bank){
                queryFrequencyTrend({
                    HOME_PROV:this.area,//区域id
                    START_DAY:this.startAndEndtime[0],//日期
                    END_DAY:this.startAndEndtime[1],//结束时间为选中的时间
                    BANK_ID:this.bank,//银行id
                }).then(res=>{
                    res=res.data
                    if(!res.code){
                        let activeData=res.data.activeData
                        if(activeData.length==0) {
                            this.card1=[]
                            this.card2=[]
                            this.card3=[]
                            this.card4=[]
                            if(this.line){
                                this.line.dispose()
                            }

                            return
                        }
                        let xdata=activeData.map(item=>{
                            //当天
                            return item.day_id.toString().replace(/(\d{4})(\d{2})(\d{2})/,"$1年\n$2月$3日")
                        })
                        activeData.forEach((item,index)=>{

                            this.card1.push(item.proportion_today_levela)
                            this.card2.push(item.proportion_today_levelb)
                            this.card3.push(item.proportion_today_levelc)
                            this.card4.push(item.proportion_today_leveld)
                        })
                        //保存数据

                        this.initLine(xdata,this.card1,this.card2,this.card3,this.card4)


                    }

                })
              }
          },
          initLine(x,data1,data2,data3,data4){
              this.line=echarts.init(document.getElementById('freTrendline'))
              let names=['活跃', '一般', '偶尔','沉默']
              let color=['rgb(0,133,208)','rgb(0,196,209)','rgb(0,173,84)','rgb(147,195,31)']
              let data=[data1,data2,data3,data4]
              let series=[]
              let seriesItem={}
              names.forEach((item,index)=>{
                  series.push(seriesItem={
                      name:item,
                      type: 'line',
                      smooth: true,
                      lineStyle: {
                          normal: {
                              width: 1
                          }
                      },
                      itemStyle: {
                          normal: {
                              color: color[index]
                          }
                      },
                      areaStyle: {
                          normal: {
                              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                  offset: 0,
                                  color: color[index].substring(0,color[index].length-1)+',0.1)'//rgba(252,91,83, 0.1)
                              }, {
                                  offset: 0.8,
                                  color:color[index].substring(0,color[index].length-1)+',0)'// 'rgba(252,91,83, 0)'
                              }], false),
                              shadowColor: 'rgba(0, 0, 0, 0.1)',
                              shadowBlur: 10
                          }
                      },
                      data:data[index]
                  })
              })
              let option={
                  tooltip: {
                      trigger: 'axis',
                      axisPointer: {
                          lineStyle: {
                              color: '#57617B'
                          }
                      }
                  },
                  legend: {
                      icon: 'circle',
                      itemWidth: 14,
                      itemHeight: 5,
                      itemGap: 13,
                      data: ['活跃', '一般', '偶尔','沉默'],
                      left: '15%',
                      top:0,
                      textStyle: {
                          fontSize: 10,
                          color: '#686868'
                      }
                  },
                  grid: {
                      left: '3%',
                      right: '4%',
                      bottom: '0',
                      top:20,
                      containLabel: true
                  },
                  xAxis: [{
                      type: 'category',
                      boundaryGap: false,
                      axisLine: {
                          show:false,
                          lineStyle: {
                              color: '#57617B'
                          }
                      },
                      axisTick: {
                          show: false
                      },
                      data: x
                  }],
                  yAxis: [{
                      type: 'value',
                      axisTick: {
                          show: false
                      },
                      axisLine: {
                          show:false,
                          lineStyle: {
                              color: '#57617B'
                          }
                      },
                      axisLabel: {
                          margin: 10,
                          textStyle: {
                              fontSize: 10
                          }
                      },
                      splitLine: {
                          show:false
                      }
                  }],
                  series:series
              }

              this.line.setOption(option)

          }
      }
  }

</script>

<style lang="less" scoped>
    .freTrendContainer{
        width: 100%;
        height: calc(~"(100% - 8px)");
        margin-top: 8px;
        background-color: #FFFFFF;
        .bartitle{
            color: #333333;
            height: 30px;
            font-size: 14px;
            font-weight: bold;
            line-height:30px ;
            margin-left: 10px;
            .timeTitle{
                text-align: right;
                padding: 0 10px;
            }
        }
        .freTrendline{
            height: calc(~"(100% - 30px)");
        }

    }

</style>
