<template>
    <el-row class="freAnaContainer">
        <common-head :DATA="FREANATITLES" :ICON="HELPICON" :TYPE="0" />
        <el-row class="freAnapie" id="freAnapie"></el-row>

    </el-row>

</template>

<script>
    import {FREANATITLES,HELPICON} from '@/store/main'
    import {queryFrequencyAnalysis} from '@/controller/api'
    import {mapState} from 'vuex'
  export default{
      data(){
          return{
              pie:null,
              toDays:[],//当日
              threeDays:[],//30天
              nineDays:[],//90天
              halfyear:[],//180天


          }
      },
      components: {
          commonHead: () => import('@/components/home/_head_title'),

      },
      mounted(){
          this.getdata()

      },
      computed: {
          FREANATITLES(){return FREANATITLES},
          HELPICON(){return HELPICON},
          ...mapState({
              headselectTime:state=>state.headselectTime,
              area:state=>state.area,
              bank:state=>state.bank,
              headTimeTypeName:state=>state.headTimeTypeName,
          })
      },
      watch:{
          headselectTime(val){this.getdata()},
          area(val){this.getdata()},
          bank(){this.getdata()},
          headTimeTypeName(val){
              if(val=='当日'&&this.toDays.length){
                  this.initpie(this.toDays)
              }else if(val=='30日'&&this.threeDays.length){
                  this.initpie(this.threeDays)
              }else if(val=='90日'&&this.nineDays.length){
                  this.initpie(this.nineDays)
              }else if(val=='180日'&&this.halfyear.length){
                  this.initpie(this.halfyear)
              }
          }

      } ,
      methods:{
          getdata(){
              this.threeDays=[]
              this.toDays=[]
              this.nineDays=[]
              this.halfyear=[]
              if(this.area && this.headselectTime && this.bank){
                queryFrequencyAnalysis({
                    HOME_PROV:this.area,//区域id
                    DAY_ID:this.headselectTime,//日期
                    BANK_ID:this.bank,//银行id
                }).then(res=>{
                    res=res.data
                    if(!res.code){
                        let activeData=res.data.activeData
                        if(activeData.length==0) {
                            this.threeDays=[]
                            this.toDays=[]
                            this.nineDays=[]
                            this.halfyear=[]
                            if(this.pie){
                                this.pie.dispose()
                            }

                            return
                        }
                        //保存数据
                        this.saveData(activeData)
                        //当天
                        this.toDays.push(parseFloat(activeData[0].proportion_today_levela).toFixed(2))
                        this.toDays.push(parseFloat(activeData[0].proportion_today_levelb).toFixed(2))
                        this.toDays.push(parseFloat(activeData[0].proportion_today_levelc).toFixed(2))
                        this.toDays.push(parseFloat(activeData[0].proportion_today_leveld).toFixed(2))
                        this.initpie(this.toDays)
                    }
                })
              }
          },
          saveData(activeData){
              //30天数据
              this.threeDays.push(parseFloat(activeData[0].proportion_30day_levela).toFixed(2))
              this.threeDays.push(parseFloat(activeData[0].proportion_30day_levelb).toFixed(2))
              this.threeDays.push(parseFloat(activeData[0].proportion_30day_levelc).toFixed(2))
              this.threeDays.push(parseFloat(activeData[0].proportion_30day_leveld).toFixed(2))
              //90天
              this.nineDays.push(parseFloat(activeData[0].proportion_90day_levela).toFixed(2))
              this.nineDays.push(parseFloat(activeData[0].proportion_90day_levelb).toFixed(2))
              this.nineDays.push(parseFloat(activeData[0].proportion_90day_levelc).toFixed(2))
              this.nineDays.push(parseFloat(activeData[0].proportion_90day_leveld).toFixed(2))
              //180天
              this.halfyear.push(parseFloat(activeData[0].proportion_180day_levela).toFixed(2))
              this.halfyear.push(parseFloat(activeData[0].proportion_180day_levelb).toFixed(2))
              this.halfyear.push(parseFloat(activeData[0].proportion_180day_levelc).toFixed(2))
              this.halfyear.push(parseFloat(activeData[0].proportion_180day_leveld).toFixed(2))

          },
          initpie(data){
              var labelTop = {
                  normal : {
                      label : {
                          show : true,
                          position : 'center',
                          formatter : '{c}%',
                          textStyle: {
                              baseline : 'center'
                          },
                          fontSize:16,
                          fontWeight:'bold',
                      },
                      labelLine : {
                          show : false
                      }
                  }
              };
              var labelBottom = {
                  normal : {
                      color: '#ccc',
                      label : {
                          show : false,
                          position : 'center'
                      },
                      labelLine : {
                          show : false
                      }
                  },
              };
              let option={
                  color:['#0085D0','#01C3CE','#00AD55','#93C31F'],
                  title:[{
                      text: '活跃',
                      left: '12.5%',
                      bottom: '1%',
                      textAlign: 'center',
                      textStyle:{
                          fontSize:10,
                          fontStyle: 'normal',
                      }
                  },
                      {
                          text: '一般',
                          left: '37.5%',
                          bottom: '1%',
                          textAlign: 'center',
                          textStyle:{
                              fontSize:10,
                              fontStyle: 'normal',
                          }
                      },
                      {
                          text: '偶尔',
                          left: '62.5%',
                          bottom: '1%',
                          textAlign: 'center',
                          textStyle:{
                              fontSize:10,
                              fontStyle: 'normal',
                          }
                      },{
                          text: '沉默',
                          left: '87.5%',
                          bottom: 0,
                          textAlign: 'center',
                          textStyle:{
                              fontSize:10,
                              fontStyle: 'normal',
                          }
                      }
                  ],
                  series:[
                      {
                          type : 'pie',
                          center : ['12.5%', '45%'],
                          radius : ['50%','70%'],
                          x: '0%', // for funnel
                          avoidLabelOverlap:false,
                          data : [
                              {name:'other', value:100-data[0], itemStyle : labelBottom},
                              {name:'活跃', value:data[0],itemStyle : labelTop}
                          ]
                      },
                      {
                          type : 'pie',
                          center : ['37.5%', '45%'],
                          radius : ['50%','70%'],
                          x: '0%', // for funnel
                          avoidLabelOverlap:false,
                          data : [
                              {name:'other', value:100-data[1], itemStyle : labelBottom},
                              {name:'一般', value:data[1],itemStyle : labelTop}
                          ]
                      },
                      {
                          type : 'pie',
                          center : ['62.5%', '45%'],
                          radius : ['50%','70%'],
                          x: '0%', // for funnel
                          avoidLabelOverlap:false,
                          data : [
                              {name:'other', value:100-data[2], itemStyle : labelBottom},
                              {name:'偶尔', value:data[2],itemStyle : labelTop}
                          ]
                      },
                      {
                          type : 'pie',
                          center : ['87.5%', '45%'],
                          radius : ['50%','70%'],
                          x: '0%', // for funnel
                          avoidLabelOverlap:false,
                          data : [
                              {name:'other', value:100-data[3], itemStyle : labelBottom},
                              {name:'沉默', value:data[3],itemStyle : labelTop}
                          ]
                      },
                  ]
              }

              this.pie=echarts.init(document.getElementById('freAnapie'))
              this.pie.setOption(option)


          }
      }
  }

</script>

<style lang="less" scoped>
    .freAnaContainer{
        width: 100%;
        height: 100%;
        //margin-right: 10px;
        background-color: #FFFFFF;
        .freAnapie{
            height: calc(~"(100% - 30px)");
        }
    }

</style>
