<template>
    <el-row class="typeContainer">
        <common-head :DATA="TYPEANATITLES" :ICON="HELPICON" :TYPE="0"/>
        <el-row class="typepie" id="typepie"></el-row>


    </el-row>

</template>

<script>
    import {TYPEANATITLES,HELPICON} from '@/store/main'
    import {queryTypeAnalysis} from '@/controller/api'
    import {mapState} from 'vuex'
  export default{
      data(){
        return{
          pie:null,//饼图
          toDays:[],//当日
          threeDays:[],//30天
          nineDays:[],//90天
          halfyear:[],//180天


        }
      },
      components: {
          commonHead: () => import('@/components/home/_head_title'),
      },
    mounted(){
        this.pie=echarts.init(document.getElementById('typepie'))
       this.getdata()


    },
    computed: {
        TYPEANATITLES(){return TYPEANATITLES},
        HELPICON(){return HELPICON},
        ...mapState({
            headselectTime:state=>state.headselectTime,
            area:state=>state.area,
            bank:state=>state.bank,
            headTimeTypeName:state=>state.headTimeTypeName,
        })
    },
      watch:{
          headselectTime(val){this.getdata()},
          area(val){this.getdata()},
          bank(val){this.getdata()},
          headTimeTypeName(val){
            if(val=='当日'){
                this.initpie(this.toDays)
            }else if(val=='30日'){
                this.initpie(this.threeDays)
            }else if(val=='90日'){
                this.initpie(this.nineDays)
            }else if(val=='180日'){
                this.initpie(this.halfyear)
            }
          }

      } ,
      methods:{
        getdata(){
          this.threeDays=[]
          this.toDays=[]
          this.nineDays=[]
          this.halfyear=[]
          if(this.area && this.headselectTime && this.bank){
            queryTypeAnalysis({
                  HOME_PROV:this.area,//区域id
                  DAY_ID:this.headselectTime,//日期
                  BANK_ID:this.bank,//银行id
              }).then(res=>{
                res=res.data
                if(!res.code){
                  let activeData=res.data.activeData
                  if(activeData.length==0) {
                      let piedata=[]
                      this.initpie(piedata)
                      return
                  }
                  //保存数据
                  this.saveData(activeData)
                  //当天
                    this.toDays.push(parseFloat(activeData[0].proportion_card1_today).toFixed(2))
                    this.toDays.push(parseFloat(activeData[0].proportion_card2_today).toFixed(2))
                    this.toDays.push(parseFloat(activeData[0].proportion_card3_today).toFixed(2))
                    this.toDays.push(parseFloat(activeData[0].proportion_card4_today).toFixed(2))
                  this.initpie(this.toDays)
                }
              })
          }
        },
        saveData(activeData){
            //30天数据
            this.threeDays.push(parseFloat(activeData[0].proportion_card1_30day).toFixed(2))
            this.threeDays.push(parseFloat(activeData[0].proportion_card2_30day).toFixed(2))
            this.threeDays.push(parseFloat(activeData[0].proportion_card3_30day).toFixed(2))
            this.threeDays.push(parseFloat(activeData[0].proportion_card4_30day).toFixed(2))
            //90天
            this.nineDays.push(parseFloat(activeData[0].proportion_card1_90day).toFixed(2))
            this.nineDays.push(parseFloat(activeData[0].proportion_card2_90day).toFixed(2))
            this.nineDays.push(parseFloat(activeData[0].proportion_card3_90day).toFixed(2))
            this.nineDays.push(parseFloat(activeData[0].proportion_card4_90day).toFixed(2))
            //180天
            this.halfyear.push(parseFloat(activeData[0].proportion_card1_180day).toFixed(2))
            this.halfyear.push(parseFloat(activeData[0].proportion_card2_180day).toFixed(2))
            this.halfyear.push(parseFloat(activeData[0].proportion_card3_180day).toFixed(2))
            this.halfyear.push(parseFloat(activeData[0].proportion_card4_180day).toFixed(2))
        },
        initpie(data){
            this.pie.clear()
            if(data.length){
                var labelTop = {
                    normal : {
                        label : {
                            show : true,
                            position : 'center',
                            formatter : '{c}%',
                            textStyle: {
                                baseline : 'center'
                            },
                            fontSize:16,
                            fontWeight:'bold',
                        },
                        labelLine : {
                            show : false
                        }
                    }
                };
                var labelBottom = {
                    normal : {
                        color: '#ccc',
                        label : {
                            show : false,
                            position : 'center'
                        },
                        labelLine : {
                            show : false
                        }
                    },
                };
                let option={
                    color:['#FC5950','#FC9A51','#FED351','#A653FD'],
                    // tooltip: {
                    //     trigger: 'item',
                    //     // formatter: "{b}: {d}%"
                    //     formatter:function(params){
                    //         if(params.name !== "other"){
                    //             return `${params.name}:${params.percent}%`
                    //         }
                    //     }
                    // },
                    title:[{
                        text: '主卡',
                        left: '12.5%',
                        bottom: '0',
                        textAlign: 'center',
                        textStyle:{
                            fontSize:10,
                            fontStyle: 'normal',
                            color:'#747474'
                        }
                    },
                        {
                            text: '副卡一',
                            left: '37.5%',
                            bottom: '0',
                            textAlign: 'center',
                            textStyle:{
                                fontSize:10,
                                fontStyle: 'normal',
                                color:'#747474'
                            }
                        },
                        {
                            text: '副卡二',
                            left: '62.5%',
                            bottom: '0',
                            textAlign: 'center',
                            textStyle:{
                                fontSize:10,
                                fontStyle: 'normal',
                                color:'#747474'
                            }
                        },{
                            text: '其他',
                            left: '87.5%',
                            bottom: '0',
                            textAlign: 'center',
                            textStyle:{
                                fontSize:10,
                                fontStyle: 'normal',
                                color:'#747474'
                            }
                        }
                    ],
                    series:[
                        {
                            type : 'pie',
                            center : ['12.5%', '45%'],
                            radius : ['50%','70%' ],
                            x: '0%', // for funnel
                            avoidLabelOverlap:false,
                            data : [
                                {name:'other', value:100-data[0], itemStyle : labelBottom},
                                {name:'主卡', value:data[0],itemStyle : labelTop}
                            ]
                        },
                        {
                            type : 'pie',
                            center : ['37.5%', '45%'],
                            radius : ['50%','70%'],
                            x: '0%', // for funnel
                            avoidLabelOverlap:false,
                            data : [
                                {name:'other', value:100-data[1], itemStyle : labelBottom},
                                {name:'副卡一', value:data[1],itemStyle : labelTop}
                            ]
                        },
                        {
                            type : 'pie',
                            center : ['62.5%', '45%'],
                            radius : ['50%','70%'],
                            x: '0%', // for funnel
                            avoidLabelOverlap:false,
                            data : [
                                {name:'other', value:100-data[2], itemStyle : labelBottom},
                                {name:'副卡二', value:data[2],itemStyle : labelTop}
                            ]
                        },
                        {
                            type : 'pie',
                            center : ['87.5%', '45%'],
                            radius : ['50%','70%'],
                            x: '0%', // for funnel
                            avoidLabelOverlap:false,
                            data : [
                                {name:'other', value:100-data[3], itemStyle : labelBottom},
                                {name:'其他', value:data[3],itemStyle : labelTop}
                            ]
                        },
                    ]
                }
                this.pie.setOption(option)
            }
      }
    }
  }

</script>

<style lang="less" scoped>
    .typeContainer{
        width: calc(~"(100% - 8px)");
        height: 100%;
        margin-right: 8px;
       // margin-bottom: 10px;
        background-color: #FFFFFF;
        .bartitle{
            color: #333333;
            height: 30px;
            font-size: 14px;
            font-weight: bold;
            line-height:30px ;
            margin-left: 10px;
        }
        .typepie{
            height: calc(~"(100% - 30px)");
        }
    }

</style>
