<template>
    <el-row class="typeTrContainer">
        <common-head :DATA="TYPETRENDTITLES" :ICON="HELPICON" :TYPE="1" @selTime="getTimer"/>
        <el-row class="typeTrline" id="typeTrline"></el-row>

    </el-row>

</template>

<script>
    import {TYPETRENDTITLES,HELPICON} from '@/store/main'
    import {queryTypeTrend} from '@/controller/api'
    import {mapState} from 'vuex'
  export default{
    data(){
      return{
          line:null,
          card1:[],//主卡
          card2:[],//副卡一
          card3:[],//副卡二
          card4:[],//其他
          startAndEndtime:[]
      }
    },
      components: {
          commonHead: () => import('@/components/home/_head_title'),
      },
      computed: {
          TYPETRENDTITLES(){return TYPETRENDTITLES},
          HELPICON(){return HELPICON},
          ...mapState({
              area:state=>state.area,
              bank:state=>state.bank,
          })
      },
      watch:{
          area(val){this.getdata()},
          bank(val){this.getdata()},
      } ,
    mounted(){
     // this.initLine()

    } ,
    methods:{
        getTimer(val){
            this.startAndEndtime = val
            this.getdata()
        },
        getdata(){
            this.card1=[]
            this.card2=[]
            this.card3=[]
            this.card4=[]
            if(this.area && this.bank){
                queryTypeTrend({
                    HOME_PROV:this.area,//区域id
                    START_DAY:this.startAndEndtime[0],//日期
                    END_DAY:this.startAndEndtime[1],//结束时间为选中的时间
                    BANK_ID:this.bank,//银行id
                }).then(res=>{
                    res=res.data
                    if(!res.code){
                        let activeData=res.data.activeData
                        if(activeData.length==0) {
                            this.card1=[]
                            this.card2=[]
                            this.card3=[]
                            this.card4=[]
                            if(this.line){
                                this.line.dispose()
                            }

                            return
                        }
                        let xdata=activeData.map(item=>{
                            //当天
                          return item.day_id.toString().replace(/(\d{4})(\d{2})(\d{2})/,"$1年\n$2月$3日")
                        })
                        activeData.forEach((item,index)=>{

                            this.card1.push(item.proportion_card1_today)
                            this.card2.push(item.proportion_card2_today)
                            this.card3.push(item.proportion_card3_today)
                            this.card4.push(item.proportion_card4_today)
                        })
                        //保存数据

                        this.initLine(xdata,this.card1,this.card2,this.card3,this.card4)


                    }

                })
            }
        },

        initLine(xdata,data1,data2,data3,data4){
            this.line=echarts.init(document.getElementById('typeTrline'))
            let names=['主卡', '副卡一', '副卡二','其他']
            let color=['rgb(252,91,83)','rgb(252,160,93)','rgb(253,211,82)','rgb(166,81,253)']
            let data=[data1,data2,data3,data4]
            let series=[]
            let seriesItem={}
            names.forEach((item,index)=>{
                series.push(seriesItem={
                    name:item,
                    type: 'line',
                    smooth: true,
                    lineStyle: {
                        normal: {
                            width: 1
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: color[index]
                        }
                    },
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: color[index].substring(0,color[index].length-1)+',0.1)'//rgba(252,91,83, 0.1)
                            }, {
                                offset: 0.8,
                                color:color[index].substring(0,color[index].length-1)+',0)'// 'rgba(252,91,83, 0)'
                            }], false),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                            shadowBlur: 10
                        }
                    },
                    data:data[index]
                })
            })
        let option={
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    lineStyle: {
                        color: '#57617B'
                    }
                }
            },
            legend: {
                icon: 'rect',
                itemWidth: 14,
                itemHeight: 5,
                itemGap: 13,
                data: ['主卡', '副卡一', '副卡二','其他'],
                left: '15%',
                top:0,
                textStyle: {
                    fontSize: 10,
                    color: '#686868'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '0',
                top:20,
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                axisLine: {
                    show:false,
                    lineStyle: {
                        color: '#57617B'
                    }
                },
                axisTick: {
                    show: false
                },
                data: xdata
            }],
            yAxis: [{
                type: 'value',
                axisTick: {
                    show: false
                },
                axisLine: {
                    show:false,
                    lineStyle: {
                        color: '#57617B'
                    }
                },
                axisLabel: {
                    margin: 10,
                    textStyle: {
                        fontSize: 10
                    }
                },
                splitLine: {
                    show:false
                }
            }],
            series:series,
        }

        this.line.setOption(option)

      }
    }
  }

</script>

<style lang="less" scoped>
    .typeTrContainer{
        width: calc(~"(100% - 8px)");
        height: calc(~"(100% - 8px)");
        margin-top: 8px;
        background-color: #FFFFFF;
        .bartitle{
            color: #333333;
            height: 30px;
            font-size: 14px;
            line-height:30px ;
            margin-left: 10px;
            font-weight: bold;
            .timeTitle{
                text-align: right;
                padding: 0 10px;
            }
        }
        .typeTrline{
            height: calc(~"(100% - 30px)");
        }
    }

</style>
