<template>

    <el-row class="body_left">
        <div class="body_left_title" style="height:60px;" @click='radioChange(7)'>一米豆腐</div>
        <div class="body_left_title" @click='radioChange(8)'>我的订阅</div>
        <div class="body_left_title" @click='radioChange(9)'>我的收入</div>
        <div class="body_left_title" @click='radioChange(10)'>我的收藏</div>
        <div class="body_left_title" @click='radioChange(11)'>我的邀约</div>
        <div class="body_left_title" @click='radioChange(12)'>我的发布</div>
        <div class="body_left_title" @click='radioChange(13)'>用户须知</div>
    </el-row>
</template>
<script>

</script>
<style lang="less" scoped>
    .body_left {


        .body_left_title {
            height: 45px;
            width: 100%;
            text-align: center;

        }

        :hover {
            background-color: rgb(55, 94, 163);
        }

        :active {
            background-color: rgb(55, 94, 163);
        }

    }
</style>
