<template>
  <el-row class="left_1">
    <common-head :DATA="CONSFRE_LEFT_1_TITLES" :ICON="HELPICON" :TYPE="0"/>
    <el-row class="double_container">
      <el-col :span="4" class="icon_item" style="text-align: right;">
        <i></i>
        <span class="analysis_span">
          <icon icon="comment-dots" class="analysis_icon"/>
        </span>
      </el-col>
      <el-col :span="20" class="icon_item">
        <el-col :span="12" class="analysis_item" v-for="(v,i) in CONSFREANALYSISTYPES.slice(0,2)">
          <el-row class="analysis_item_title"><i class="help_i"></i>{{v}}</el-row>
          <el-row class="analysis_item_count"><i class="help_i"></i>{{data.slice(0,2)[i]}}</el-row>
        </el-col>
      </el-col>
    </el-row>
    <el-row class="double_container">
      <el-col :span="4" class="icon_item" style="text-align: right;">
        <i></i>
        <span class="analysis_span">
          <icon icon="user" class="analysis_icon"/>
        </span>
      </el-col>
      <el-col :span="20" class="icon_item">
        <el-col :span="12" class="analysis_item" v-for="(v,i) in CONSFREANALYSISTYPES.slice(2,4)">
          <el-row class="analysis_item_title"><i class="help_i"></i>{{v}}</el-row>
          <el-row class="analysis_item_count"><i class="help_i"></i>{{data.slice(2,4)[i]}}</el-row>
        </el-col>
      </el-col>
    </el-row>
  </el-row>
</template>

<script>
import {CONSFRETYPES,CONSFREANALYSISTYPES,CONSFRE_LEFT_1_TITLES,HELPICON} from '@/store/main'
export default {
  props:{
    data:{
      type: Array,
      default:[]
    }
  },
  components: {
    commonHead: () => import('@/components/home/_head_title'),
  },
  data () {
    return {
      
    }
  },
  computed: {
    CONSFRETYPES(){return CONSFRETYPES},
    CONSFREANALYSISTYPES(){return CONSFREANALYSISTYPES},
    CONSFRE_LEFT_1_TITLES(){return CONSFRE_LEFT_1_TITLES},
    HELPICON(){return HELPICON}
  },
  methods: {

  }
}
</script>

<style lang="less" scoped>
  .left_1{
    height: 100%;
    .double_container{
      height: calc(~"(50% - 15px)");
      .icon_item{
        height: 100%;
        i{
          display: inline-block;
          height: 100%;
          width: 0;
          vertical-align: middle;
        }
        .analysis_span{
          display: inline-block;
          width: 30px;
          height: 30px;
          background: #409EFF;
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
          .analysis_icon{
            color: #fff;
          }
        }
      }
      .analysis_item{
        text-align: center;
        height: 100%;
        font-size: 13px;
        position:relative;
        .analysis_item_title{
          height: 50%;
          color: #666666;
        }
        .analysis_item_count{
          height: 50%;
          color: #0185cf;
        }
      }
    }
  }
</style>
