<template>
        <el-row class="index_body">
            <el-row   style="height: 130px; ">
                <el-button  style="float: left; margin-top: 50px;height: 40px;border-radius: 20px;border: 1px solid #b2b2b2;" round>
                    <span style="font-size: 22px;color: #b2b2b2; font-weight: 300; text-align: center;" @click='redirectIndex()'>首页 &nbsp;&nbsp;</span>
                </el-button>
                <el-button  style="float: left; margin-top: 50px;width: 134px; height: 40px;margin-left: -30px;line-height: 20px;border-radius: 20px;background-color: #375ea3;" round>
                    <span style="font-size: 24px;color: #ffffff;font-weight: 500;  text-align: center;"  >行业资讯</span>
                </el-button>
            </el-row>
            <el-row class="index_body_data">

                <el-row v-for="type in tableData" class="index_body_info">

                    <img src="../../assets/img/bd.png" class="index_body_data_img"/>
                    <el-row class="index_body_data_info">
                        <el-row class="index_body_data_info_title"> {{type.name}} </el-row>
                        <el-row class="index_body_data_info_body"> {{type.address}} </el-row>
                        <el-row class="el-divider--horizontal"></el-row>
                        <el-row class="index_body_data_info_date"> {{type.name}}  </el-row>
                    </el-row>
                </el-row>
                <el-row style=" float:left;">
                    <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page.sync="currentPage3"
                        :page-size="20"
                        layout="prev, pager, next, jumper"
                        :total="totalCount"

                        next-text="下一页"
                        prev-text="上一页">
                    </el-pagination>
                </el-row>
                <el-button style=" float:left;margin-top: 30px;margin-left: 30px;background-color: rgb(55, 94, 163);color:rgb(255, 255, 255);width:60px;height:35px;" @click="getDataByPage">确定</el-button>
            </el-row>
        </el-row>
</template>
<script>
    const cityOptions = ['上海', '北京', '广州'];
    const typeOptions = ['深圳', '上海', '北京'];
    const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
    export default {
        data() {
            return {

                checkboxGroup: ['上海'],
                checkTypeGroup: ['仓储/仓储一体'],
                checkDateGroup: ['不限'],
                types: typeOptions,
                dates: dateOptions,
                cities: cityOptions,
                currentPage: 1,
                totalCount:0,
                tableData: [{
                    img: '../assets/img/hz.jpg',
                    name: '王小虎',
                    address: '在改革开放的初期，一批商人迅速崛起，将市场进行垄断。在这个时代，商品需求远远的大于人们的生产能力，在卖方市场的红利下，财富开始快速的累积。人们认识到商业所能带来的财富远远的大于其他的模式下的经济，利用不对等的信息，快速的一批跟随者涌入商业市场，并且谋取大量财富'
                }, {
                    img: '../assets/img/hz.jpg',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    img: '../../assets/img/hz.jpg',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    img: '../assets/img/hz.jpg',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    img: '../assets/img/hz.jpg',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    img: '../assets/img/hz.jpg',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    img: '../assets/img/hz.jpg',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    img: '../assets/img/hz.jpg',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }]


            };
        },
        components: {
            baseHeader: () => import('@/components/home/indexHeader'),
            baseFooter: () => import('@/components/home/footer'),
            sideMenu: () => import('@/components/home/menu'),
        }
        , methods: {
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            }
        }
    }
</script>
<style lang="less" scoped>

        .index_body {
            height: 100%;
            padding: 0px 360px 0px 360px;

            .index_body_dh {
                height: 100px;
                .index_body_dh_left {
                    width: 30%;
                    float: left;
                    padding: 35px 0px 0px 0px;
                }
            }
            .index_body_data {
                height: 78%;

                .index_body_info {
                    margin-right: 20px;
                    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                    height: 365px;
                    width: 280px;
                    float: left;
                    margin-top: 20px;

                    .index_body_data_img {
                        height: 60%;
                        width: 100%;

                    }
                    .index_body_data_info {

                        height: 30%;
                        padding: 10px 20px 0px 20px;
                        .index_body_data_info_title {

                            height: 30%;
                        }
                        .index_body_data_info_body {

                            height: 40%;
                            display: -webkit-box;
                            overflow: hidden;
                            color: #a7a7a7;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;

                        }
                        .index_body_data_info_date {

                            height: 30%;
                            display: -webkit-box;
                            overflow: hidden;
                            color: #a7a7a7;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                        }
                    }
                }
            }

        }

    .el-divider--horizontal {
        margin: 8px 0;
        background: 0 0;
        border-top: 1px dashed #e8eaec;
    }

    .line-left-right {

        padding: 0 0px 0px;

        margin: 20px 0px;

        line-height: 1px;

        border-left: 750px solid rgb(221, 221, 221);

        border-right: 750px solid rgb(221, 221, 221);

        text-align: center;

        height: 2px;

    }

</style>

