<template>
  <el-row class="left_3">
    <common-head :DATA="title" :ICON="HELPICON" :TYPE="0"/>
    <el-row class="pie_container" id="pie_container"></el-row>
  </el-row>
</template>

<script>
import {HELPICON,PIESERIESDATA,COLORS,GETLEGENDDATA} from '@/store/main'
export default {
  props:{
    title:{
      type: Object,
      default:{}
    },
    data:{
      type: Array,
      default:[]
    }
  },
  components: {
    commonHead: () => import('@/components/home/_head_title'),
  },
  data () {
    return {

    }
  },
  watch:{
    data(val){this.initCharts(val)}
  },
  mounted(){
      this.myChart = echarts.init(document.getElementById('pie_container'))
      this.initData(this.data)
  },
  computed: {
    SHARETITLES(){return SHARETITLES},
    HELPICON(){return HELPICON},
  },
  methods: {
    initData(data){
      this.initCharts(data)
    },
    initCharts(data){
      this.myChart.clear()
      if(data){
        const option = {
          color: COLORS,
          legend:GETLEGENDDATA(data),
          tooltip : {
              trigger: 'item',
              formatter: "{b} : {c} ({d}%)"
          },
          series:PIESERIESDATA(data)
        };
        this.myChart.setOption(option);
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .left_3{
    height: 100%;
    .pie_container{
      height: calc(~"(100% - 30px)");
    }
  }
</style>
