<template>
  <el-row class="right_1">
    <h3 class="head_title">{{title}}</h3>
    <div id="chinamap_container">
      <div id="map" ref="map_container"></div>
      <div v-show="provinceVisable" ref="demo" id="ripple"></div>
      <span v-show="provinceVisable" ref="line1" id="line1" class="selecttip itemline"></span>
      <span v-show="provinceVisable" ref="line2" id="line2" class="selecttip itemline"></span>
      <div id="proitem" ref="proitem" v-show="provinceVisable" class="selecttip iteminfo">
        <el-col :span="i == 0 ? 10 : 7" v-for="(v,i) in types"><div>{{v}}</div><div>{{data[i]}}</div></el-col>
      </div>
    </div>
  </el-row>
</template>

<script>
import {animate,leaveAnimation,enterAnimation} from '@/controller/utils'
import {CHINAMAPOPTION} from '@/store/main'
export default {
  props:{
    title:{
      type: String,
      default:{}
    },
    types:{
      type: Array,
      default:[]
    },
    data:{
      type: Array,
      default:[]
    }
  },
  components: {

  },
  data () {
    return {
      provinceVisable:false,
      provinceName:null,
      containerWidth:null,
    }
  },
  mounted(){
      this.myChart = echarts.init(document.getElementById('map'))
      this.myChart.showLoading();
      this.init()
      this.myChart.hideLoading();
  },
  computed: {
    
  },
  methods: {
    init(){
      let _this=this
      this.containerWidth=this.$refs.map_container.offsetWidth
      this.myChart.setOption(CHINAMAPOPTION);
      this.myChart.on('click', function (params) {
          if(params.name!=="台湾" && params.name!=="南海诸岛" && params.name!=="香港" && params.name!=="澳门" && _this.$store.state.areaName == params.name){
              _this.provinceName=params.name
              leaveAnimation(_this)
              _this.myChart.dispatchAction({type: 'downplay'})
              _this.myChart.dispatchAction({type: 'highlight',name: params.name})
              if (params.componentType === 'series') {
                  const pixel=this.convertToPixel("geo", this.getModel().getComponent("geo").coordinateSystem.getRegion(params.name).center)
                  if("西藏" === params.name || "青海" === params.name){
                      enterAnimation(_this,pixel,-135,100)
                  }else if("海南" == params.name){
                      enterAnimation(_this,pixel,-60,160)
                  }else if("新疆" == params.name){
                      enterAnimation(_this,pixel,-115,100)
                  }else{
                      enterAnimation(_this,pixel,-75,120)
                  }
              }

          }
      })
    }
  }
}
</script>

<style lang="less" scoped>
  @import '../../style/animate.css';
  .right_1{
    height: 100%;
    #chinamap_container{
      height:calc(~"(100% - 30px)");
      position: relative;
      #map{
        height: 100%;
      }
    }
    #ripple{
        background-color: #fff;
        width: 8px;
        position: absolute;
        height: 8px;
        border-radius: 50%;
        -webkit-animation: ripple 3s linear infinite;
        transition: .5s linear opacity;
        -webkit-transition: .5s linear opacity;
    }
    .selecttip.itemline {
        border-top: 1px solid #39aaeb;
        width: 0px;
        position: absolute;
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    .selecttip.iteminfo {
        text-align: center;
        color: #000;
        font-size: 14px;
        line-height: 50px;
        position: absolute;
        height: 0px;
        width: 200px;
        opacity: 0;
        float: right;
        background: #aaa;
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
  }
</style>
