<template>
  <el-row class="left_2">
    <common-head :DATA="title" :ICON="HELPICON" :TYPE="0"/>
    <el-row class="act_container" id="act_container"></el-row>
  </el-row>
</template>

<script>
import {HELPICON,GETSERIESDATA,COLORS,GETLEGENDDATA} from '@/store/main'
export default {
  props:{
    title:{
      type: Object,
      default:{}
    },
    data:{
      type: Array,
      default:[]
    }
  },
  components: {
    commonHead: () => import('@/components/home/_head_title'),
  },
  data () {
    return {

    }
  },
  mounted(){
      this.myChart = echarts.init(document.getElementById('act_container'))
      this.initData(this.data)
  },
  watch:{
    data(val){this.initCharts(val)}
  },
  computed: {
    HELPICON(){return HELPICON},
  },
  methods: {
    initData(data){
      this.initCharts(data)
    },
    initCharts(data){
      this.myChart.clear()
      if(data){
        const option = {
          color: COLORS,
          tooltip : {
              show: true,
              formatter:function(params){
                if(params.name){
                  return `${params.name}：${params.percent}%`
                }
              }
          },
          legend:GETLEGENDDATA(data),
          series:GETSERIESDATA(data)
        };
        this.myChart.setOption(option);
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .left_2{
    height: 100%;
    .act_container{
      height: calc(~"(100% - 30px)");
    }
  }
</style>
