<template>
  <el-row>
    <el-col :span="TYPE !== 0 ? 10 : 18">
      <h3 class="head_title">{{DATA.HEADTITLE}}</h3>
    </el-col>
    <el-col :span="TYPE !== 0 ? 14 : 6" class="head_title span_title">
      <span v-show="TYPE == 0">{{TIMELABEL}}</span>
        <el-date-picker
            v-show="TYPE == 1"
            v-model="startTime"
            type="date"
            value-format="yyyyMMdd"
            @change="startchange"
            size="mini"
            style="width:150px;"
            placeholder="选择日期">
        </el-date-picker>
        <span v-show="TYPE == 1">至</span>
        <el-date-picker
            v-show="TYPE == 1"
            v-model="endTime"
            type="date"
            value-format="yyyyMMdd"
            @change="endchange"
            size="mini"
            style="width:150px;"
            placeholder="选择日期">
        </el-date-picker>
      <el-tooltip effect="dark" placement="right">
        <div slot="content" class="tip_content" v-html="typeof(DATA.CONTENT) == 'object' ? DATA.CONTENT[CURRENTTIMETYPE].META : DATA.CONTENT"></div>
        <icon :icon="ICON.ICON" :color="ICON.ICONCOLOR" class="title_icon"/>
      </el-tooltip>
    </el-col>
  </el-row>
</template>

<script>
export default {
  props:{
    DATA:Object,
    ICON:Object,
    TYPE:Number
  },
  data () {
    return {
        startTime:'',
        endTime:'',
        timeData:[]
    }
  },
  computed: {
    CURRENTTIMETYPE(){return this.$store.state.headTimeType},
    TIMELABEL(){return this.$store.state.headTimeTypeName}
  },
  mounted(){
    this.initTime()
    this.timeData=[]
    this.timeData.push(this.startTime)
    this.timeData.push(this.endTime)
    this.$emit('selTime',this.timeData)
  } ,
  methods: {
      initTime(){
          let d=new Date()
          let year=d.getFullYear()+''
          let month=d.getMonth()+1
          let day=d.getDate()+''
          let endtime=''
          if(month<10){
              endtime= year+'0'+month+day
          }else {
              endtime= year+month+day
          }
          let t=endtime.substring(0,4)+'-'+endtime.substring(4,6)+'-'+endtime.substring(6)
          var formatTimeS = new Date(t).getTime();
          let date=new Date(formatTimeS-3600*1000*24*30)
          var lastY = date.getFullYear()+'';
          var lastM = date.getMonth()+1;
          var lastD = date.getDate()+'';
          let starttime=''
          if(lastM<10){
              //this.headerSearch.time= year+'0'+month+day
               starttime=lastY+'0'+lastM+lastD
          }else {
               starttime= lastY+lastM+lastD
          }
          this.startTime=starttime
          this.endTime=endtime
      },
      startchange(){
          this.timeData=[]
          this.timeData.push(this.startTime)
          this.timeData.push(this.endTime)
          this.$emit('selTime',this.timeData)
      },
      endchange(){
          this.timeData=[]
          this.timeData.push(this.startTime)
          this.timeData.push(this.endTime)
          this.$emit('selTime',this.timeData)
      }
  }
}
</script>

<style lang="less" scoped>
  .span_title{
    text-align: right;
    font-size: 12px;
  }
  .title_icon{
    font-size: 14px;
  }
  .tip_content{
    max-width: 300px;
  }
  .el-date-editor .el-range__close-icon{
    width: 0;
  }
  .el-input__icon{
    width: 0;
  }
  .el-input__inner{
    width: 220px;
    border:none
  }
</style>
