<template>
    <el-row class="line_container">
      <common-head :DATA="title" :ICON="HELPICON" :TYPE="1" @selTime="selTime"/>
      <el-row class="line_chart" id="lineChart"></el-row>
    </el-row>
</template>

<script>
  import {HELPICON,LINEOPTION} from '@/store/main'
  export default{
      props:{
        title:{
          type: Object,
          default:{}
        },
        data:{
          type: Object,
          default:{}
        }
      },
      data(){
          return{
              
          }
      },
      components: {
        commonHead: () => import('@/components/home/_head_title'),
      },
      mounted(){
        this.myChart = echarts.init(document.getElementById('lineChart'))
        this.initData(this.data)
      } ,
      computed: {
          HELPICON(){return HELPICON},
      },
      methods:{
        selTime(data){
          this.$emit("selTime",data)
        },
        initData(data){
          this.initCharts(data)
        },
        initCharts(data){
          const option = _.merge({
              legend: {
                data: data.legendData,
              },
              xAxis: {
                data: data.xAxisData
              },
              series:data.seriesData
          },LINEOPTION(2))
          this.myChart.setOption(option);
        }
      }
  }

</script>

<style lang="less" scoped>
    .line_container{
        width: 100%;
        height: calc(~"(100% - 10px)");
        margin-top: 10px;
        background-color: #FFFFFF;
        .line_chart{
            height: calc(~"(100% - 30px)");
        }
    }
</style>
