<template>
    <svg v-if="iconId" class="icon" aria-hidden="true">
        <use :xlink:href="iconId"></use>
    </svg>
</template>

<script>
export default {
    name: 'svg-icon',
    props: {
        id: {
            type: String,
            default: ''
        }
    },
    computed: {
        iconId() {
            return this.id ? `#${this.id}` : '';
        }
    }
};
</script>
<style lang="less" scoped>
    .icon {
      width: 1.2em;
      height: 1.2em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
</style>