<template>
  <el-row class="right_2">
    <el-row class="table_container">
      <el-table :data="data" :span-method="mergeRowMethod" size="mini" :cell-style="cellStyle" :header-cell-style="headerCellStyle" border stripe>
          <el-table-column prop="name" v-for="(v,i) in head.FIRST" :label="v">
            <template slot-scope="scope">
              <span v-if="i == 1">
                <svg-icon :id="BANKICON[scope.row.name]"/>
                {{scope.row.name}}
              </span>
              <span v-if="i == 0">
                {{scope.row.type}}
              </span>
            </template>
          </el-table-column>
          <el-table-column v-for="(item,index) in head.SECOND" width="173">
              <template slot="header" slot-scope="scope">
                  <span class="headerText">{{item}}</span>
                  <span class="headerCount">
                      <span class="table_item" v-for="v in head.THIRD">{{v}}</span>
                  </span>
              </template>
              <template slot-scope="scope">
                  <div class="listCount">
                      <span class="list_item">{{data[scope.$index].dayData[index][0]}}</span>
                      <span class="list_item">{{parseFloat(data[scope.$index].dayData[index][1]).toFixed(2)+"%"}}</span>
                      <span class="list_item" :class="data[scope.$index].dayData[index][2]>0 ? 'color_red' : 'color_green'">
                        {{data[scope.$index].dayData[index][2] ? parseFloat(data[scope.$index].dayData[index][2]).toFixed(2)+"%" : 0}}
                        <svg-icon style="width: 0.5em;" :id="data[scope.$index].dayData[index][2]>0 ? 'l-shangsheng' : 'l-xiajiang'"/>
                      </span>
                  </div>
              </template>
          </el-table-column>
      </el-table>
    </el-row>
    <el-row class="pagination">
        <pagination :total="total" @pageData="getPageData"/>
    </el-row>
  </el-row>
</template>

<script>
import { BANKICON } from "@/store/main"
export default {
  props:{
    head:{
      type: Object,
      default:{}
    },
    data:{
      type: Array,
      default:[]
    },
    total:{
      type:Number
    }
  },
  components: {
    pagination: ()=> import('@/components/pagination/pagination')
  },
  data () {
    return {

    }
  },
  computed: {
    headerCellStyle(){return {background:'#A0A0A0',color:'#fff',textAlign:'center',padding:'2px',fontSize:'10px'}},
    cellStyle(){return {textAlign:'center',padding:'2px',fontSize:'10px'}},
    BANKICON(){return BANKICON},
    getRows(){return this.data.filter(v => v.type==="国有商业银行").length},
  },
  methods: {
    getPageData(data){
      this.$emit("getPageData",data)
    },
    mergeRowMethod({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 0) {
        if (rowIndex === 0) {
          return {
            rowspan: this.getRows,
            colspan: 1
          };
        }else if(rowIndex === this.getRows){
          return {
            rowspan: this.data.length - this.getRows,
            colspan: 1
          };
        } else {
          return {
            rowspan: 0,
            colspan: 0
          };
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .right_2{
    height: 100%;
    .table_container{
      height: calc(~"(100% - 30px)");
      width: 100%;
      overflow: auto;
      outline: 2px solid #e5e5e5;
      .headerText{
        color: #fff;
        display: block;
        border-bottom: 1px solid #fff;
      }
      .headerCount{
        width: 100%;
        .table_item{
          display: inline-block;
          width: 32%;
          white-space: nowrap;
        }
      }
      .listCount{
        width: 100%;
        .list_item{
            display: inline-block;
            width: 32%;
        }
        .color_red{
          color: #fc5b51;
        }
        .color_green{
          color: #00ad53;
        }
      }
    }
  }
</style>
