<template>

    <el-row class="maker_footer">
        <el-col class="index_foot_sm">
            <img src="../../assets/img/logo_db.png" style="float: left;width: 30%;"/>
            <div
            style="float: left; margin-left:5px;width:16px;height:120px;font-size: 15px;letter-spacing: 1px; color: #375ea3;font-family:'Source Han Sans SC';font-weight: bolder;">
            关注公众号
            </div>
            <div
            style="float: left; margin-left:5px;width:16px;height:120px;font-size: 15px;letter-spacing: 1px; color: #375ea3;font-family: 'Source Han Sans SC';font-weight: bolder;">
            随时掌握一手商机
            </div>

            <div style="border: 1px solid #375ea3;width: 130px;height: 130px;float: left;margin-left: 20px;"></div>


            <div
            style="float: left; margin-left:40px;width:16px;height:120px;font-size: 15px;letter-spacing: 1px; color: #375ea3;font-family: 'Source Han Sans SC';font-weight: bolder;">
            扫码入群
            </div>

            <div style="border: 1px solid #375ea3;width: 130px;height: 130px;float: left;margin-left: 20px;"></div>


            <div
            style="float: left;margin-left:70px;margin-top:70px;font-size: 16px;letter-spacing: 2px;line-height: 30px;color: #375ea3;font-family: 'Source Han Sans SC';    font-weight: bolder;">
            &nbsp;&nbsp;联系我们
            <br>
            <img src="../../assets/img/email.png" style="float: left;"/>
            </div>

        </el-col>

        <el-col class="index_foot_db">
            版权所有：熵机网 / 备案号： 京ICP备015647845
        </el-col>


    </el-row>
</template>

<script>

    export default {

    }
</script>

<style lang="less" scoped>


    .maker_footer {
        height: 100%;
        width: 100%;

    }




    .index_foot_sm {
        height: 240px;
        padding: 50px 20% 60px 20%;
        float: left;
        font-size: 20px;
        background-image: url("../../assets/img/logo_foot.png");
    }

    .index_foot_db {
        height: 70px;
        width: 100%;
        background-color: #375ea3;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 70px;
        color: #79a1e9;
        font-family: "Source Han Sans SC";
        font-weight: 400;
        text-align: center;

    }

</style>
