<template>

  <el-container class="full_container">
    <el-header>
     <el-col class="maker_logo"></el-col>
      <el-col class="maker_logo"> <img :src="HEADER.LOGO" alt="" class="logo_img"></el-col>
       <el-col class="maker_logo"></el-col>
       <el-col class="maker_logo">
         <el-input placeholder="请输入人群类型" style="margin-top: 15px;" ></el-input>
     </el-col>
     <el-col class="maker_logo"></el-col>
    </el-header>
    <el-col class="main_container">

       <el-col class="title_left"> </el-col>
      <el-col class="title_center">
        <span @click='radioChange(0)'>商机</span>
        <span @click='radioChange(1)'>供给</span>
        <span @click='radioChange(2)'>发布</span>
        <span @click='radioChange(3)'>商机订阅</span>
        <span @click='radioChange(4)'>媒体报道</span>
        <span @click='radioChange(5)'>行业资讯</span>
        <span @click='radioChange(6)'>关于我们</span>

      </el-col>
     <el-col class="title_right"> </el-col>



    </el-col>

     </el-container>
</template>

<script>
import { HEADER,HEADERTIME } from '@/store/header'
import {mapState} from 'vuex'
import {setStore,removeStore} from '@/controller/utils'
import {BANKICON} from "@/store/main"
export default {
  props:{
      isApipage:Boolean,
      bankId:String
  },
  data () {
    return {
      HEADER:HEADER,
      headerSearch:{
        bank:null,
        region:null,
        time:this.$store.state.headselectTime
      },
      headerTime:this.$store.state.headTimeType,
      bankListData:[],
      cityListData:[],
    }
  },
  computed: {


  },

  methods: {
   radioChange(value){
   console.log(value)
                if(value==0){
                    this.$router.push({path:'sjdy'})
                }else if(value==1){
                   this.$router.push('login')
                }else if(value==2){
                   this.$router.push('login')
                }else if(value==3){
                    this.$router.push('login')
                }else if(value==4){
                   this.$router.push('login')
               }else if(value==5){
                   this.$router.push('login')
               }else if(value==6){
                   this.$router.push('login')
               }
              }
  }
}
</script>

<style lang="less">

 .full_container{
    height: 100%;
    width: 100%!important;
    .main_container{
      height: 40%;
      width: 100%;
      background-color: #3366CC;
       .title_left{

         height:  100%;
         width: 20%;
         margin-right: 0px;
         font-size: 20px;

        }
        .title_center{

             height:  100%;
             width: 53%;
             margin-right: 0px;
             font-size: 20px;
              span{
                      width: 13%;
                     margin-top: 15px;
                     display: inline-block;
                     cursor: pointer;
                     float: left;

                   }
        }
        .title_right{
              height: 27%;
              width: 100%;
              background-color: #3366CC;

    }
}
  }
  .el-header {
    height: 60% !important;
    width: 100%;
    .maker_logo{
         height:  100%;
         width: 20%;
          margin-top: 15px;
         margin-right: 0px;
         font-size: 20px;

    }
  }

</style>
