<template>

<el-row  class="maker_header">
    <el-col  class="maker_logo">  </el-col>
    <el-col  class="maker_logo"> <img :src="HEADER.LOGO" alt="" class="logo_img"  > </el-col>
    <el-col  class="maker_logo"> </el-col>
    <el-col  class="maker_logo">
        <el-col style="width: 60%; margin-top: 15px;">
            <el-input placeholder="请输入内容"   class="input-with-select" >
                <el-button slot="append" icon="el-icon-search" style=" background-color: #4169E1;"></el-button>
            </el-input>
         </el-col>
         <el-col style="width: 10%; margin-top: 15px;">

                  </el-col>
        <el-col style="width: 30%;">
                <el-col style="height: 50%;  ">
                <img :src="HEADER.PEOPLE" alt="" class="logo_img" />

                </el-col><el-col style="height: 50%;">
                <el-button type="text" style="width: 12%;">登录/</el-button>
                 <el-button type="text" style="width: 12%;">注册</el-button>
                </el-col>
        </el-col>

    </el-col>
    <el-col  class="maker_logo">  </el-col>
     <el-col  class="maker_title">

        <el-col class="title_left"> </el-col>
             <el-col class="title_center">
               <span @click='radioChange(0)'>商机</span>
               <span @click='radioChange(1)'>供给</span>
               <span @click='radioChange(2)'>发布</span>
               <span @click='radioChange(3)'>商机订阅</span>
               <span @click='radioChange(4)'>媒体报道</span>
               <span @click='radioChange(5)'>行业资讯</span>
               <span @click='radioChange(6)'>关于我们</span>

             </el-col>
            <el-col class="title_right"> </el-col>
      </el-col>

</el-row>
</template>

<script>
import { HEADER,HEADERTIME } from '@/store/header'
import {mapState} from 'vuex'
import {setStore,removeStore} from '@/controller/utils'
import {BANKICON} from "@/store/main"
export default {
  props:{
      isApipage:Boolean,
      bankId:String
  },
  data () {
    return {
      HEADER:HEADER,
      headerSearch:{
        bank:null,
        region:null,
        time:this.$store.state.headselectTime
      },
      headerTime:this.$store.state.headTimeType,
      bankListData:[],
      cityListData:[],
    }
  },
  computed: {


  },

  methods: {
   radioChange(value){
   console.log(value)
                if(value==0){
                this.$router.push('sjdy')

                }else if(value==1){
                var _this = this
                                 _this.$router.replace({path: '/DashBoard', params: {id: 1}})

                }else if(value==2){
                   this.$router.push('login')
                }else if(value==3){
                    this.$router.push('mybd')
                }else if(value==4){
                   this.$router.push('login')
               }else if(value==5){
                   this.$router.push('login')
               }else if(value==6){
                   this.$router.push('login')
               }
              }
  }
}
</script>

<style lang="less">
 .grid-content {
     background-color: rgb(44, 143, 121);
        border-radius: 4px;
        min-height: 150px;
        min-width: 100px;
}
.maker_header{
height:  100%;
 width: 100%;

}
 .maker_logo{
      height:  50%;
      width: 20%;

      font-size: 20px;

  }
  .maker_title{
        height:  50%;
        width: 100%;

        background-color: #4169E1;
         .title_left{

                 height:  100%;
                 width: 20%;
                 margin-right: 0px;
                 font-size: 20px;

                }
                .title_center{

                     height:  100%;
                     width: 53%;
                     margin-right: 0px;
                     font-size: 20px;
                      span{
                              width: 13%;
                             margin-top: 15px;
                             display: inline-block;
                             cursor: pointer;
                             float: left;

                           }
                }
                .title_right{
                      height: 100%;
                      width: 27%;


            }
    }

</style>
