<template>

    <el-row class="maker_header">
        <el-col class="maker_logo">
            <el-col style="width: 360px;  margin-top: 15px;">
                <img :src="HEADER.LOGO" alt="" class="logo_img" style="float: left;"/>
                <div style="font-size: 18px;margin-top: 35px;line-height: 30px;color: #375ea3;font-family:'Noto Sans SC';
      font-style: normal;font-weight: 700;float: left;">
                    |中国领先的物流仓储商机平台
                </div>
            </el-col>
            <el-col style="width: 360px;  margin-top: 15px;"></el-col>
            <el-col style="width: 290px;  margin-top: 30px;  ">
                <el-input style=" border: 2px solid rgb(55, 94, 163);">
                    <el-button slot="append" icon="el-icon-search"
                               stype="background-color: rgb(55, 94, 163);"></el-button>
                </el-input>
            </el-col>
            <el-col style="width: 30px;    margin-top: 30px; margin-left: 70px; font-size: 10px; ">
                <img src="../../assets/img/fb.jpg"/> <span>发布</span>

            </el-col>
            <el-col style="width: 60px;   margin-top: 35px; float:right; font-size: 10px;text-align: center; ">
                <img src="../../assets/img/user.jpg"/>
                <div v-if="isLoginModel">
                    <el-popover trigger="click">
                        <el-row class="index_body_left">
                            <div class="index_body_left_title" style="height:60px;" @click='radioChange(7)'>一米豆腐</div>
                            <div class="index_body_left_title" @click='radioChange(8)'> 我的订阅 </div>
                            <div class="index_body_left_title" @click='radioChange(9)'> 我的收入 </div>
                            <div class="index_body_left_title" @click='radioChange(10)'> 我的收藏 </div>
                            <div class="index_body_left_title" @click='radioChange(11)'> 我的邀约 </div>
                            <div class="index_body_left_title" @click='radioChange(12)'> 我的发布 </div>
                            <div class="index_body_left_title" @click='radioChange(13)'> 用户须知 </div>
                        </el-row>
                        <span slot="reference">个人中心</span>
                    </el-popover>
                </div>
                <div v-else>
                    <span> 登录</span>/<span>注册</span>
                </div>
            </el-col>
        </el-col>


        <el-col class="maker_title">

            <el-col class="title_left"></el-col>
            <el-col class="title_center">


                <div class="title_center_span" v-for="(v,i) in active" @click='radioChange(i)'
                     :class='activeIndex == i ? "active" : ""'>
                    <div style="  margin-top: 10px;">{{v.label}}</div>
                </div>


                <el-dialog :visible.sync="showModal" width="570px" :before-close="handleClose">
                    <img src="../../assets/img/fbxq.jpg" style="width:100%"/>
                    <el-row class="fbxq_class">

                        <div style="height: 60px;background-color: #f8f8f8;margin-top: 20px;">
                            <div style=" float: left;   width: 50px; height: 100%; text-align: center; color: #fc7406;     background-color: white; "> * </div>
                            <div style=" float: left;width: 170px;  margin-left: 20px; line-height: 60px;"> 省份城市： </div>
                            <el-select v-model="province" multiple placeholder="市级地区" style="margin-top: 20px; ">
                                <el-option v-for="item in cityOptions" :key="item" :label="item" :value="item"
                                           @click="getChannelId(item)"/>
                            </el-select>
                        </div>

                        <div style="height: 60px;background-color: #f8f8f8;margin-top: 20px;">
                            <div style=" float: left;   width: 50px; height: 100%; text-align: center; color: #fc7406;     background-color: white; ">&nbsp;&nbsp;&nbsp;&nbsp;  </div>
                            <div style=" float: left;width: 170px;  margin-left: 20px; line-height: 60px;"> 行业类型： </div>
                            <el-select v-model="sjService" multiple placeholder=" " style="margin-top: 20px; ">
                                <el-option v-for="type in sjServiceOptions" :key="type" :label="type" :value="type"
                                           @click="getChannelId(item)"/>
                            </el-select>
                        </div>



                        <div style="height: 60px;background-color: #f8f8f8;margin-top: 20px;">
                            <div style=" float: left;   width: 50px; height: 100%; text-align: center; color: #fc7406;    background-color: white; "> <div style="margin-top: 20px;">*</div> </div>
                            <div style=" float: left;width: 170px;  margin-left: 20px; line-height: 60px;">有效期天</div>
                            <input placeholder="请输入内容"
                                   style=" background-color: #f8f8f8;width:300px;height: 100%; float: right"
                                   v-model="remainderTime">
                        </div>

                        <div style="height: 60px;background-color: #f8f8f8;margin-top: 20px;">
                            <div style=" float: left;   width: 50px; height: 100%; text-align: center; color: #fc7406;     background-color: white; "> <div style="margin-top: 20px;">*</div> </div>
                            <div style=" float: left;width: 80px;   margin-left: 20px; line-height: 60px;">标题</div>
                            <input v-model="shortDescription" placeholder="请输入需求标题"
                                   style=" background-color: #f8f8f8;width:360px;height: 100%; float: right">
                        </div>

                        <!--<div style="height: 200px;background-color: #f8f8f8;margin-top: 20px;">-->
                        <!--<div style=" float: left;width: 170px;  margin-left: 20px; line-height: 60px;">项目简介:</div>-->
                        <!--<input v-model="description" placeholder="请输入项目简介" type="text" style=" background-color: #f8f8f8;width:300px;height: 100%; float: right" >-->
                        <!--</div>-->

                        <div style="height: 200px;background-color: #f8f8f8;margin-top: 20px;">
                            <div style=" float: left;   width: 50px; height: 100%; text-align: center; color: #fc7406;     background-color: white; "> <div style="margin-top: 20px;">*</div> </div>
                            <div style=" float: left;   width: 480px; ">
                                <div style="  padding: 10px 0 10px 20px;">项目简介:</div>
                                <textarea autocomplete="off" placeholder="请输入内容" v-model="description"  class="el-textarea__inner" style="min-height: 150px;height: 150px;border: none;background-color: #f8f8f8;"></textarea>


                            </div>
                              </div>
                        <div style="height: 60px;background-color: #f8f8f8;margin-top: 20px; "  >
                            <div style=" float: left;   width: 50px; height: 100%; text-align: center; color: #fc7406;     background-color: white; "> <div style="margin-top: 20px;">*</div> </div>
                            <div style=" float: left;width: 170px;  margin-left: 20px; line-height: 60px;">联系人身份:</div>
                            <input v-model="realNameRelation" placeholder="请输入联系人身份"
                                   style=" background-color: #f8f8f8;width:300px;height: 100%; float: right;">
                        </div>

                        <div style="height: 60px;background-color: #f8f8f8;margin-top: 20px;">
                            <div style=" float: left;   width: 50px; height: 100%; text-align: center; color: #fc7406;     background-color: white; "> <div style="margin-top: 20px;">*</div></div>
                            <div style=" float: left;width: 170px;  margin-left: 20px; line-height: 60px;">联系人姓名:</div>
                            <input v-model="realName" placeholder="请输入联系人姓名"
                                   style=" background-color: #f8f8f8;width:300px;height: 100%; float: right">
                        </div>

                        <div style="height: 60px;background-color: #f8f8f8;margin-top: 20px;">
                            <div style=" float: left;   width: 50px; height: 100%; text-align: center; color: #fc7406;     background-color: white; "> <div style="margin-top: 20px;">*</div> </div>
                            <div style=" float: left;width: 170px;  margin-left: 20px; line-height: 60px;">联系人手机号:</div>
                            <input v-model="realNamePhone" placeholder="请输入联系人手机号"
                                   style=" background-color: #f8f8f8;width:300px;height: 100%; float: right">
                        </div>


                        <div style="  margin-top: 20px;margin-left:70px;font-size: 14px;line-height: 30px;color: #b9b9b9;
                        font-weight: 400;">
                            说明：<span style=" color: #fc7406;">*</span> 部分是必填项
                        </div>
                        <div style="margin-bottom: 40px;margin-top: 30px;text-align: center;">
                            <el-button type="primary" @click="affirmPublich" style="width: 287px;font-size: 22px;line-height: 30px;color: #ffffff;   font-weight: 400;  text-align: center;height: 50px; border-radius: 25px; box-shadow: 0px 8px 8px rgba(162,162,162,0.11); background-color: #375ea3;" round>确认发布
                            </el-button>
                        </div>

                    </el-row>
                </el-dialog>


            </el-col>
            <el-col class="title_right"></el-col>
        </el-col>

    </el-row>
</template>

<script>
    import {HEADER, HEADERTIME} from '@/store/header'
    import {mapState} from 'vuex'
    import {setStore, removeStore} from '@/controller/utils'
    import {BANKICON} from "@/store/main"
    import store from '@/store'
    import {selectAllIndustryType, selectAllProvinceData, affirmPublich} from "@/controller/api"

    export default {
        props: {
            isApipage: Boolean,
            bankId: String
        },
        data() {
            return {
                province: '',
                realNamePhone: '',
                realNameRelation: '',
                remainderTime: '',
                sjService: '',
                description: '',
                realName: '',
                shortDescription: '',
                cityOptions: {},
                sjServiceOptions: {},
                active: [{
                    label: '商机'
                }
                    , {
                        label: '供给'
                    }, {
                        label: '发布'
                    }, {
                        label: '商机订阅'
                    }, {
                        label: '媒体报道'
                    }, {
                        label: '行业资讯'
                    }, {
                        label: '关于我们'
                    }
                ],
                activeIndex: sessionStorage.getItem('active') ? sessionStorage.getItem('active') : '1',
                HEADER: HEADER,
                showModal: false,
                isEdit: false,
                isLoginModel: true,
                userCenterModel: false,
                input1: '',
                select: '',
                taskForm: {
                    name: null,
                    handler: this.$store.state.userInfo.userName
                },
                taskRules: {
                    name: [
                        {required: true, message: '请输入任务名称', trigger: 'blur'},
                    ]
                },
                taskDialogVisible: false,//新建任务弹出框状态
                headerSearch: {
                    bank: null,
                    region: null,
                    time: this.$store.state.headselectTime
                },
                headerTime: this.$store.state.headTimeType,
                bankListData: [],
                cityListData: [],
            }
        },
        computed: {},
        mounted() {
            this.selectAllProvinceData()
            this.selectAllIndustryType()
        },
        methods: {
            affirmPublich() {

                if (!this.province) {
                    this.$message.warning('省份城市不能为空！')
                    return
                }
                if (!this.remainderTime) {
                    this.$message.warning('有效期天不能为空！')
                    return
                }

                if (!this.shortDescription) {
                    this.$message.warning('标题不能为空！')
                    return
                }
                if (!this.description) {
                    this.$message.warning('项目简介不能为空！')
                    return
                }
                if (!this.realNameRelation) {
                    this.$message.warning('联系人身份不能为空！')
                    return
                }
                if (!this.realName) {
                    this.$message.warning('联系人姓名不能为空！')
                    return
                }
                if (!this.realNamePhone) {
                    this.$message.warning('联系人手机号不能为空！')
                    return
                }



                affirmPublich({
                    province: this.province.join(","),
                    realNamePhone: this.realNamePhone,
                    realNameRelation: this.realNameRelation,
                    remainderTime: this.remainderTime,
                    sjService: this.sjService.join(","),
                    description: this.description,
                    realName: this.realName,
                    openid: 'o-a615MVyJKQ12O4Q42JIOmmjlgQ',
                    type: '1',
                    shortDescription: this.shortDescription
                }).then(res => {

                    if (!res.code) {
                        this.$message.success('发布成功')

                        this.showModal = false


                    }
                })
            },
            selectAllIndustryType() {
                selectAllIndustryType({}).then(res => {
                    res = res.data
                    if (!res.code) {
                        this.sjServiceOptions = res.data ? res.data : []
                    }
                })
            },
            handleClose() {
                this.showModal = false
            },
            handleChange(value) {
                this.selectAllProvinceData()
            },
            userCenterChange() {
                this.userCenterModel = true
            },
            taskConfirm() {

            },
            Close() {
                this.showModal = false
            },
            selectAllProvinceData() {
                selectAllProvinceData({}).then(res => {
                    res = res.data
                    if (!res.code) {
                        this.cityOptions = res.data

                    }
                })
            },
            taskCancel() {
                this.taskDialogVisible = false
                this.taskForm.name = null
            },

            radioChange(value) {

                sessionStorage.setItem('active', value)
                this.activeIndex = value
                if (value == 0) {
                    this.$router.push({  path:'/index'  })

                } else if (value == 1) {
                    this.$router.replace({path: '/DashBoard', params: {id: 1}})

                } else if (value == 2) {
                    this.isEdit = false
                    this.showModal = true
                } else if (value == 3) {
//                    this.$router.push('sjdy')
                    this.$router.push({  path:'/sjdy'  })
                    this.showModal = false
                } else if (value == 4) {
                    this.$router.push({  path:'/mtbd'  })
                    this.showModal = false
                } else if (value == 5) {
                    this.$router.push({  path:'/hyzx'  })
                    this.showModal = false
                } else if (value == 6) {
                    this.$router.push('gywm')
                    this.showModal = false
                } else if (value == 7) {
                    this.$router.push('ymdf')
                    this.showModal = false
                } else if (value == 8) {
                    this.$router.push('wddy')
                    this.showModal = false
                } else if (value == 9) {
                    this.$router.push('wdsr')
                    this.showModal = false
                } else if (value == 10) {
                    this.$router.push('wdsc')
                    this.showModal = false
                } else if (value == 11) {
                    this.$router.push('wdyy')
                    this.showModal = false
                } else if (value == 12) {
                    this.$router.push('wdfb')
                    this.showModal = false
                } else if (value == 13) {
                    this.$router.push('yhxz')
                    this.showModal = false
                }


            }
        }
    }
</script>

<style lang="less">
    .fbxq_class {
        padding: 30px 30px 0px  0px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        font-size: 20px;
        line-height: 30px;
        color: #333333;
        font-family: "Source Han Sans SC";
        font-weight: 400;
        input::-webkit-input-placeholder {
            /* placeholder颜色  */
            color: #aab2bd;
            /* placeholder字体大小  */
            font-size: 20px;
        }
    }

    .grid-content {
        background-color: rgb(55, 94, 163);
        border-radius: 4px;
        min-height: 150px;
        min-width: 100px;
    }

    .el-input--small .el-input__inner {
        /* height: 60px;*/
        line-height: 32px;
    }

    .el-dialog__header {
        padding: 0px 0px;
    }

    .el-dialog__headerbtn .el-dialog__close {
        color: #faf5f4;
    }

    .el-form {
        padding: 30px 20px;
    }

    .el-dialog__body {
        padding: 0px 0px;
    }

    .maker_header {
        height: 100%;
        width: 100%;

    }

    .dialog_style {

        width: 570px;
        margin-top: 18vh;

        .dialog_style_header {
            height: 150px;
            width: 100%;

        }

    }

    .index_body_left {
        height: 330px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        font-size: 15px;
        .index_body_left_title {
            height: 45px;
            width: 100%;
            text-align: center;
            line-height: 45px;
        }

        :hover {
            background-color: rgb(55, 94, 163);
        }
        :active {
            background-color: rgb(55, 94, 163);
        }
    }

    .maker_logo {
        height: 85px;
        padding: 0 19% 0 19%;
        float: left;
        font-size: 20px;

    }

    .maker_title {
        height: 50px;
        width: 100%;
        background-color: rgb(55, 94, 163);
        .title_left {

            height: 100%;
            width: 19%;
            margin-right: 0px;
            font-size: 20px;

        }
        .title_center {

            height: 100%;
            width: 53%;
            margin-right: 0px;
            font-size: 20px;
            vertical-align: middle;

            .title_center_span {
                width: 13%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                display: inline;
                cursor: pointer;
                float: left;
                color: rgb(255, 255, 255);
                font-size: 18px;

            }

            .active {
                background-color: rgb(255, 116, 6);
            }
        }
        .title_right {
            height: 100%;
            width: 27%;

        }
    }

</style>
