<template>
    <div>
        <h1>{{msg}}</h1>
    </div>
</template>
<script>
export default{
    name: 'DashBoard',
    data(){
        return {
            msg: 'DashBoard'
        }
    }
}
</script>
