<template>
    <el-row class="countContent">
        <common-head :DATA="COUNTANATITLES" :ICON="HELPICON" :TYPE="1" @selTime="getTimer"/>
        <el-row class="timeline" id="countline"></el-row>
    </el-row>

</template>

<script>
    import {COUNTANATITLES,HELPICON} from '@/store/main'
    import {queryCountInfo} from '@/controller/api'
    import {mapState} from 'vuex'
  export default{
      data(){
          return{
              time1:[],//0-4H
              time2:[],//
              time3:[],//
              time4:[],//
              time5:[],
              time6:[],
              linechart:null,
              startAndEndTime:[]
          }
      },
      components: {
          commonHead: () => import('@/components/home/_head_title'),
      },
      computed: {
          COUNTANATITLES(){return COUNTANATITLES},
          HELPICON(){return HELPICON},
          ...mapState({
              area:state=>state.area,
              bank:state=>state.bank,
          })
      },
      watch:{
          area(val){this.getdata()},
          bank(val){this.getdata()},
      } ,
      mounted(){
          this.linechart=echarts.init(document.getElementById('countline'))
          this.getdata()

      } ,
      methods:{
          getTimer(val){
            this.startAndEndTime = val
            this.getdata()
          },
          getdata(starttime,endtime){
              this.card1=[]
              this.card2=[]
              this.card3=[]
              this.card4=[]
              if(this.area && this.bank && this.startAndEndTime.length){
                queryCountInfo({
                    HOME_PROV:this.area,//区域id
                    START_DAY:this.startAndEndTime[0],//日期
                    END_DAY:this.startAndEndTime[1],//结束时间为选中的时间
                    BANK_ID:this.bank,//银行id
                }).then(res=>{
                    res=res.data
                    if(!res.code){
                        let activeData=res.data.activeData
                        if(activeData.length==0) {
                            this.xdata=[]
                            this.initLine( this.xdata)

                            return
                        }

                        let x=activeData.map(item=>{
                            //当天
                            return item.day_id
                        })
                        let xdata=x.filter(function(element,index,self){
                            return self.indexOf(element) === index;
                        });
                        activeData.forEach((item,index)=>{
                            if(item.cycle=='0-4h'){
                                this.time1.push(item.user_marketing_today_sum)
                            }else if(item.cycle=='4-8h'){
                                this.time2.push(item.user_marketing_today_sum)
                            }else if(item.cycle=='8-12h'){
                                this.time3.push(item.user_marketing_today_sum)
                            }else if(item.cycle=='12-16h'){
                                this.time4.push(item.user_marketing_today_sum)
                            }else if(item.cycle=='16-20h'){
                                this.time5.push(item.user_marketing_today_sum)
                            }else if(item.cycle=='20-24h' || item.cycle=='20-0h'){
                                this.time5.push(item.user_marketing_today_sum)
                            }
                        })
                        //保存数据
                        this.initLine(xdata,this.time1,this.time2,this.time3,this.time4,this.time5,this.time6)
                    }
                })
              }
          },
          initLine(xdata,data1,data2,data3,data4,data5,data6,){
              this.linechart.clear()
              if(xdata.length){
                  let names=['0-4H','4-8H','8-12H','12-16H','16-20H','20-24H']
                  let color=['rgb(253,90,82)','rgb(254,154,82)','rgb(0,133,208)','rgb(1,196,208)','rgb(1,173,85)','rgb(146,196,30)',]
                  let data=[data1,data2,data3,data4,data5,data6]
                  let series=[]
                  let seriesItem={}
                  names.forEach((item,index)=>{
                      series.push(seriesItem={
                          name:item,
                          type: 'line',
                          smooth: true,
                          lineStyle: {
                              normal: {
                                  width: 1
                              }
                          },
                          itemStyle: {
                              normal: {
                                  color: color[index]
                              }
                          },
                          areaStyle: {
                              normal: {
                                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                      offset: 0,
                                      color: color[index].substring(0,color[index].length-1)+',0.1)'//rgba(252,91,83, 0.1)
                                  }, {
                                      offset: 0.8,
                                      color:color[index].substring(0,color[index].length-1)+',0)'// 'rgba(252,91,83, 0)'
                                  }], false),
                                  shadowColor: 'rgba(0, 0, 0, 0.1)',
                                  shadowBlur: 10
                              }
                          },
                          data:data[index]
                      })
                  })
                  let option={
                      tooltip: {
                          trigger: 'axis',
                          confine:true,
                          axisPointer: {
                              lineStyle: {
                                  color: '#57617B'
                              },

                          }
                      },
                      legend: {
                          icon: 'circle',
                          itemWidth: 14,
                          itemHeight: 5,
                          itemGap: 13,
                          data: ['0-4H','4-8H','8-12H','12-16H','16-20H','20-24H'],
                          left: 'center',
                          top:0,
                          textStyle: {
                              fontSize: 10,
                              color: '#686868'
                          }
                      },
                      grid: {
                          left: '3%',
                          right: '4%',
                          bottom: 0,
                          top:'10%',
                          containLabel: true
                      },
                      xAxis: [{
                          type: 'category',
                          boundaryGap: false,
                          axisLine: {
                              show:false,
                              lineStyle: {
                                  color: '#57617B'
                              }
                          },
                          axisTick: {
                              show: false
                          },
                          data: xdata
                      }],
                      yAxis: [{
                          type: 'value',
                          axisTick: {
                              show: false
                          },
                          axisLine: {
                              show:false,
                              lineStyle: {
                                  color: '#57617B'
                              }
                          },
                          axisLabel: {
                              margin: 10,
                              textStyle: {
                                  fontSize: 10
                              }
                          },
                          splitLine: {
                              show:false
                          }
                      }],
                      series:series,

                  }

                  this.linechart.setOption(option)
              }


          }
      }
  }

</script>

<style lang="less" scoped>
    .countContent{
        height: calc(~"(50% - 8px)");
        width:calc(~"(100% - 8px)") ;
        margin-left: 8px;
        margin-top: 8px;
        background-color: #fff;
        .bartitle{
            color: #333333;
            height: 30px;
            font-size: 16px;
            line-height:30px ;
            margin-left: 10px;
            font-weight: bold;
            .timeTitle{
                text-align: right;
                padding: 0 10px;
            }
        }
        .timeline{
            height: calc(~"(100% - 30px)");
        }
    }

</style>
