<template>
    <el-row class="restimelist">
        <el-row class="tableContainer">
            <el-table
                :data="tableData3"
                size="mini"
                :span-method="mergeRowMethod"
                border
                :cell-style="{textAlign:'center',padding:'4px',fontSize:'10px'}"
                :header-cell-style="{background:'#A0A0A0',color:'#fff',textAlign:'center',padding:'6px',fontSize:'10px'}"
                style="width: 100%">
                    <el-table-column prop="name" v-for="(v,i) in bankName" :label="v">
                        <template slot-scope="scope">
                          <span v-if="i == 1">
                            <svg-icon :id="BANKICON[scope.row.bank_name]"/>
                            {{scope.row.bank_name}}

                          </span>
                          <span v-if="i == 0">
                            {{scope.row.bank_type_id}}
                          </span>
                        </template>
                    </el-table-column>
                    <el-table-column >
                        <template slot="header" slot-scope="scope">
                            <div class="headerText">0-4h</div>
                            <span class="headerCount">
                                <span class="table_item">营销数</span>
                                <span class="table_item">响应度</span>
                                <span class="table_item">营销占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount" v-if="table1.length">

                                <span class="listItem" >

                                    {{headTimeTypeName=='当日'?table1[scope.$index].sms_marketing_today_sum:headTimeTypeName=='30日'?table1[scope.$index].sms_marketing_30day_sum:headTimeTypeName=='90日'?table1[scope.$index].sms_marketing_90day_sum:table1[scope.$index].sms_marketing_180day_sum}}
                                </span>
                                <span class="listItem" >
                                    {{headTimeTypeName=='当日'?parseFloat(table1[scope.$index].sms_respond_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(table1[scope.$index].sms_respond_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table1[scope.$index].sms_respond_share_90day).toFixed(2)+'%':parseFloat(table1[scope.$index].sms_respond_share_180day).toFixed(2)+'%'}}

                                </span>
                                <span class="listItem" >
                                    {{headTimeTypeName=='当日'?parseFloat(table1[scope.$index].sms_marketing_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFlaot(table1[scope.$index].sms_marketing_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table1[scope.$index].sms_marketing_share_90day).toFixed(2)+'%':parseFloat(table1[scope.$index].sms_marketing_share_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>
                    <el-table-column >
                        <template slot="header" slot-scope="scope">
                            <div class="headerText">4-8H</div>
                            <span class="headerCount">
                                <span class="table_item">营销数</span>
                                <span class="table_item">响应度</span>
                                <span class="table_item">营销占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount" v-if="table2.length">
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?table2[scope.$index].sms_marketing_today_sum:headTimeTypeName=='30日'?table2[scope.$index].sms_marketing_30day_sum:headTimeTypeName=='90日'?table2[scope.$index].sms_marketing_90day_sum:table2[scope.$index].sms_marketing_180day_sum}}
                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(table2[scope.$index].sms_respond_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(table2[scope.$index].sms_respond_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table2[scope.$index].sms_respond_share_90day).toFixed(2)+'%':parseFloat(table2[scope.$index].sms_respond_share_180day).toFixed(2)+'%'}}

                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(table2[scope.$index].sms_marketing_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFlaot(table2[scope.$index].sms_marketing_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table2[scope.$index].sms_marketing_share_90day).toFixed(2)+'%':parseFloat(table2[scope.$index].sms_marketing_share_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>
                    <el-table-column >
                        <template slot="header" slot-scope="scope">
                            <span class="headerText">8-12H</span>
                            <span class="headerCount">
                                <span class="table_item">营销数</span>
                                <span class="table_item">响应度</span>
                                <span class="table_item">营销占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount" v-if="table3.length">
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?table3[scope.$index].sms_marketing_today_sum:headTimeTypeName=='30日'?table3[scope.$index].sms_marketing_30day_sum:headTimeTypeName=='90日'?table3[scope.$index].sms_marketing_90day_sum:table3[scope.$index].sms_marketing_180day_sum}}
                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(table3[scope.$index].sms_respond_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(table3[scope.$index].sms_respond_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table3[scope.$index].sms_respond_share_90day).toFixed(2)+'%':parseFloat(table3[scope.$index].sms_respond_share_180day).toFixed(2)+'%'}}

                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(table3[scope.$index].sms_marketing_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFlaot(table3[scope.$index].sms_marketing_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table3[scope.$index].sms_marketing_share_90day).toFixed(2)+'%':parseFloat(table3[scope.$index].sms_marketing_share_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>
                    <el-table-column >
                        <template slot="header" slot-scope="scope">
                            <div class="headerText">12-16H</div>
                            <span class="headerCount">
                                <span class="table_item">营销数</span>
                                <span class="table_item">响应度</span>
                                <span class="table_item">营销占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount" v-if="table4.length">
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?table4[scope.$index].sms_marketing_today_sum:headTimeTypeName=='30日'?table4[scope.$index].sms_marketing_30day_sum:headTimeTypeName=='90日'?table4[scope.$index].sms_marketing_90day_sum:table4[scope.$index].sms_marketing_1800day_sum}}
                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(table4[scope.$index].sms_respond_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(table4[scope.$index].sms_respond_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table4[scope.$index].sms_respond_share_90day).toFixed(2)+'%':parseFloat(table4[scope.$index].sms_respond_share_180day).toFixed(2)+'%'}}

                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(table4[scope.$index].sms_marketing_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFlaot(table4[scope.$index].sms_marketing_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table4[scope.$index].sms_marketing_share_90day).toFixed(2)+'%':parseFloat(table4[scope.$index].sms_marketing_share_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>
                    <el-table-column >
                        <template slot="header" slot-scope="scope">
                            <div class="headerText">16-20H</div>
                            <span class="headerCount">
                                <span class="table_item">营销数</span>
                                <span class="table_item">响应度</span>
                                <span class="table_item">营销占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount" v-if="table5.length">
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?table5[scope.$index].sms_marketing_today_sum:headTimeTypeName=='30日'?table5[scope.$index].sms_marketing_30day_sum:headTimeTypeName=='90日'?table5[scope.$index].sms_marketing_90day_sum:table5[scope.$index].sms_marketing_180day_sum}}
                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(table5[scope.$index].sms_respond_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(table5[scope.$index].sms_respond_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table5[scope.$index].sms_respond_share_90day).toFixed(2)+'%':parseFloat(table5[scope.$index].sms_respond_share_180day).toFixed(2)+'%'}}

                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(table5[scope.$index].sms_marketing_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFlaot(table5[scope.$index].sms_marketing_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table5[scope.$index].sms_marketing_share_90day).toFixed(2)+'%':parseFloat(table5[scope.$index].sms_marketing_share_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>
                    <el-table-column >
                        <template slot="header" slot-scope="scope">
                            <div class="headerText">20-24H</div>
                            <span class="headerCount">
                                <span class="table_item">营销数</span>
                                <span class="table_item">响应度</span>
                                <span class="table_item">营销占比</span>
                            </span>


                        </template>
                        <template slot-scope="scope">
                            <div class="listCount" v-if="table6.length">
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?table6[scope.$index].sms_marketing_today_sum:headTimeTypeName=='30日'?table6[scope.$index].sms_marketing_30day_sum:headTimeTypeName=='90日'?table6[scope.$index].sms_marketing_90day_sum:table6[scope.$index].sms_marketing_180day_sum}}
                                </span>
                                <span class="listItem">
                                   {{headTimeTypeName=='当日'?parseFloat(table6[scope.$index].sms_respond_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFloat(table6[scope.$index].sms_respond_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table6[scope.$index].sms_respond_share_90day).toFixed(2)+'%':parseFloat(table6[scope.$index].sms_respond_share_180day).toFixed(2)+'%'}}

                                </span>
                                <span class="listItem">
                                    {{headTimeTypeName=='当日'?parseFloat(table6[scope.$index].sms_marketing_share_today).toFixed(2)+'%':headTimeTypeName=='30日'?parseFlaot(table6[scope.$index].sms_marketing_share_30day).toFixed(2)+'%':headTimeTypeName=='90日'?parseFloat(table6[scope.$index].sms_marketing_share_90day).toFixed(2)+'%':parseFloat(table6[scope.$index].sms_marketing_share_180day).toFixed(2)+'%'}}

                                </span>
                            </div>

                        </template>
                    </el-table-column>
            </el-table>
        </el-row>
        <el-row class="pagination">
            <pagination :total="totalCount" @pageData="getPageData" />
        </el-row>

    </el-row>

</template>

<script>
    import {queryResponseTimePeriodAll} from '@/controller/api'
    import {mapState} from 'vuex'
    import {TABLEHEAD,BANKICON} from "@/store/main"
  export default{
      data(){
          return{
              search:'',
              tableColumns:['0-4H','4-8H','8-12H','12-16H','16-20H','20-24H'],
              tableData3: [],
              table1:[],
              table2:[],
              table3:[],
              table4:[],
              table5:[],
              table6:[],
              bankName:["银行分类","银行名称"],
              totalCount:0,//总条数
          }
      },
      components:{
          pagination: ()=> import('../pagination/pagination'),
      },
      computed: {
          TIMELABEL(){return this.$store.state.headTimeTypeName},
          BANKICON(){return BANKICON},
          ...mapState({
              headselectTime:state=>state.headselectTime,
              area:state=>state.area,
              bank:state=>state.bank,
              headTimeTypeName:state=>state.headTimeTypeName,
          }),
          getRows(){return this.tableData3.filter(v => v.bank_type_id==="国有商业银行").length},
      },
      mounted(){
        //this.getdata()

      },
      watch:{
          headselectTime(val){this.getdata()},
          area(val){this.getdata()},
          headTimeTypeName(val){
              this.$store.state.headTimeTypeName=val

          }

      } ,
      methods:{
          getPageData(data){
              this.pagesize = data.size
              this.pagenum = data.num
              this.getdata()
          },
          mergeRowMethod({ row, column, rowIndex, columnIndex }) {
            if(this.tableData3.length==1){
              return
            }
              if (columnIndex === 0) {
                  if (rowIndex === 0) {
                      return {
                          rowspan: this.getRows,
                          colspan: 1
                      };
                  }else if(rowIndex === this.getRows){
                      return {
                          rowspan: this.tableData3.length - this.getRows,
                          colspan: 1
                      };
                  } else {
                      return {
                          rowspan: 0,
                          colspan: 0
                      };
                  }
              }
          },
          getdata(){
              this.threeDays=[]
              this.toDays=[]
              this.nineDays=[]
              this.halfyear=[]
              if(this.area && this.headselectTime && this.pagenum){
                queryResponseTimePeriodAll({
                    homeProv:this.area,//区域id
                    dayId:this.headselectTime,//日期
                    pageNum:this.pagenum,
                    pageSize:this.pagesize,
                    userId:this.$store.state.userInfo.userId
                }).then(res=>{
                    res=res.data
                    if(!res.code){
                        let activeData=res.data
                        if(activeData.length==0) {
                            this.tableData3=[]
                            return
                        }
                        this.totalCount=res.total
                        this.table1=activeData.filter(item=>{
                          return item.cycle=='0-4h'
                        })
                        console.log(this.table1[0].sms_marketing_today_sum)
                        this.table2=activeData.filter(item=>{
                            return item.cycle=='4-8h'
                        })
                        this.table3=activeData.filter(item=>{
                            return item.cycle=='8-12h'
                        })
                        this.table4=activeData.filter(item=>{
                            return item.cycle=='12-16h'
                        })
                        this.table5=activeData.filter(item=>{
                            return item.cycle=='16-20h'
                        })
                        this.table6=activeData.filter(item=>{
                            return item.cycle=='20-24h' || item.cycle=='20-0h'
                        })

                        //当天
                        let temp={}
                        let d=activeData.reduce((cur,next)=>{
                            temp[next.bank_name]?'':temp[next.bank_name]=true&&cur.push(next)
                            return cur


                        },[])
                        activeData=d.map(item=>{
                            item.bank_type_id==1?item.bank_type_id='国有商业银行':item.bank_type_id='股份制商业银行'
                            return item
                        })
                        this.tableData3 = [...activeData.filter(v => v.bank_type_id==="国有商业银行"),...activeData.filter(v => v.bank_type_id==="股份制商业银行")]
                    }

                })
              }
          },

      }
  }

</script>

<style lang="less" scoped>
    .restimelist{
        height: calc(~"(100% - 8px)");
        width: 100%;
        margin-top: 8px;
        background-color: #fff;
        .tableContainer{
            height: calc(~"(100% - 30px)");
            width: 100%;
            //margin-left: 2%;
            overflow: auto;

            .headerText{
                display: block;
                border-bottom: 1px solid #fff;
            }
            .headerCount{
                display: block;
                width: 100%;
                .table_item{
                    display: inline-block;
                    width: 31%;
                }
            }
            .listCount{
                width: 100%;
                .listItem{
                    display: inline-block;
                    width: 31%;


                }
            }


            .el-table th div{
                line-height: 15px;
            }
        }
        /*.el-table .cell, .el-table th div,
        .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
            padding-left: 2px;

        }*/

        .pagination{
            height: 30px;
            line-height: 30px;

        }
    }

</style>
