<template>
    <el-row class="timeContent">
        <el-row class="bartitle">
            <common-head :DATA="TIMEANATITLES" :ICON="HELPICON" :TYPE="0"/>
        </el-row>
        <el-row class="select">
            <span class="el-icon-caret-left lefticon" @click="prev"></span>
            <el-row class="carouselContainer">

                <el-carousel height="30px" arrow="never" ref="carousel"
                             @change="changeValue"
                             :autoplay="false" indicator-position="none">
                    <el-carousel-item v-for="item in times" :key="item">
                        <div>{{item}}H</div>
                    </el-carousel-item>
                </el-carousel>

            </el-row>
            <span class="el-icon-caret-right lefticon" @click="next" ></span>
        </el-row>
        <el-row>
            <el-col :span="12" class="totalCount">
                营销客户总数
                <span class="Usernum">{{userNumber}}</span>
            </el-col>
            <el-col :span="12" class="totalCount">
                营销信息总数
                <span class="infonum">{{infoNumber}}</span>
            </el-col>

        </el-row>
        <el-row class="pieContainer" id="pie">

        </el-row>


    </el-row>

</template>

<script>
    import {TIMEANATITLES,HELPICON} from '@/store/main'
    import {queryResponseTimePeriod} from '@/controller/api'
    import {mapState} from 'vuex'
  export default{
      data(){
        return{
          times:['0-4','4-8','8-12','12-16','16-20','20-24'],
          currentTimes:'0-4',
          activeTime:'',
          userNumber:'',//营销用户数
          infoNumber:'',//营销信息数
          myChart:null,


        }
      },
      mounted(){
          this.myChart=echarts.init(document.getElementById('pie'))
          this.getdata()

      },
      components: {
          commonHead: () => import('@/components/home/_head_title'),
      },
      computed: {
          TIMEANATITLES(){return TIMEANATITLES},
          HELPICON(){return HELPICON},
          ...mapState({
              headselectTime:state=>state.headselectTime,
              area:state=>state.area,
              bank:state=>state.bank,
              headTimeTypeName:state=>state.headTimeTypeName,
          })
      },
      watch:{
          headselectTime(val){this.getdata()},
          area(val){this.getdata()},
          bank(val){this.getdata()},
          headTimeTypeName(val){
              if(val=='当日'){
                  this.initpie(this.toDays)
              }else if(val=='30日'){
                  this.initpie(this.threeDays)
              }else if(val=='90日'){
                  this.initpie(this.nineDays)
              }else if(val=='180日'){
                  this.initpie(this.halfyear)
              }
          }

      } ,
      methods:{
        //上一时间段
          prev(){
              this.$refs.carousel.prev()
          },
          //下一时间段
          next(){
              this.$refs.carousel.next()
          },
          changeValue(val){
              this.activeTime=val
              this.getdata()
          },
          getdata(){
              this.threeDays=[]
              this.toDays=[]
              this.nineDays=[]
              this.halfyear=[]
              this.currentTimes=this.activeTime?this.times[this.activeTime]:'0-4'
              if(this.area && this.headselectTime && this.bank){
                queryResponseTimePeriod({
                    HOME_PROV:this.area,//区域id
                    DAY_ID:this.headselectTime,//日期
                    BANK_ID:this.bank,//银行id
                    CYCLE:this.currentTimes == "20-24" ? "20-0"+'h' : this.currentTimes+'h',
                }).then(res=>{
                    res=res.data
                    if(!res.code){
                        let activeData=res.data.activeData
                        if(activeData.length==0) {
                           let piedata=[]
                           this.initpie(piedata)

                            return
                        }
                        //保存数据
                        this.saveData(activeData)
                        this.initpie(this.toDays)
                    }
                })
              }
          },
          saveData(activeData){
              if(this.headTimeTypeName=='当日'){
                  this.userNumber=activeData[0].user_marketing_today_sum
                  this.infoNumber=activeData[0].sms_marketing_today_sum
              }else if(this.headTimeTypeName=='30日'){
                  this.userNumber=activeData[0].user_marketing_30day_sum
                  this.infoNumber=activeData[0].sms_marketing_30day_sum

              }else if(this.headTimeTypeName=='90日'){
                  this.userNumber=activeData[0].user_marketing_90day_sum
                  this.infoNumber=activeData[0].sms_marketing_90day_sum
              }else if(this.headTimeTypeName=='180日'){
                  this.userNumber=activeData[0].user_marketing_180day_sum
                  this.infoNumber=activeData[0].sms_marketing_180day_sum
              }
              //30天数据
              this.threeDays.push(activeData[0].user_marketing_share_30day)
              this.threeDays.push(activeData[0].user_respond_share_30day)
              this.threeDays.push(activeData[0].sms_marketing_share_30day)
              this.threeDays.push(activeData[0].sms_respond_share_30day)
              //90天
              this.nineDays.push(activeData[0].user_marketing_share_90day)
              this.nineDays.push(activeData[0].user_respond_90day_sum)
              this.nineDays.push(activeData[0].sms_marketing_share_90day)
              this.nineDays.push(activeData[0].sms_respond_share_90day)
              //180天
              this.halfyear.push(activeData[0].user_marketing_share_180day)
              this.halfyear.push(activeData[0].user_respond_share_180day)
              this.halfyear.push(activeData[0].sms_marketing_share_180day)
              this.halfyear.push(activeData[0].sms_respond_share_180day)
                //当天
              this.toDays.push(activeData[0].user_marketing_share_today)//营销用户占比
              this.toDays.push(activeData[0].user_respond_share_today)//客户响应度
              this.toDays.push(activeData[0].sms_marketing_share_today)//信息占比
              this.toDays.push(activeData[0].sms_respond_share_today) //信息响应度
          },
          initpie(data){
              this.myChart.clear()
              var labelTop = {
                  normal : {
                      label : {
                          show : true,
                          position : 'center',
                          formatter : '{c}%',
                          textStyle: {
                              baseline : 'center'
                          },
                          verticalAlign:'middle',
                      },
                      labelLine : {
                          show : false
                      }
                  }
              };
              var labelBottom = {
                  normal : {
                      color: '#ccc',
                      label : {
                          show : false,
                          position : 'center'
                      },
                      labelLine : {
                          show : false
                      }
                  },
              };
              if(data.length){
                  let option={
                      color:['#FC5950','#02C4D0','#FC9A51','#93C31F'],
                      title:[{
                          text: '客户占比',
                          left: '25%',
                          top: '42%',
                          textAlign: 'center',
                          textStyle:{
                              fontSize:10,
                              fontStyle: 'normal',
                              color:'#747474'


                          }
                      },
                          {
                              text: '客户响应度',
                              left: '75%',
                              top: '42%',
                              textAlign: 'center',
                              textStyle:{
                                  fontSize:10,
                                  fontStyle: 'normal',
                                  color:'#747474'
                              }
                          },
                          {
                              text: '信息占比',
                              left: '25%',
                              top: '92%',
                              textAlign: 'center',
                              textStyle:{
                                  fontSize:10,
                                  fontStyle: 'normal',
                                  color:'#747474'
                              }
                          },{
                              text: '信息响应度',
                              left: '75%',
                              top: '92%',
                              textAlign: 'center',
                              textStyle:{
                                  fontSize:10,
                                  fontStyle: 'normal',
                                  color:'#747474'
                              }
                          }
                      ],
                      tooltip: {
                        show:false,
                          trigger: 'item',
                          formatter: "{b}: {d}%"
                      },
                      series:[
                          {
                              type : 'pie',
                              center : ['25%', '25%'],
                              radius : ['25%','35%' ],
                              x: '0%', // for funnel
                              avoidLabelOverlap:false,
                              data : [
                                  {name:'other', value:100-data[0], itemStyle : labelBottom},
                                  {name:'客户占比', value:data[0],itemStyle : labelTop}
                              ]
                          },
                          {
                              type : 'pie',
                              center : ['75%', '25%'],
                              radius : ['25%','35%'],
                              x: '0%', // for funnel
                              avoidLabelOverlap:false,
                              data : [
                                  {name:'other', value:100-data[1], itemStyle : labelBottom},
                                  {name:'客户响应度', value:data[1],itemStyle : labelTop}
                              ]
                          },
                          {
                              type : 'pie',
                              center : ['25%', '75%'],
                              radius : ['25%','35%'],
                              x: '0%', // for funnel
                              avoidLabelOverlap:false,
                              data : [
                                  {name:'other', value:100-data[2], itemStyle : labelBottom},
                                  {name:'信息占比', value:data[2],itemStyle : labelTop}
                              ]
                          },
                          {
                              type : 'pie',
                              center : ['75%', '75%'],
                              radius : ['25%','35%'],
                              x: '0%', // for funnel
                              avoidLabelOverlap:false,
                              data : [
                                  {name:'other', value:100-data[3], itemStyle : labelBottom},
                                  {name:'信息响应度', value:data[3],itemStyle : labelTop}
                              ]
                          },
                      ]
                  }
                  this.myChart.setOption(option)
              }
          }
      }
  }

</script>

<style lang="less" scoped>
    .timeContent{
        height: 100%;
        background-color: #fff;
        .select{
            height: 30px;
            text-align: center;
            .carouselContainer{
                width: 70px;
                display: inline-block;
                vertical-align: middle;
                .el-carousel__item div{
                    color: #B7B7B7;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 30px;

                }
            }
            .lefticon{
                color:#B7B7B7;
                font-size: 18px;
                vertical-align: middle;
                cursor: pointer;


            }
        }

        .totalCount{
            font-size: 12px;
            text-align: center;
            color: #747474;
            height: 30px;
            line-height: 30px;
            .Usernum{
                color: #FC5F57;
                font-size: 16px;
            }
            .infonum{
                color: #02C4D0;
                font-size: 16px;

            }
        }

        .pieContainer{
            height: calc(~"(100% - 90px)");
        }


    }


</style>
