<template>
  <el-row class="left_1">
    <common-head :DATA="ANALYSISTITLES" :ICON="HELPICON" :TYPE="0"/>
    <el-row class="analysis_container">
      <el-col :span="8" class="analysis_item" v-for="(v,i) in ANALYSISTYPE">
        <el-row class="analysis_item_title"><i class="help_i"></i>{{v}}</el-row>
        <el-row class="analysis_item_count"><i class="help_i"></i>{{data[i]}}</el-row>
      </el-col>
    </el-row>
  </el-row>
</template>

<script>
import {ANALYSISTYPE,ANALYSISTITLES,HELPICON} from '@/store/main'
import {queryActiveData} from '@/controller/api_1'
export default {
  props:{
    data:{
      type: Array,
      default:[]
    }
  },
  components: {
    commonHead: () => import('@/components/home/_head_title'),
  },
  data () {
    return {
      
    }
  },
  mounted(){
    
  },
  computed: {
    ANALYSISTYPE(){return ANALYSISTYPE},
    ANALYSISTITLES(){return ANALYSISTITLES},
    HELPICON(){return HELPICON}
  },
  methods: {
    
  }
}
</script>

<style lang="less" scoped>
  .left_1{
    height: 100%;
    .analysis_container{
      height: calc(~"(100% - 30px)");
      .analysis_item{
        text-align: center;
        height: 100%;
        .analysis_item_title{
          height: 30%;
          color: #666666;
          margin-top: 10%;
          font-size: 14px;
        }
        .analysis_item_count{
          height: 50%;
          color: #0185cf;
          font-size: 18px;
        }
      }
    }
  }
</style>
