<template>
    <el-container class="api_container">
        <el-header>
            <baseHeader :isApipage="false" :bankId="bank"/>
        </el-header>
        <el-main class="main_container">
            <el-row class="topform">
                <el-form :inline="true" :model="headerSearch" class="demo-form-inline" size="mini">
                    <el-form-item label="API名称" >
                        <el-select v-model="headerSearch.apiName" placeholder="活动区域" style="width: 100px;">
                            <el-option label="API-A" value="shanghai"></el-option>
                            <el-option label="API-B" value="beijing"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item >
                        <el-date-picker v-model="headerSearch.startTime" type="date" placeholder="选择日期" style="width: 130px;">
                        </el-date-picker>
                        至
                        <el-date-picker v-model="headerSearch.endTime" type="date" placeholder="选择日期" style="width: 130px;">
                        </el-date-picker>
                    </el-form-item>
                </el-form>
            </el-row>
            <el-row class="content">
                <el-col :span="18" class="left">
                    <apiLine />
                    <apiList />
                </el-col>
                <el-col :span="6" class="left">
                    <apiDetail />
                </el-col>

            </el-row>

        </el-main>
        <baseFooter />
    </el-container>


</template>

<script>
    import ElRow from "element-ui/packages/row/src/row";
  export default{
      data(){
        return{
            headerSearch:{
                apiName:null,
                startTime:null,
                endTime:null
            },
            bank:null,
        }
      },
      mounted(){
          this.bank=this.$route.query.bankId
      },
      components: {
          baseHeader: () => import('@/components/home/header'),
          baseFooter: () => import('@/components/home/footer'),
          apiLine: () => import('@/components/api/apiLine'),
          apiList: () => import('@/components/api/apiList'),
          apiDetail: () => import('@/components/api/apiDetail')
      }
  }

</script>

<style lang="less">
    .api_container{
        height: 100%;
        .main_container{
            height: calc(~"(100% - 60px)");
            .topform{
                height: 40px;
               // line-height: 50px;
            }
            .el-form-item--mini.el-form-item{
                margin-bottom: 10px;

            }
            .content{
                height: calc(~"(100% - 50px)");
                .left{
                    height: 100%;
                }
            }
        }
        .el-header {
            color: #333;
            text-align: center;
            line-height: 60px;
            box-shadow: inset 0px -2px 10px #ccc;
        }
        .el-main {
            background-color: #e6e6e6;
            position: relative;
            padding: 10px;
        }
    }

</style>
