<template>
  <el-row class="market_container">
    <el-col :span="8" class="market_item">
      <el-row class="count_container">
        <count-analysis :data="analysisData"/>
      </el-row>
      <el-row class="act_container">
        <act-top5 :title="CONSFRE_LEFT_2_TITLES" :data="circlePieData"/>
      </el-row>
      <el-row class="pie_container">
        <pie-top5 :title="CONSFRE_LEFT_3_TITLES" :data="areaPieData"/>
      </el-row>
    </el-col>
    <el-col :span="16" class="market_item">
      <el-row class="map_container">
        <china-map :title="CONSFRE_RIGHT_1_TITLES.HEADTITLE" :types="CONSFRETYPES" :data="chinaMapData"/>
      </el-row>
      <el-row class="analysis_container">
        <line-chart :title="CONSFRE_RIGHT_2_TITLES"/>
      </el-row>
      <el-row class="bank_container">
        <bank-list :head="CONSFRE_RIGHT_3_HEAD" :data="bankData" :total="total" @getPageData="getPageData"/>
      </el-row>
    </el-col>
  </el-row>
</template>

<script>
import { CONSFRETYPES,CONSFRE_LEFT_2_TITLES,CONSFRE_LEFT_3_TITLES,CONSFRE_RIGHT_1_TITLES,CONSFRE_RIGHT_3_HEAD,CONSFRE_RIGHT_2_TITLES,LINEARGRADIENTCOLORS,TIMEZONES } from "@/store/main"
import {queryActiveNumberTOP5,queryConsumptionFrequency,queryConsumptionFrequencyAll,queryConsumptionRatioTOP5} from "@/controller/api_1"
export default {
  components: {
    countAnalysis: () => import('../components/consfre/left_1'),
    actTop5: () => import('../components/home/_circle_pie'),
    pieTop5: () => import('../components/home/_area_pie'),
    chinaMap: () => import('../components/home/_china_map'),
    bankList: () => import('../components/home/_table'),
    lineChart: () => import('../components/consfre/right_2'),
  },
  data () {
    return {
      analysisData:[],
      areaPieData:[],
      circlePieData:[],
      chinaMapData:[],
      bankData:[],
      total:0
    }
  },
  mounted(){
    this.init()
  },
  computed: {
    CONSFRE_LEFT_2_TITLES(){return CONSFRE_LEFT_2_TITLES},
    CONSFRE_LEFT_3_TITLES(){return CONSFRE_LEFT_3_TITLES},
    CONSFRE_RIGHT_1_TITLES(){return CONSFRE_RIGHT_1_TITLES},
    CONSFRETYPES(){return CONSFRETYPES},
    CONSFRE_RIGHT_3_HEAD(){return CONSFRE_RIGHT_3_HEAD},
    CONSFRE_RIGHT_2_TITLES(){return CONSFRE_RIGHT_2_TITLES},
    TYPE(){return TIMEZONES[this.$store.state.headTimeType]},
    DAY_ID(){return this.$store.state.headselectTime},
    HOME_PROV(){return this.$store.state.area},
    BANK_ID(){return this.$store.state.bank},
  },
  watch:{
    TYPE(){this.init()},
    DAY_ID(){
      this.init()
      this.queryConsumptionFrequencyAll()
    },
    HOME_PROV(){
      this.init()
      this.queryConsumptionFrequencyAll()
    },
    BANK_ID(){this.init()},
  },
  methods: {
    init(){
      this.queryConsumptionFrequency()
      this.queryActiveNumberTOP5()
      this.queryConsumptionRatioTOP5()
    },
    async queryConsumptionFrequency(){
      if(this.HOME_PROV && this.BANK_ID){
        queryConsumptionFrequency({
          HOME_PROV:this.HOME_PROV,
          DAY_ID:this.DAY_ID,
          BANK_ID:this.BANK_ID
        }).then(res => {
          res = res.data
          if(!res.code){
            if(res.data.activeData.length){
              let ac = res.data.activeData[0]
              this.analysisData = [ac[`sms_consume_${this.TYPE.name}_sum`],parseFloat(ac[`sms_consume_share_${this.TYPE.name}`]).toFixed(2)+"%",ac[`user_consume_${this.TYPE.name}_sum`],parseFloat(ac[`user_consume_share_${this.TYPE.name}`]).toFixed(2)+"%"]
              this.chinaMapData = [ac[`sms_consume_${this.TYPE.name}_sum`],ac[`user_consume_${this.TYPE.name}_sum`],parseFloat(ac[`user_consume_share_${this.TYPE.name}`]).toFixed(2)+"%"]
            }else{
              this.analysisData = new Array(4).fill(0)
              this.chinaMapData = new Array(3).fill(0)
            }
          }else{
            this.$message({
              type:"error",
              message:res.msg
            })
          }
        })
      }
    },
    async queryActiveNumberTOP5(){
      if(this.HOME_PROV && this.DAY_ID){
        queryActiveNumberTOP5({
          HOME_PROV:this.HOME_PROV,
          DAY_ID:this.DAY_ID,
          TYPE:this.TYPE.value
        }).then(res => {
          res = res.data
          if(!res.code){
            if(res.data.activeData.length){
              this.areaPieData = res.data.activeData.slice(0,5).map(v => {
                return {
                  name:v.bank_name,
                  value:v[`user_consume_${this.TYPE.name}_sum`]
                }
              })
            }else{
              this.areaPieData = []
            }
          }else{
            this.$message({
              type:"error",
              message:res.msg
            })
          }
        })
      }
    },
    async queryConsumptionRatioTOP5(){
      if(this.HOME_PROV && this.DAY_ID){
        queryConsumptionRatioTOP5({
          HOME_PROV:this.HOME_PROV,
          DAY_ID:this.DAY_ID,
          TYPE:this.TYPE.value
        }).then(res => {
          res = res.data
          if(!res.code){
            if(res.data.activeData.length){
              this.circlePieData = res.data.activeData.slice(0,5).map(v => {
                return {
                  name:v.bank_name,
                  value:v[`sms_consume_share_${this.TYPE.name}`]
                }
              })
            }else{
              this.circlePieData = []
            }
          }else{
            this.$message({
              type:"error",
              message:res.msg
            })
          }
        })
      }
    },
    getPageData(data){
      this.pagesize = data.size
      this.pagenum = data.num
      this.queryConsumptionFrequencyAll()
    },
    async queryConsumptionFrequencyAll(){
      if(this.HOME_PROV && this.DAY_ID){
        queryConsumptionFrequencyAll({
          homeProv:this.HOME_PROV,
          dayId:this.DAY_ID,
          pageNum:this.pagenum,
          pageSize:this.pagesize,
          userId:this.$store.state.userInfo.userId
        }).then(res => {
          res = res.data
          if(!res.code){
            if(res.data.length){
              let tmpData = res.data.map(v => {
                return {
                  type:v.bank_type_id == 2 ? "股份制商业银行" : "国有商业银行",
                  name:v.bank_name,
                  dayData:TIMEZONES.map(k => {
                    return [v[`sms_consume_${k.name}_sum`],v[`user_consume_${k.name}_sum`],parseFloat(v[`user_consume_share_${k.name}`]).toFixed(2)+"%"]
                  })
                }
              })
              this.bankData = [...tmpData.filter(v => v.type==="国有商业银行"),...tmpData.filter(v => v.type==="股份制商业银行")]
              this.total = res.total
            }else{
              this.bankData = []
            }
          }else{
            this.$message({
              type:"error",
              message:res.msg
            })
          }
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .market_container{
    height: 100%;
    .market_item{
      height: 100%;
      .count_container{
        height: calc(~"(30% - 8px)");
        margin-bottom: 8px;
        background-color: #fff;
      }
      .act_container{
        height: calc(~"(35% - 8px)");
        margin-bottom: 8px;
        background-color: #fff;
      }
      .pie_container{
        height: 35%;
        background-color: #fff;
      }
      .map_container{
        height: calc(~"(45% - 8px)");
        margin-bottom: 8px;
        margin-left: 8px;
        background-color: #fff;
      }
      .bank_container{
        height: 25%;
        margin-left: 8px;
        background-color: #fff;
      }
      .analysis_container{
        height: calc(~"(30% - 8px)");
        margin-left: 8px;
        margin-bottom: 8px;
        background-color: #fff;
      }
    }
  }
</style>
