<template>
    <el-row class="constimeContainer">
        <el-row class="consTop">
            <el-col :span="8" class="topleft">
                <constimeAna />

            </el-col>
            <el-col :span="16" class="topright">
                <consRate />
                <consCount />

            </el-col>

        </el-row>
        <el-row class="consBottom">
            <consList />

        </el-row>

    </el-row>

</template>

<script>
export default {
    components: {
        constimeAna:()=>import('../components/constime/constimeAna'),
        consRate:()=>import('../components/constime/consRate'),
        consCount:()=>import('../components/constime/consCount'),
        consList:()=>import('../components/constime/consList'),

    },
  data () {
    return {

    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style lang="less" scoped>
    .constimeContainer{
        height: 100%;
        .consTop{
            height: 60%;
            .topleft{
                height: 100%;
            }
            .topright{
                height: 100%;

            }

        }
        .consBottom{
            height: 40%;
        }

    }

</style>
