<template>
    <el-row class="focusContainer">
        <el-row class="top">
            <el-col :span="12" class="topcol">
                <typeAna />
            </el-col>
            <el-col :span="12" class="topcol">
                <frequentAna />
            </el-col>
        </el-row>
        <el-row class="middle" >
            <el-col :span="12" class="topcol">
                <typeTrend />
            </el-col>
            <el-col :span="12" class="topcol">
                <frequentTrend />
            </el-col>
        </el-row>
        <el-row class="bottom">
            <focusList />
        </el-row>
    </el-row>

</template>

<script>
export default {
  components: {
      typeAna: () => import('../components/focus/typeAna'),
     // commuting: () => import('../components/living/commuting'),
      frequentAna: ()=> import('../components/focus/frequentAna'),
      frequentTrend: ()=> import('../components/focus/frequentTrend'),
      typeTrend:()=> import('../components/focus/typeTrend'),
      focusList: ()=> import('../components/focus/focusList')




  },
  data () {
    return {

    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style lang="less" scoped>
    .focusContainer{
        height: 100%;
        .top{
            height: 30%;
            .topcol{
                height: 100%;
            }
        }
        .middle{
            height: 30%;
            .topcol{
                height: 100%;
            }
        }
        .bottom{
            height: 40%;
            .topcol{
                height: 100%;
            }
        }
    }

</style>
