<template>
  <el-container class="full_container">
    <el-header>
      <base-header :isApipage="true"/>
    </el-header>
    <el-row class="main_container">
        <img src="../assets/img/gywm.png"/>
    </el-row>

    <el-row  class="main_con">
        <img src="../assets/img/info.png"/>

        </el-row >
    <el-row  class="main_foot">


           </el-row >
  </el-container>
</template>
<script>
export default {
  components: {
    baseHeader: () => import('@/components/home/header'),
    baseFooter: () => import('@/components/home/footer'),
    sideMenu: () => import('@/components/home/menu'),
  }
}
</script>
<style lang="less" scoped>
  .full_container{
    height: 100%;
    padding: 20px 40px 20px 40px;
    .main_container{
      height: 50%;

      padding: 0 20px 0 0px;
      background-color: #D0D0D0;

    }
    .main_con{
      height: 25%;

    }
    .main_foot{
    height: 10%;
    background-color: #3366FF;

    }
  }
  .el-header {
    height: 15% !important;
    padding: 0  0px ;
  }

</style>

