<template>
   <el-row class="index_container">
    <el-row class="index_header">
          <base-header :isApipage="true"/>
    </el-row>
    <el-row class="index_body1">
        <el-row   style="height: 100px;  padding: 0 18.7% 0 18.7%; ">

             <el-button  style="float: left; margin-top: 50px;height: 40px;border-radius: 20px;border: 1px solid #b2b2b2;" round>
                 <span style="font-size: 22px;color: #b2b2b2; font-weight: 300; text-align: center;" @click='redirectIndex()'>首页 &nbsp;&nbsp;</span>
             </el-button>
             <el-button  style="float: left; margin-top: 50px;width: 134px; height: 40px;margin-left: -30px;line-height: 20px;border-radius: 20px;background-color: #375ea3;" round>
                 <span style="font-size: 24px;color: #ffffff;font-weight: 500;  text-align: center;"  >关于我们</span>
             </el-button>
        </el-row>

        <el-row  style="  height: 130px;   padding: 0 18.7% 0 18.7%;text-align: center;">
            <span style="font-size: 36px;letter-spacing: 3px;line-height: 49px;color: #375ea3;font-family: 'Source Han Sans SC';   font-weight: 500;  text-align: center;">
                熵机网成立于2020年<br/>
                致力于打造中国领先的物流仓储熵机平台
            </span>
        </el-row>

        <el-row style="height: 250px; padding: 0 27% 0 27%;text-align: center;">
            <el-row style="width: 30%;float: left;">
                <div style="height: 87px;"> <img src="../assets/img/shiming.png"  /> </div>
                <div style="height:40px;">   <span style="font-size: 30px;letter-spacing: 2px;line-height: 23px;color: #375ea3;font-family: 'Source Han Sans SC';font-weight: 400; text-align: center;">
                    使命</span><br>
                </div>
                <div style="height:80px;">  <span style="font-size: 14px;letter-spacing: 1px;line-height: 25px;color: #375ea3;  font-family: 'Source Han Sans SC';   font-weight: 300; text-align: center;">
                    让企业仓配无忧<br/>让员工幸福快乐  </span>
                </div>
                <div style="width: 21px;margin-left:120px;margin-top:20px;height: 7px;background-color: #3385ff;"></div>
            </el-row>
            <el-row style="width: 30%;float: left;">
                <div style="height: 87px;"><img src="../assets/img/yuanjing.png"  style="width: 85px; height: 66px;"/><br>  </div>

                <div style="height:40px;">   <span style="font-size: 30px;letter-spacing: 2px;line-height: 23px;color: #375ea3;font-family: 'Source Han Sans SC';font-weight: 400; text-align: center;">
                    愿景</span><br>
                </div>
                <div style="height:80px;"><span style="font-size: 14px;letter-spacing: 1px;line-height: 25px;color: #375ea3;  font-family: 'Source Han Sans SC';   font-weight: 300; text-align: center;">
                     打造国内领先的物流仓储商机平台<br/>  引领行业走向全球  </span>
                </div>
                <div style="width: 21px;margin-left:120px;margin-top:20px;height: 7px;background-color: #3385ff;"></div>
            </el-row>
            <el-row style="width: 30%;float: left;">
                <div style="height: 87px;"><img src="../assets/img/jzg.png"   style="width: 85px; height: 66px;"/><br> </div>
                <div style="height:40px;">  <span style="font-size: 30px;letter-spacing: 2px;line-height: 23px;color: #375ea3;font-family: 'Source Han Sans SC';font-weight: 400; text-align: center;">
                    核心价值观</span><br>
                </div>
                <div style="height:80px;"><span style="font-size: 14px;letter-spacing: 1px;line-height: 25px;color: #375ea3;  font-family: 'Source Han Sans SC';   font-weight: 300; text-align: center;">
                     客户第一、诚信为本<br/>  团结协作、高效执行、激情、专业  </span>
                </div>
                <div style="width: 21px;margin-left:120px;margin-top:20px;height: 7px;background-color: #3385ff;"></div>
            </el-row>

        </el-row>


    </el-row>
    <el-row class="index_foot">
        <base-footer />
    </el-row>
   </el-row>
</template>
<script>
 import ElRow from "element-ui/packages/row/src/row";
 import ElDivider from "../../node_modules/element-ui/packages/divider/src/main.vue";

 const cityOptions = ['上海', '北京', '广州'];
 const typeOptions = [ '深圳','上海', '北京' ];
  const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
export default {

data () {
        return {
            currentPage3: 1,
            totalCount:0,
          checkboxGroup: ['上海'],
            checkTypeGroup: ['仓储/仓储一体'],
            checkDateGroup: ['不限'],
             types: typeOptions,
             dates: dateOptions,
            url:'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
          cities: cityOptions,
           currentPage1: 5,
                  currentPage2: 5,
                  currentPage3: 5,
                  currentPage4: 4,
                  tableData: [{
                                img: '../assets/img/hz.jpg',
                                name: '王小虎',
                                address: '在改革开放的初期，一批商人迅速崛起，将市场进行垄断。在这个时代，商品需求远远的大于人们的生产能力，在卖方市场的红利下，财富开始快速的累积。人们认识到商业所能带来的财富远远的大于其他的模式下的经济，利用不对等的信息，快速的一批跟随者涌入商业市场，并且谋取大量财富'
                              },{
                                                                img: '../assets/img/hz.jpg',
                                                                name: '王小虎',
                                                                address: '上海市普陀区金沙江路 1518 弄'
                                                              }]


        };
      },
  components: {
      ElDivider,
      ElRow,
      baseHeader: () => import('@/components/home/indexHeader'),
    baseFooter: () => import('@/components/home/footer_nbg'),
    sideMenu: () => import('@/components/home/menu'),
  }
, methods: {
        redirectIndex(){
            this.$router.push('index');
        }
     }
}
</script>
<style lang="less" scoped>
  .index_container{
        height: 100%;
        width: 100%;
        .index_header{
            height: 135px;


        }
         .index_body1{
                height: 486px;
             background : url("../assets/img/gywm_back.png") no-repeat;
             font-size: 30px;
             letter-spacing: 2px;
             line-height: 40px;
             color: #375ea3;
             font-family: "Source Han Sans SC";


          }
          .index_foot{
                       height: 312px;
                        .index_foot_sm{
                             height: 240px;
                                width: 100%;
                        }
                        .index_foot_db{
                                height: 72px;
                                background-color: rgb(55, 94, 163);
                                text-align: center;
                                padding: 27px 0px 0px 0px;
                       }
                  }
         .el-divider--horizontal{
              margin: 8px 0;
              background: 0 0;
              border-top: 1px dashed #e8eaec;
          }
          .line-left-right {

          padding: 0 0px 0px;

          margin: 20px 0px;

          line-height: 1px;

          border-left: 750px solid rgb(221, 221, 221);

          border-right: 750px solid rgb(221, 221, 221);

          text-align: center;

          height: 2px;

          }
  }

</style>

