<template>
  <el-container class="full_container">
    <el-header>
      <base-header :isApipage="true"/>
    </el-header>
    <el-row class="main_container">
        <img src="../assets/img/hz.jpg" style="width:100%; height: 100%;"/>
    </el-row>
    <el-row  class="main_con">

    <div class="box_header">
     <div class="box_title">
         <div class="box_type">
             <span>选择地区：</span>
             <el-checkbox-group v-model="checkboxGroup" size="medium" >
               <el-checkbox v-for="city in cities" :label="city" :key="city"  style="margin-top: 20px">{{city}}</el-checkbox>
             </el-checkbox-group>
        </div>
         <div class="box_type">
             <span>行业类型：</span>
             <el-checkbox-group v-model="checkTypeGroup" size="medium" >
               <el-checkbox v-for="type in types" :label="type" :key="type"  style="margin-top: 20px">{{type}}</el-checkbox>
             </el-checkbox-group>
        </div>
        <div class="box_type">
             <span>选择时间：</span>
             <el-checkbox-group v-model="checkDateGroup" size="medium" >
               <el-checkbox v-for="date in dates" :label="date" :key="date"  style="margin-top: 20px">{{date}}</el-checkbox>
             </el-checkbox-group>
        </div>
      </div>
 </div>

        <div class="box_body">

                 <el-table :data="tableData"  style=" padding: 50px 300px 0px 300px;" >
                       <el-table-column  prop="date" label="地区"  width="180"   > </el-table-column>
                       <el-table-column prop="name" label="项目类型" width="180"  > </el-table-column>
                       <el-table-column  prop="address"  label="行业类型"  width="300"  > </el-table-column>
                       <el-table-column prop="name" label="标题" width="180"  > </el-table-column>
                      <el-table-column  prop="address"  label="日期"  > </el-table-column>
                 </el-table>
                <el-pagination style="margin-top: 20px;float:right;"
                      @size-change="handleSizeChange"
                      @current-change="handleCurrentChange"
                      :current-page="currentPage4"
                      :page-sizes="[10, 20, 30, 40]"
                      :page-size="100"
                      layout="total, sizes, prev, pager, next, jumper"
                      :total="400">
                    </el-pagination>

 <img src="../assets/img/foot.png"  style="margin-top: 20px;"/>
              </div>


    </el-row >


  </el-container>
</template>
<script>
 const cityOptions = ['上海', '北京', '广州', '深圳'];
 const typeOptions = ['仓储/仓储一体', '整车零担', '城配' ];
  const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
export default {
data () {
        return {

          checkboxGroup: ['上海'],
            checkTypeGroup: ['仓储/仓储一体'],
            checkDateGroup: ['不限'],
             types: typeOptions,
             dates: dateOptions,
          cities: cityOptions,
           currentPage1: 5,
                  currentPage2: 5,
                  currentPage3: 5,
                  currentPage4: 4,
          tableData: [{
                      date: '2016-05-02',
                      name: '王小虎',
                      address: '上海市普陀区金沙江路 1518 弄'
                    }, {
                      date: '2016-05-04',
                      name: '王小虎',
                      address: '上海市普陀区金沙江路 1517 弄'
                    }, {
                      date: '2016-05-01',
                      name: '王小虎',
                      address: '上海市普陀区金沙江路 1519 弄'
                    }, {
                      date: '2016-05-03',
                      name: '王小虎',
                      address: '上海市普陀区金沙江路 1516 弄'
                    }, {
                                           date: '2016-05-04',
                                           name: '王小虎',
                                           address: '上海市普陀区金沙江路 1517 弄'
                                         }, {
                                           date: '2016-05-01',
                                           name: '王小虎',
                                           address: '上海市普陀区金沙江路 1519 弄'
                                         }, {
                                           date: '2016-05-03',
                                           name: '王小虎',
                                           address: '上海市普陀区金沙江路 1516 弄'
                                         }, {
                                                                date: '2016-05-04',
                                                                name: '王小虎',
                                                                address: '上海市普陀区金沙江路 1517 弄'
                                                              }, {
                                                                date: '2016-05-01',
                                                                name: '王小虎',
                                                                address: '上海市普陀区金沙江路 1519 弄'
                                                              }, {
                                                                date: '2016-05-03',
                                                                name: '王小虎',
                                                                address: '上海市普陀区金沙江路 1516 弄'
                                                              }, {
                                                                                     date: '2016-05-04',
                                                                                     name: '王小虎',
                                                                                     address: '上海市普陀区金沙江路 1517 弄'
                                                                                   }, {
                                                                                     date: '2016-05-01',
                                                                                     name: '王小虎',
                                                                                     address: '上海市普陀区金沙江路 1519 弄'
                                                                                   }, {
                                                                                     date: '2016-05-03',
                                                                                     name: '王小虎',
                                                                                     address: '上海市普陀区金沙江路 1516 弄'
                                                                                   }]
        };
      },
  components: {
    baseHeader: () => import('@/components/home/indexHeader'),
    baseFooter: () => import('@/components/home/footer'),
    sideMenu: () => import('@/components/home/menu'),
  }
, methods: {
       handleSizeChange(val) {
         console.log(`每页 ${val} 条`);
       },
       handleCurrentChange(val) {
         console.log(`当前页: ${val}`);
       }
     }
}
</script>
<style lang="less" scoped>
  .full_container{
    height: 100%;
    padding: 20px 40px 20px 40px;
    .main_container{
      height: 50%;
      background-color: #D0D0D0;
    }

    .main_con{
      height: 25%;
      .box_header{
       padding: 20px 300px 20px 300px;
          .box_title{
             height: 200px;
             padding: 20px 20px 20px 20px;
             box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
             .box_type{
                  height:  33%;
                  padding: 0px 0px 0px -20px;
                  font-size: 20px;
                  span{
                     width: 30%;
                     padding: 20px 20px 20px 20px;
                     display: inline-block;
                     cursor: pointer;
                     float: left;
                    }
             }
          }
          .box_body{
           height: 200px;

           padding: 20px 300px 20px 300px;
                   box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
                   .box_type{
                        height:  33%;
                        padding: 0px 0px 0px -20px;
                        font-size: 20px;
                        span{
                           width: 30%;
                           padding: 20px 20px 20px 20px;
                           display: inline-block;
                           cursor: pointer;
                           float: left;
                          }
                   }
             }
      }
    }
    .el-header {
        height: 15% !important;
        padding: 0  0px ;
      }.main_foot{
                        height: 10%;
                        background-color: #D0D0D0;
                      }
  }


</style>

