<template>
    <div class="index_container">
        <div class="index_header">
            <base-header />
        </div>
        <div class="index_body">
            <router-view></router-view>
        </div>
        <div class="index_foot">
            <base-footer />
        </div>
    </div>
</template>
<script>
    export default {
        components: {
            baseHeader: () => import('@/components/home/indexHeader'),
            baseFooter: () => import('@/components/home/footer'),
            sideMenu: () => import('@/components/home/menu'),
        }
    }
</script>


<style lang="less" >
    .index_container {
        height: 100%;
        .index_header {
            height: 130px;
        }
        .index_body {
            height: calc(~"(100% - 442px)");
        }
        .index_foot {
            height: 312px;
            /*background-image: url("../assets/img/logo_foot.jpg");*/
        }
    }


</style>


<style lang="less">
    .index_container {

        .el-checkbox-button.is-checked .el-checkbox-button__inner {
            background-color: #375ea3;

        }

        .el-pagination button, .el-pagination span:not([class*=suffix]) {
            display: inline-block;
            font-size: 13px;
            min-width: 35.5px;
            max-width: 100px;
            height: 35px;
            line-height: 35px;
        }

        .el-pagination {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .el-checkbox-button, .el-checkbox-button__inner {
            border: none;
            color: rgb(55, 94, 163);
        }

        .el-checkbox-button:first-child .el-checkbox-button__inner {
            border-left: 0px;

        }

        .el-pager li {
            vertical-align: top;
            display: inline-block;
            margin: 0 5px;
            line-height: 35px;
            border: 1px solid rgb(174, 174, 174);
            color: rgb(174, 174, 174);
            height: 35px;
            width: 35px;
        }

        .el-pager li.active {
            background-color: rgb(252, 116, 6);
            /* cursor: default; */
            color: rgb(255, 255, 255);
            height: 35px;
            width: 35px;
        }

        .el-pager li.active + li {
            /* border-left: 0; */
            border: 1px solid rgb(174, 174, 174);
            height: 35px;
            width: 35px;
        }

        .el-pagination .btn-next {
            padding-left: 12px;
            border: 1px solid rgb(174, 174, 174);
            height: 35px;
            width: 70px;
        }

        .el-pagination .btn-prev {
            padding-right: 12px;
            border: 1px solid rgb(174, 174, 174);
            height: 35px;
            width: 70px;
        }

        .el-pagination button {
            border: none;
            padding: 0 16px;

        }

    }

</style>

