<template>
   <div class="index_container">
    <div class="index_header">
              <base-header :isApipage="true"/>
    </div>
    <div class="index_body1">
        <route-view></route-view>
        <!--<el-row class="index_body_img" >-->
            <!--<img src="../assets/img/hz.png" style="width:100%"/>-->
        <!--</el-row>-->
        <!--<el-row class="index_body_info">-->

            <!--<el-row style="box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04); ">-->

                 <!--<el-row class="box_type">-->
                         <!--<div style="float:left; margin-top: 20px;margin-left:20px;width: 8%;height: 100%;font-size: 12px;-->
<!--line-height: 30px;-->
<!--color: #6f6f6f;-->
<!--font-family: 'Source Han Sans SC';-->
                    <!--font-weight: 400;-->
                    <!--text-align: center;">选择地区：</div>-->

                          <!--<div style="float:left; margin-top: 13px;width: 85%;">-->
                             <!--<el-checkbox-group v-model="cityModel" size="small">-->
                               <!--<el-checkbox-button v-for="city in citys" :label="city"   :key="city" @change="getDataByParam()">  </el-checkbox-button>-->
                             <!--</el-checkbox-group>-->
                         <!--</div>-->


                  <!--</el-row>-->
                   <!--&lt;!&ndash; <el-row  > <span style="float:right; margin-right: 100px; ">说明：地区按拼音A-Z排序</span></el-row>&ndash;&gt;-->
                <!--<el-row class="box_type">-->
                    <!--<div style="float:left; margin-top: 20px; margin-left:20px;width: 8%;height: 100%;font-size: 12px;-->
<!--line-height: 30px;-->
<!--color: #6f6f6f;-->
<!--font-family: 'Source Han Sans SC';-->
                    <!--font-weight: 400;-->
                    <!--text-align: center;">行业类型：</div>-->

                    <!--<div style="float:left;margin-top: 13px;  width: 60%;">-->
                      <!--<el-checkbox-group v-model="typeModel" size="small" max="">-->
                        <!--<el-checkbox-button v-for="type in types" :label="type"   :key="type" @change="getDataByParam()" > </el-checkbox-button>-->
                      <!--</el-checkbox-group>-->
                    <!--</div>-->
               <!--</el-row>-->
                 <!--<el-row class="box_type">-->
                     <!--<div style="float:left; margin-top: 20px;margin-left:20px;width: 8%;height: 100%;font-size: 12px;-->
<!--line-height: 30px;-->
<!--color: #6f6f6f;-->
<!--font-family: 'Source Han Sans SC';-->
                    <!--font-weight: 400;-->
                    <!--text-align: center;">选择时间：</div>-->

                     <!--<div style="float:left; margin-top: 13px;width: 60%;">-->
                         <!--<el-checkbox-group v-model="dateModel" size="small">-->
                           <!--<el-checkbox-button v-for="city in types" :label="city"   :key="city" @change="getDataByParam()"></el-checkbox-button>-->
                         <!--</el-checkbox-group>-->
                     <!--</div>-->
                  <!--</el-row>-->

                <!--<el-row class="box_type">-->

                    <!--<div style="float:right;  margin-right:10%; margin-top: -100px;font-size: 12px;-->
<!--letter-spacing: 0px;-->
<!--line-height: 30px;-->
<!--color: #9a9a9a;-->
<!--font-family: 'Source Han Sans SC';-->
                    <!--font-weight: 400;">说明  ：  地区按拼音A-Z排序</div>-->
                    <!--<div style="float:right;  margin-right:10%; margin-top: -50px;font-size: 12px;-->
<!--line-height: 30px;-->
<!--color: #6f6f6f;-->
<!--font-family: 'Source Han Sans SC';-->
                    <!--font-weight: 700;-->
                    <!--text-align: center; ">已选条件：-->
                        <!--<el-button @click='clearCheckbox(10)'style="font-size: 12px;-->
<!--line-height: 12px;-->
<!--color: #545454;-->
<!--font-family: 'Source Han Sans SC';color: #6f6f6f;-->
                        <!--font-weight: 400;-->
                        <!--text-align: center;">清空已选条件</el-button></div>-->

                <!--</el-row>-->


            <!--</el-row>-->
             <!--<el-row style="box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);height: 80%;margin-top: 15px;">-->

                <!--<el-table :data="tableData" :header-cell-style="{'text-align':'center'}"  :cell-style="{'text-align':'center'}" >-->
                       <!--<el-table-column  prop="province" :render-header="renderHeader" label="地区"  style="border-bottom: 1px dashed #ebeef5;text-align:center; font-size: 13px;-->
<!--line-height: 30px;-->
<!--color: #6f6f6f;-->
<!--font-family: 'Source Han Sans SC';-->
                    <!--font-weight: 700;  "  width="110"> </el-table-column>-->
                       <!--<el-table-column prop="type" :render-header="renderHeader" label="项目类型"  :formatter="formatType" style="border-bottom: 1px dashed #ebeef5;text-align:center; " width="110"> </el-table-column>-->
                       <!--<el-table-column  prop="sjService" :render-header="renderHeader" label="行业类型" style="border-bottom: 1px dashed #ebeef5;text-align:center; " width="110"> </el-table-column>-->
                       <!--<el-table-column prop="shortDescription" :render-header="renderHeader" label="标题"  style="border-bottom: 1px dashed #ebeef5;text-align:center; "    > </el-table-column>-->
                      <!--<el-table-column  prop="createTime"  :render-header="renderHeader"  label="日期"  style="border-bottom: 1px dashed #ebeef5;text-align:center; "  width="110"> </el-table-column>-->
                 <!--</el-table>-->

                 <!--<el-row style=" float:left;">-->
                 <!--<el-pagination-->
                      <!--@size-change="handleSizeChange"-->
                      <!--@current-change="handleCurrentChange"-->
                      <!--:current-page.sync="currentPage3"-->
                      <!--:page-size="20"-->
                      <!--layout="prev, pager, next, jumper"-->
                      <!--:total="totalCount"-->

                       <!--next-text="下一页"-->
                       <!--prev-text="上一页">-->
                    <!--</el-pagination>-->
                     <!--</el-row>-->
                    <!--<el-button style=" float:left;margin-top: 30px;margin-left: 30px;background-color: rgb(55, 94, 163);color:rgb(255, 255, 255);width:60px;height:35px;" @click="getDataByPage">确定</el-button>-->
             <!--</el-row>-->


        <!--</el-row>-->


    </div>
    <el-row class="index_foot">
                <el-row class="index_foot_sm">
                    <img src="../assets/img/logo_db.png"  style="float: left;width: 30%;"/>
                    <div style="float: left; margin-left:5px;width:16px;height:120px;font-size: 15px;letter-spacing: 1px; color: #375ea3;font-family: 'Source Han Sans SC';font-weight: bolder;"> 关注公众号</div>
                    <div style="float: left; margin-left:5px;width:16px;height:120px;font-size: 15px;letter-spacing: 1px; color: #375ea3;font-family: 'Source Han Sans SC';font-weight: bolder;">随时掌握一手商机</div>

                    <div style="border: 1px solid #375ea3;width: 130px;height: 130px;float: left;margin-left: 20px;"></div>


                    <div style="float: left; margin-left:40px;width:16px;height:120px;font-size: 15px;letter-spacing: 1px; color: #375ea3;font-family: 'Source Han Sans SC';font-weight: bolder;">扫码入群</div>

                    <div style="border: 1px solid #375ea3;width: 130px;height: 130px;float: left;margin-left: 20px;"></div>


                    <div style="float: left;margin-left:70px;margin-top:70px;font-size: 16px;letter-spacing: 2px;line-height: 30px;color: #375ea3;font-family: 'Source Han Sans SC';    font-weight: bolder;">
                        &nbsp;&nbsp;联系我们
                        <br>
                        <img src="../assets/img/email.png"  style="float: left;"/>
                    </div>

                </el-row>
                 <el-row class="index_foot_db">
                    版权所有：熵机网 / 备案号： 京ICP备015647845
                  </el-row>
            </el-row>
   </div>
</template>
<script>
 import {  selectAllData,selectAllProvinceData,selectAllIndustryType  } from "@/controller/api"

  const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
export default {
data () {
        return {

            cityModel: [''],
            typeModel: [''],
            dateModel: [''],

            curPageSize:1,
             types: [],
             dates: dateOptions,
             citys: [],
             currentPage1: 5,
             currentPage2: 5,
             currentPage3: 1,
             currentPage4: 4,
             tableData: [],
             totalCount:0

        };
      },
  components: {
    baseHeader: () => import('@/components/home/indexHeader'),
    baseFooter: () => import('@/components/home/footer'),
    sideMenu: () => import('@/components/home/menu'),
  }
   , mounted(){
              this.selectAllData(),
              this.selectAllProvinceData(),
              this.selectAllIndustryType()
          }
    , methods: {
        getDataByParam(){
            selectAllData({
                sjService:this.typeModel.toString().substring(1,this.typeModel.toString().length) ,
                province:this.cityModel.toString().substring(1,this.cityModel.toString().length) ,
                min:19*(this.curPageSize-1),
                max:19*this.curPageSize
            }).then(res => {
                res = res.data
                if(!res.code){
                    this.tableData = res.data ? res.data : []
                    this.totalCount = res.pageSize ? res.pageSize : 0
                }
            })
        },
        getDataByPage(){

                selectAllData({
                    min:19*(this.curPageSize-1),
                    max:19*this.curPageSize
                }).then(res => {
                    res = res.data
                    if(!res.code){
                        this.tableData = res.data ? res.data : []
                        this.totalCount = res.pageSize ? res.pageSize : 0
                    }
                })

        },
        clearCheckbox(){
            this.cityModel=[]
            this.typeModel= []
              this.dateModel= []
            this.selectAllData()
        },
        renderHeader(h,{column}){
            let icon=''
            if(column.label =='日期'){
                icon='el-icon-date'
            }else  if(column.label =='地区'){
               icon='el-icon-location-outline'
            }else  if(column.label =='行业类型'){
                icon='el-icon-menu'
            }else  if(column.label =='标题'){
              icon='el-icon-s-comment'
            }else  if(column.label =='项目类型'){
               icon='el-icon-document'
             }





            return h('div',[
            h('i', {
                                class:icon

                              }),
                 h('span', '  '+column.label)

             ]);
        },

            selectAllData(){
                selectAllData({
                    min:0,
                    max:20
                }).then(res => {
                    res = res.data
                    if(!res.code){
                        this.tableData = res.data ? res.data : []
                        this.totalCount = res.pageSize ? res.pageSize : 0
                    }
                })
            },
            selectAllProvinceData(){
                selectAllProvinceData({

                }).then(res => {
                    res = res.data
                    if(!res.code){
                        this.citys = res.data ? res.data : []

                    }
                })
            },
            selectAllIndustryType(){
                selectAllIndustryType({

                }).then(res => {
                    res = res.data
                    if(!res.code){
                        this.types = res.data ? res.data : []
                    }
                })
            },
            formatType (row, column) {
                if(row.type=='1'){
                    return "需求"
                }
                 if(row.type=='2'){
                    return "供给"
                }
                if(row.type=='3'){
                    return "招标"
                }

            },

       handleSizeChange(val) {
         console.log(`每页 ${val} 条P`);
       },
       handleCurrentChange(val) {
         this.curPageSize = val;
       }
     }
}
</script>


<style lang="less"  >
    .el-checkbox-button.is-checked .el-checkbox-button__inner {
        background-color: #375ea3;

    }
.el-pagination button, .el-pagination span:not([class*=suffix]) {
    display: inline-block;
    font-size: 13px;
    min-width: 35.5px;
    max-width: 100px;
    height: 35px;
    line-height: 35px;
    }
.el-pagination {
    margin-top: 30px;
    margin-bottom: 30px;
}
 .el-checkbox-button, .el-checkbox-button__inner{
         border:none;
         color:rgb(55, 94, 163);
     }
.el-checkbox-button:first-child .el-checkbox-button__inner {
  border-left: 0px;

}

.el-pager li {
    vertical-align: top;
    display: inline-block;
    margin: 0 5px;
        line-height: 35px;
    border: 1px solid rgb(174, 174, 174);
     color:  rgb(174, 174, 174);
      height: 35px;
      width: 35px;
}
.el-pager li.active {
     background-color: rgb(252, 116, 6);
     /* cursor: default; */
     color:  rgb(255, 255, 255);
     height: 35px;
      width: 35px;
 }
    .el-pager li.active+li {
         /* border-left: 0; */
         border: 1px solid  rgb(174, 174, 174);
 height: 35px;
              width: 35px;
     }
     .el-pagination .btn-next {
         padding-left: 12px;
         border: 1px solid rgb(174, 174, 174);
           height: 35px;
           width: 70px;
     }
     .el-pagination .btn-prev {
         padding-right: 12px;
         border: 1px solid rgb(174, 174, 174);
          height: 35px;
            width: 70px;
     }
     .el-pagination button {
         border: none;
         padding: 0 16px;

     }
  .index_container{
        height: 100%;


        .index_header{
            height: 130px;
            .index_header_logo{
                height: 62%;
            }
             .index_header_title{
                    height: 38%;
                    background-color: rgb(55, 94, 163);
                        }

        }

         .index_body1{
                /*height: calc(100% - 442px);*/
                height: calc(~"(100% - 442px)");
                /*.index_body_img{*/
                     /*width: 100%;*/
                /*}*/
                /*.index_body_info{*/
                     /*height: 68%;*/
                     /*padding: 50px 20% 60px 20%;*/

                      /*.box_type{*/

                                /*margin-top: 10px;*/
                          /*font-size: 13px;*/
                          /*letter-spacing: 0px;*/
                          /*line-height: 30px;*/
                          /*color: #184fbe;*/
                          /*font-family: "Source Han Sans SC";*/
                          /*font-weight: 400;*/
                          /*}*/


                /*}*/

          }
        .index_foot{
            background: url("../assets/img/logo_foot.jpg");
                              height: 312px;
                               .index_foot_sm{
                                    height: 240px;
                                    width: 100%;
                                   padding: 50px 20% 60px 20%;
                               }
                               .index_foot_db{

                                   height: 70px;
                                   background-color: #375ea3;
                                   font-size: 14px;
                                   letter-spacing: 1px;
                                   line-height: 70px;
                                   color: #79a1e9;
                                   font-family: "Source Han Sans SC";
                                   font-weight: 400;
                                   text-align: center;

                              }
                         }
  }

</style>

