<template>
   <el-row class="index_container">
    <el-row class="index_header">
          <base-header :isApipage="true"/>
    </el-row>
    <el-row class="index_body">
        <el-row   style="height: 130px; ">
             <el-button  style="float: left; margin-top: 50px;height: 40px;border-radius: 20px;border: 1px solid #b2b2b2;" round>
                 <span style="font-size: 22px;color: #b2b2b2; font-weight: 300; text-align: center;" @click='redirectIndex()'>首页 &nbsp;&nbsp;</span>
             </el-button>
             <el-button  style="float: left; margin-top: 50px;width: 134px; height: 40px;margin-left: -30px;line-height: 20px;border-radius: 20px;background-color: #375ea3;" round>
                 <span style="font-size: 24px;color: #ffffff;font-weight: 500;  text-align: center;"  >媒体报道</span>
             </el-button>
        </el-row>
        <el-divider style="width:100%;height: 1px;background-color: #cccccc;"></el-divider>
        <el-row   class="index_body_data" >

            <el-row   v-for="type in tableData"  class="index_body_info">

                <img src="../assets/img/bd.png" class="index_body_data_img" />
                <el-row class="index_body_data_info">
                    <el-row class="index_body_data_info_title">
                        {{type.name}}
                    </el-row>
                    <el-row class="index_body_data_info_body">
                        {{type.address}}
                    </el-row>
                    <el-row class="index_body_data_info_date">
                       <i class="el-icon-time"></i> {{type.name}}
                    </el-row>
                </el-row>
                <div style=" margin: 155px 0;  background: 0 0;   border-top: 1px dashed #e8eaec;"> </div>
            </el-row>
            <el-row style=" float:left;">
                <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page.sync="currentPage3"
                    :page-size="20"
                    layout="prev, pager, next, jumper"
                    :total="totalCount"

                    next-text="下一页"
                    prev-text="上一页">
                </el-pagination>
            </el-row>
            <el-button style=" float:left;margin-top: 30px;margin-left: 30px;background-color: rgb(55, 94, 163);color:rgb(255, 255, 255);width:60px;height:35px;" @click="getDataByPage">确定</el-button>

        </el-row>



    </el-row>
    <el-row class="index_foot">
        <el-row class="index_foot_sm">
             <img src="../assets/img/logo_foot.jpg" />
        </el-row>
         <el-row class="index_foot_db">
            <span>版权所有：熵机网 / 备案号： 京ICP备015647845</span>
          </el-row>
    </el-row>
   </el-row>
</template>
<script>
 const cityOptions = ['上海', '北京', '广州'];
 const typeOptions = [ '深圳','上海', '北京' ];
  const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
export default {
data () {
        return {
            currentPage3: 1,
            totalCount:0,
          checkboxGroup: ['上海'],
            checkTypeGroup: ['仓储/仓储一体'],
            checkDateGroup: ['不限'],
             types: typeOptions,
             dates: dateOptions,
            url:'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
          cities: cityOptions,
           currentPage1: 5,
                  currentPage2: 5,
                  currentPage3: 5,
                  currentPage4: 4,
                  tableData: [{
                                img: '../assets/img/hz.jpg',
                                name: '王小虎',
                                address: '在改革开放的初期，一批商人迅速崛起，将市场进行垄断。在这个时代，商品需求远远的大于人们的生产能力，在卖方市场的红利下，财富开始快速的累积。人们认识到商业所能带来的财富远远的大于其他的模式下的经济，利用不对等的信息，快速的一批跟随者涌入商业市场，并且谋取大量财富'
                              },{
                                                                img: '../assets/img/hz.jpg',
                                                                name: '王小虎',
                                                                address: '上海市普陀区金沙江路 1518 弄'
                                                              }]


        };
      },
  components: {
    baseHeader: () => import('@/components/home/indexHeader'),
    baseFooter: () => import('@/components/home/footer'),
    sideMenu: () => import('@/components/home/menu'),
  }
, methods: {
        redirectIndex(){
            this.$router.push('index');
        },
        handleSizeChange(val) {
            console.log(`每页 ${val} 条P`);
        },
        handleCurrentChange(val) {
            this.curPageSize = val;
        }
     }
}
</script>
<style lang="less" >
    .el-pager li {
        vertical-align: top;
        display: inline-block;
        margin: 0 5px;
        line-height: 35px;
        border: 1px solid rgb(174, 174, 174);
        color:  rgb(174, 174, 174);
        height: 35px;
        width: 35px;
    }
    .el-pager li.active {
        background-color: rgb(252, 116, 6);
        /* cursor: default; */
        color:  rgb(255, 255, 255);
        height: 35px;
        width: 35px;
    }
    .el-pager li.active+li {
        /* border-left: 0; */
        border: 1px solid  rgb(174, 174, 174);
        height: 35px;
        width: 35px;
    }
    .el-pagination .btn-next {
        padding-left: 12px;
        border: 1px solid rgb(174, 174, 174);
        height: 35px;
        width: 70px;
    }
    .el-pagination .btn-prev {
        padding-right: 12px;
        border: 1px solid rgb(174, 174, 174);
        height: 35px;
        width: 70px;
    }
    .el-pagination button {
        border: none;
        padding: 0 16px;

    }
    .el-checkbox-button.is-checked .el-checkbox-button__inner {
        background-color: #375ea3;

    }
    .el-pagination button, .el-pagination span:not([class*=suffix]) {
        display: inline-block;
        font-size: 13px;
        min-width: 35.5px;
        height: 35px;
        line-height: 35px;
    }
    .el-pagination {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .el-checkbox-button, .el-checkbox-button__inner{
        border:none;
        color:rgb(55, 94, 163);
    }
    .el-checkbox-button:first-child .el-checkbox-button__inner {
        border-left: 0px;

    }

    .index_container{
        height: 100%;
        width: 100%;
        .index_header{
            height: 115px;


        }
         .index_body{
            padding: 0 18.7% 0 18.7%;
             .index_body_data{
                 .index_body_info{
                     height: 180px;
                     .index_body_data_img{
                         height: 120px;
                         width: 19%;
                         float: left;
                     }
                     .index_body_data_info{
                         width: 81%;
                         height: 120px;
                         float: left;
                         .index_body_data_info_title{
                            margin-left: 30px;
                             height: 30%;
                             font-size: 18px;
                             line-height: 49px;
                             color: #333333;
                             font-family: "Source Han Sans SC";
                             font-weight: 400;
                         }
                         .index_body_data_info_body{
                             margin-left: 30px;
                             height: 40%;
                             font-size: 14px;
                             line-height: 27px;
                             color: #6f6f6f;
                             font-family: "Source Han Sans SC";
                             font-weight: 400;

                         }
                         .index_body_data_info_date{
                             margin-left: 30px;
                             height: 30%;
                             font-size: 14px;
                             line-height: 49px;
                             color: #6f6f6f;

                             font-family: "Source Han Sans SC";
                             font-weight: 400;
                         }
                         .el-divider--horizontal{
                             margin: 8px 0;
                             background: 0 0;
                             border-top: 1px dashed #e8eaec;
                         }
                     }
                 }
             }


          }
          .index_foot{
                       height: 312px;
                        .index_foot_sm{
                             height: 240px;
                                width: 100%;
                        }
                        .index_foot_db{
                                height: 72px;
                                background-color: rgb(55, 94, 163);
                                text-align: center;
                                padding: 27px 0px 0px 0px;
                       }
                  }

          .line-left-right {

          padding: 0 0px 0px;

          margin: 20px 0px;

          line-height: 1px;

          border-left: 750px solid rgb(221, 221, 221);

          border-right: 750px solid rgb(221, 221, 221);

          text-align: center;

          height: 2px;

          }
  }

</style>

