<template>
    <el-row class="restimeContainer">
        <el-row class="restimetop">
            <el-col :span="8" class="topleft">
                <timeAna />
            </el-col>
            <el-col :span="16" class="topright">
                <timefrequent />
                <countAna />
            </el-col>

        </el-row>
        <el-row class="restimeBottom">
            <restimeList />
        </el-row>

    </el-row>

</template>

<script>
export default {
  components: {
      timeAna:()=>import('../components/restime/timeAna'),
      restimeList:()=>import('../components/restime/restimeList'),
      timefrequent:()=>import('../components/restime/timefrequent'),
      countAna:()=>import('../components/restime/countAna'),

  },
  data () {
    return {

    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style lang="less" scoped>
    .restimeContainer{
        height: 100%;
        .restimetop{
            height: 60%;
            .topleft{
                height: 100%;
            }
            .topright{
                height: 100%;

            }

        }
        .restimeBottom{
            height: 40%;
        }

    }

</style>
