<template>
   <el-row class="index_container">
    <el-row class="index_header">
          <base-header :isApipage="true"/>
    </el-row>
    <el-row class="index_body">
         <el-row class="index_body_left">
              <div  class="index_body_left_title" style="height:60px;" @click='radioChange(7)'>一米豆腐</div>
              <div  class="index_body_left_title"  @click='radioChange(8)' >我的订阅</div>
              <div  class="index_body_left_title"  @click='radioChange(9)'  >我的收入</div>
              <div  class="index_body_left_title"  @click='radioChange(10)'  >我的收藏</div>
              <div  class="index_body_left_title"  @click='radioChange(11)'  >我的邀约</div>
              <div  class="index_body_left_title"  @click='radioChange(12)'  >我的发布</div>
              <div  class="index_body_left_title"  @click='radioChange(13)'  >用户须知</div>
         </el-row>
         <el-row class="index_body_header">
               <el-row class="index_body_header_select">
                   <el-select   v-model="province"  multiple     placeholder="省级地区" >
                       <el-option v-for="item in cityOptions"  :key="item" :label="item" :value="item"  @click="getChage(item)" />
                   </el-select>


               </el-row>
               <el-row class="index_body_header_select">
                   <el-select   v-model="sjService"   multiple   placeholder="请选择行业" >
                       <el-option v-for="item in sjServiceOptions"  :key="item" :label="item" :value="item"  />
                   </el-select>
               </el-row>
               <el-row class="index_body_header_select">
                     <el-button type="primary" style="  background-color: rgb(55, 94, 163);" round @click="userSencendRegister">修改订阅</el-button>
                </el-row>

               <el-row class="index_body_header_select">
                    <el-switch  v-model.sync="noticeType" inactive-text="是否接受订阅"  @change="userSencendRegister"> </el-switch>
               </el-row>
         </el-row>

         <el-row class="index_body_body_title" >
                根据您的订阅，匹配到以下项目：
         </el-row>
         <el-row class="index_body_body_data" >
             <el-row   v-for="type in tableData"  class="index_body_body_data_info">
                <div style="height:55px;  ">
                    <span style="float: left; padding: 20px 0 0  20px;">商机编号No.{{type.id}} </span>
                </div>
                 <el-divider></el-divider>
                <div style="height:35px;  padding: 0 0 0 20px;">
                    <span >{{type.province}}</span>
                    <span style="float:right;padding: 0 20px 0 0px;">{{type.createTime}}</span>
                </div>
                 <div style="height:20px;  padding: 0 0 0 20px;">
                    <span style="color: rgb(55, 94, 163); ">【{{type.sjService}}】</span>
                </div>
                 <el-divider></el-divider>
                 <div style="height:110px;  padding: 0 0 0 20px;">
                     <span style="color: rgb(55, 94, 163); ">【需求】</span>{{type.description}}
                 </div>
             </el-row>
         </el-row>
       <el-row class="index_body_body_title" > </el-row>
    </el-row>
    <el-row class="index_foot">
        <el-row class="index_foot_sm">
             <img src="../assets/img/logo_foot.jpg" />
        </el-row>
         <el-row class="index_foot_db">
            <span>版权所有：熵机网 / 备案号： 京ICP备015647845</span>
          </el-row>
    </el-row>
   </el-row>
</template>
<script>
 const cityOptions = ['上海', '北京', '广州'];
 const typeOptions = [ '深圳','上海', '北京' ];
  const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
 import {  mySubcribe ,affirmPublich,selectAllIndustryType,selectAllProvinceData,updatePublish,sjDetails,deletePublish,userSencendRegister,incomeMoney } from "@/controller/api"
export default {
data () {
        return {

            province:'',
            cityOptions:[],
            sjService:'',
            noticeType:false,
            sjServiceOptions:[],
             types: typeOptions,
             dates: dateOptions,
            cities: cityOptions,
          switchValue: true,
           currentPage1: 5,
                  currentPage2: 5,
                  currentPage3: 5,
                  currentPage4: 4,
                  tableData: []

        };
      },
  components: {
    baseHeader: () => import('@/components/home/indexHeader'),
    baseFooter: () => import('@/components/home/footer'),
    sideMenu: () => import('@/components/home/menu'),
  } , mounted(){
        this.selectAllProvinceData(),
        this.selectAllIndustryType(),
        this.mySubcribe(),
            this.incomeMoney();
    }
, methods: {
        getChage(val){
            this.province = val
        },
        incomeMoney(){
            incomeMoney({
                openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ'
            }).then(res => {
                res = res.data
                if(res.data.noticeType=="0"){
                    this.noticeType =true;
                }else {
                    this.noticeType =false;
                }
            })
        },
        mySubcribe(){
            mySubcribe({
                min:1,
                max:20,
            openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ'
            }).then(res => {
                res = res.data
                if(!res.code){
                    this.tableData = res.data ? res.data : []
                }
            })
        },
        userSencendRegister(){
            userSencendRegister({
                openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ',
                noticeType:this.noticeType ? 0:1 ,
                subscribeProvince:this.province.join(","),
                subscribeService:this.sjService.join(",")
            }).then(res => {
                res = res.data
                if(!res.code){
                    this.incomeMoney();
                    this.$message.success('修改成功')
                }
            })
        },
        selectAllIndustryType(){
            selectAllIndustryType({

            }).then(res => {
                res = res.data
                if(!res.code){
                    this.sjServiceOptions = res.data ? res.data : []
                }
            })
        },
        selectAllProvinceData(){
            selectAllProvinceData({

            }).then(res => {
                res = res.data
                if(!res.code){
                    this.cityOptions= res.data


                }
            })
        },
           radioChange(value){
                         if(value==0){
                              this.$router.push('index')

                         }else if(value==1){
                           var _this = this
                            _this.$router.replace({path: '/DashBoard', params: {id: 1}})

                         }else if(value==2){
                             this.isEdit = false
                             this.showModal = true
                         }else if(value==3){
                             this.$router.push('sjdy')
                              this.showModal = false
                         }else if(value==4){
                            this.$router.push('mtbd')
                             this.showModal = false
                        }else if(value==5){
                            this.$router.push('hyzx')
                             this.showModal = false
                        }else if(value==6){
                            this.$router.push('gywm')
                             this.showModal = false
                        }else if(value==7){
                             this.$router.push('ymdf')
                              this.showModal = false
                         }else if(value==8){
                            this.$router.push('wddy')
                             this.showModal = false
                        }else if(value==9){
                            this.$router.push('wdsr')
                             this.showModal = false
                        }else if(value==10){
                            this.$router.push('wdsc')
                             this.showModal = false
                        }else if(value==11){
                            this.$router.push('wdyy')
                             this.showModal = false
                        }else if(value==12){
                            this.$router.push('wdfb')
                             this.showModal = false
                        }else if(value==13){
                           this.$router.push('yhxz')
                            this.showModal = false
                       }
                   }
     }
}
</script>
<style lang="less"  >
.el-switch.is-checked .el-switch__core {
      border-color:  rgb(55, 94, 163);
      background-color:  rgb(55, 94, 163);
}
.el-switch__label.is-active {
    color: rgb(55, 94, 163);
}
  .index_container{
        height: 100%;
        width: 100%;

        .index_header{
            height: 135px;

        }
         .index_body{

                 padding: 40px 19.27% 0px 19.27%;


                 .index_body_header{
                      height: 67px;

                      float: right;
                     background-color: transparent;
                      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                      .index_body_header_select{
                            width: 25%;

                             float: left;
                            padding: 15px 30px 15px 30px;
                      }
                 }
                 .index_body_body_title{
                        height: 80px;
                         width: 83%;
                         float: right;
                         text-align:center;
                         padding: 30px 30px   0px 30px;
                 }
                 .index_body_body_data{
                     width: 83%;
                     float: right;


                     .index_body_body_data_info{
                         width: 46%;
                         margin-right:  4.0%;
                         height: 250px;
                                 margin-bottom: 20px;
                            float: left;
                            padding: 0   0px 20px 0;
                            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                            .line{
                                       padding: 0 0px 0px;

                                       margin: 20px 0px;

                                       line-height: 1px;

                                       border-left: 470px solid #dddddd63;



                                       height: 1px;
                                    }
                     }
                     .index_body_body_foot{
                            height: 60px;
                            float: right;
                     }
                 }

          }
          .index_foot{
              height: 312px;
               .index_foot_sm{
                    height: 240px;
                        width: 100%;
               }
               .index_foot_db{
                       height: 72px;
                       background-color: rgb(55, 94, 163);
                       text-align: center;
                       padding: 27px 0px 0px 0px;
              }
         }
         .el-divider--horizontal{
              margin: 8px 0;
              background: 0 0;
              border-top: 1px dashed #e8eaec;
          }
          .line-left-right {

          padding: 0 0px 0px;

          margin: 20px 0px;

          line-height: 1px;

          border-left: 750px solid rgb(221, 221, 221);

          border-right: 750px solid rgb(221, 221, 221);

          text-align: center;

          height: 2px;

          }
  }

</style>

