<template>
   <el-row class="index_container">
    <el-row class="index_header">
          <base-header :isApipage="true"/>
    </el-row>
    <el-row class="index_body">
         <el-row class="index_body_left">
                <el-row class="index_body_left_title" style="height:60px;" >一米豆腐</el-row>
                  <el-row   class="index_body_left_title" ><span  @click='radioChange(8)' >我的订阅</span></el-row>
                 <el-row   class="index_body_left_title"><span  @click='radioChange(9)'>我的收入</span></el-row>
                 <el-row   class="index_body_left_title"><span  @click='radioChange(10)'>我的收藏</span></el-row>
                 <el-row   class="index_body_left_title"><span  @click='radioChange(11)'>我的邀约</span></el-row>
                 <el-row   class="index_body_left_title"><span  @click='radioChange(12)'>我的发布</span></el-row>
                 <el-row   class="index_body_left_title"><span  @click='radioChange(13)'>用户须知</span></el-row>
         </el-row>



         <el-row class="index_body_body_data" >
             <el-row    v-for="type in tableData"  class="index_body_body_data_info" >

                    <div style="height:55px;">
                        <span style="float: left; padding: 20px 0 0  20px;">商机编号No.{{type.id}} </span>
                        <span style="float: right;  padding: 20px 20px 0  0px;">有效期天：{{type.remainderTime}} </span>
                    </div>
                    <div style="height:35px;  padding: 0 0 0 20px;">
                        <span >{{type.province}}</span>
                        <span style="float:right;padding: 0 20px 0 0px;">{{type.createTime}}</span>
                    </div>
                    <div style="height:40px;  padding: 0 0 0 20px;">
                        <span style="color: rgb(55, 94, 163); ">【{{type.sjService}}】</span>
                        <span style="margin-right: 20px;"> {{type.description}}</span>
                    </div>
                    <el-button type="primary" icon="el-icon-edit" round style="float:left;margin-left: 20%;margin-top: 2%; border-color: rgb(55, 94, 163);background-color: rgb(55, 94, 163);" @click="toUpdateSJ(type)">修改</el-button>
                    <el-button type="primary" icon="el-icon-download" round style="float:right;margin-right: 20%;margin-top: 2%; border-color: rgb(246, 97, 5);background-color: rgb(246, 97, 5);" @click="deletePublish(type)">删除</el-button>




             </el-row>


             <el-dialog   :visible.sync="showModal" width="570px" :before-close="handleClose">
                 <img src="../assets/img/fbxq.jpg" style="width:100%"/>
                 <el-row style="padding:30px 30px 0px 0px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);">
                     <div style="width: 550px;height: 60px;line-height: 60px;">
                         <div style="float:left;width: 55px;text-align:center; color: red"> * </div>
                         <div style="float:left;width: 115px;background-color: rgb(233, 231, 232); ">&nbsp;&nbsp;&nbsp;&nbsp;省份城市:  </div>
                         <div style="float:left;width: 360px;background-color: rgb(233, 231, 232);">
                             <el-select   v-model="province"       placeholder="市级地区" >
                             <el-option v-for="item in cityOptions"  :key="item" :label="item" :value="item"  @click="getChage(item)" />
                             </el-select>
                         </div>
                     </div>

                     <div style="width: 550px;height: 60px;margin-top: 20px;line-height: 60px;">
                         <div style="float:left;width: 55px;text-align:center; ">  &nbsp;&nbsp; </div>
                         <div style="float:left;width: 115px;background-color: rgb(233, 231, 232); ">&nbsp;&nbsp;&nbsp;&nbsp;行业类型:  </div>
                         <div style="float:left;width: 360px;background-color: rgb(233, 231, 232);">
                             <el-select   v-model="sjService"      placeholder="" >
                                 <el-option v-for="item in sjServiceOptions"  :key="item" :label="item" :value="item"  />
                             </el-select>
                         </div>
                     </div>



                     <div style="width: 550px;height: 60px;margin-top: 20px;line-height: 60px;">
                         <div style="float:left;width: 55px;text-align:center; color: red"> * </div>
                         <div style="float:left;width: 115px;background-color: rgb(233, 231, 232); ">&nbsp;&nbsp;&nbsp;&nbsp;有效期天:  </div>
                         <div style="float:left;width: 360px;background-color: rgb(233, 231, 232);">
                             <input v-model="remainderTime" style="  font-size: 18px;background-color:rgb(233, 231, 232); " />
                         </div>
                     </div>

                     <div style="width: 550px;height: 60px;margin-top: 20px;line-height: 60px;">
                         <div style="float:left;width: 55px;text-align:center; color: red"> * </div>
                         <div style="float:left;width: 115px;background-color: rgb(233, 231, 232); ">&nbsp;&nbsp;&nbsp;&nbsp;标题:  </div>
                         <div style="float:left;width: 360px;background-color: rgb(233, 231, 232);">
                             <input v-model="shortDescription" style="  font-size: 18px;background-color:rgb(233, 231, 232); " />
                         </div>
                     </div>

                     <div style="width: 550px;height: 60px;margin-top: 20px;line-height: 60px;">
                         <div style="float:left;width: 55px;text-align:center; color: red"> * </div>
                         <div style="float:left;width: 115px;background-color: rgb(233, 231, 232); ">&nbsp;&nbsp;&nbsp;&nbsp;项目简介:  </div>
                         <div style="float:left;width: 360px;background-color: rgb(233, 231, 232);">
                             <input v-model="description" style="  font-size: 18px;background-color:rgb(233, 231, 232); " />
                         </div>
                     </div>
                     <div style="width: 550px;height: 60px;margin-top: 20px;line-height: 60px;">
                         <div style="float:left;width: 55px;text-align:center;  "> &nbsp;&nbsp; </div>
                         <div style="float:left;width: 115px;background-color: rgb(233, 231, 232); ">&nbsp;&nbsp;&nbsp;&nbsp;联系人身份:  </div>
                         <div style="float:left;width: 360px;background-color: rgb(233, 231, 232);">
                             <input v-model="realNameRelation" style="  font-size: 18px;background-color:rgb(233, 231, 232); " />
                         </div>
                     </div>

                     <div style="width: 550px;height: 60px;margin-top: 20px;line-height: 60px;">
                         <div style="float:left;width: 55px;text-align:center; color: red"> * </div>
                         <div style="float:left;width: 115px;background-color: rgb(233, 231, 232); ">&nbsp;&nbsp;&nbsp;&nbsp;联系人姓名:  </div>
                         <div style="float:left;width: 360px;background-color: rgb(233, 231, 232);">
                             <input v-model="realName" style="  font-size: 18px;background-color:rgb(233, 231, 232); " />
                         </div>
                     </div>

                     <div style="width: 550px;height: 60px;margin-top: 20px;line-height: 60px;">
                         <div style="float:left;width: 55px;text-align:center; color: red"> * </div>
                         <div style="float:left;width: 115px;background-color: rgb(233, 231, 232); ">&nbsp;&nbsp;&nbsp;&nbsp;联系人手机号:  </div>
                         <div style="float:left;width: 360px;background-color: rgb(233, 231, 232);">
                             <input v-model="realNamePhone" style="  font-size: 18px;background-color:rgb(233, 231, 232); " />
                         </div>
                     </div>

                     <div style="  margin-top: 20px;margin-left: 70px;">
                         说明：<span style="color: red">*</span>部分是必填项
                     </div>
                     <div style="height: 60px; margin-top: 20px;text-align: center; margin-bottom: 30px;">
                         <el-button type="primary" @click="updatePublish" style="width: 288px;height: 50px; font-size: 20px;background-color:rgb(61, 121, 181);" round>确认发布</el-button>
                     </div>

                 </el-row>
             </el-dialog>






         </el-row>





           <el-row class="index_body_body_title" > </el-row>
    </el-row>
    <el-row class="index_foot">
        <el-row class="index_foot_sm">
             <img src="../assets/img/logo_foot.jpg" />
        </el-row>
         <el-row class="index_foot_db">
            <span>版权所有：熵机网 / 备案号： 京ICP备015647845</span>
          </el-row>
    </el-row>
   </el-row>
</template>
<script>
    import {  myPublish ,affirmPublich,selectAllIndustryType,selectAllProvinceData,updatePublish,sjDetails,deletePublish } from "@/controller/api"
    import ElRow from "element-ui/packages/row/src/row";
 const cityOptions = ['上海', '北京', '广州'];
 const typeOptions = [ '深圳','上海', '北京' ];
  const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
export default {
data () {
        return {

          checkboxGroup: ['上海'],
            checkTypeGroup: ['仓储/仓储一体'],
            checkDateGroup: ['不限'],
             types: typeOptions,
             dates: dateOptions,
            sjId:'',
            province: '',
            realNamePhone:'',
            realNameRelation:'',
            remainderTime:'7',
            sjService:'',
            description:'',
            realName:'',
            shortDescription:'',
            cityOptions: {},
            sjServiceOptions:{},
          switchValue: true,
            showModal: false,
           currentPage1: 5,
                  currentPage2: 5,
                  currentPage3: 5,
                  currentPage4: 4,
                  tableData: {}


        };
      },
  components: {
      ElRow,
      baseHeader: () => import('@/components/home/indexHeader'),
    baseFooter: () => import('@/components/home/footer'),
    sideMenu: () => import('@/components/home/menu'),
  }   , mounted(){
        this.myPublish()
    }
, methods: {
      handleClose(){
        this.showModal = false
    },
        deletePublish(val){
            deletePublish({
                openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ',
                id:val.id
            }).then(res => {
                res = res.data
                if(!res.code){

                    this.$message({
                        type: 'success',
                        message: "删除成功"
                    })
                    this.showModal = false
                    this.myPublish()
                }
            })
        },


        selectAllIndustryType(){
            selectAllIndustryType({

            }).then(res => {
                res = res.data
                if(!res.code){
                    this.sjServiceOptions = res.data ? res.data : []
                }
            })
        },
        getChage(val){
            this.province = val
        },
        selectAllProvinceData(){
            selectAllProvinceData({

            }).then(res => {
                res = res.data
                if(!res.code){
                    this.cityOptions= res.data


                }
            })
        },
        toUpdateSJ(type){
            this.sjDetails(type.id)
               this.showModal = true,
            this.selectAllProvinceData(),
            this.selectAllIndustryType()
        },
        updatePublish(){
            updatePublish({
                province:this.province,
                realNamePhone:this.realNamePhone,
                realNameRelation:this.realNameRelation,
                remainderTime:this.remainderTime,
                sjService:this.sjService,
                description:this.description,
                realName:this.realName,
                openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ',
                type:'1',
                shortDescription:this.shortDescription,
                sjId:this.sjId
            }).then(res => {
                res = res.data
                if(!res.code){

                    this.$message({
                        type: 'success',
                        message: "发布成功"
                    })
                    this.showModal = false
                }
            })
        },

        sjDetails(val){
            sjDetails({
                openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ',
                id:val

            }).then(res => {
                res = res.data
                if(!res.code){
                   var type = res.data ? res.data : []
                    this.province = type.province,
                    this.realNamePhone=type.realNamePhone,
                    this.realNameRelation=type.realNameRelation,

                    this.sjService=type.sjService,
                    this.description=type.description,
                    this.realName=type.realName,
                    this.sjId=type.id,
                    this.shortDescription=type.shortDescription
                }
            })
        },
        myPublish(){
            myPublish({
                openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ'
            }).then(res => {
                res = res.data
                if(!res.code){
                    this.tableData = res.data ? res.data : []

                }
            })
        },
           radioChange(value){
                         if(value==0){
                              this.$router.push('index')

                         }else if(value==1){
                           var _this = this
                            _this.$router.replace({path: '/DashBoard', params: {id: 1}})

                         }else if(value==2){
                             this.isEdit = false
                             this.showModal = true
                         }else if(value==3){
                             this.$router.push('sjdy')
                              this.showModal = false
                         }else if(value==4){
                            this.$router.push('mtbd')
                             this.showModal = false
                        }else if(value==5){
                            this.$router.push('hyzx')
                             this.showModal = false
                        }else if(value==6){
                            this.$router.push('gywm')
                             this.showModal = false
                        }else if(value==7){
                             this.$router.push('ymdf')
                              this.showModal = false
                         }else if(value==8){
                            this.$router.push('wddy')
                             this.showModal = false
                        }else if(value==9){
                            this.$router.push('wdsr')
                             this.showModal = false
                        }else if(value==10){
                            this.$router.push('wdsc')
                             this.showModal = false
                        }else if(value==11){
                            this.$router.push('wdyy')
                             this.showModal = false
                        }else if(value==12){
                            this.$router.push('wdfb')
                             this.showModal = false
                        }else if(value==13){
                           this.$router.push('yhxz')
                            this.showModal = false
                       }
                   }
     }
}
</script>
<style lang="less" scoped>

  .index_container{
        height: 100%;
        width: 100%;

        .index_header{
            height: 135px;

        }
         .index_body{

                 padding: 40px 19.27% 0px 19.27%;

                 .index_body_left{
                    height: 330px;
                    width: 15%;
                    float: left;
                    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                    .index_body_left_title{
                       height:45px;
                       width:100%;
                        text-align:center;

                    }
                     .index_body_left_title .active{
                         background-color: rgb(55, 94, 163);
                     }
                     .index_body_left_title .hover{
                     background-color: rgb(55, 94, 163);
                     }
                 }
                 .index_body_header{
                      height: 67px;
                      width: 83%;
                      float: right;

                      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                      .index_body_header_select{

                            width: 25%;
                             float: left;
                            padding: 15px 30px 15px 30px;
                      }
                 }
                 .index_body_body_title{
                        height: 80px;
                         width: 83%;
                         float: right;
                         text-align:center;
                         padding: 30px 30px  30px 30px;
                 }
                 .index_body_body_data{
                     width: 83%;
                     float: right;


                     .index_body_body_data_info{
                         width: 46%;
                         height: 160px;
                             margin-right: 15px;
                              margin-bottom: 40px;
                         font-size: 15px;
                            float: left;
                            padding: 0   0px 20px 0;
                            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                            .line{
                                       padding: 0 0px 0px;

                                       margin: 20px 0px;

                                       line-height: 1px;

                                       border-left: 470px solid #dddddd63;



                                       height: 1px;
                                    }
                     }
                     .index_body_body_foot{
                            height: 60px;
                            float: right;
                     }
                 }

          }
          .index_foot{
              height: 312px;
               .index_foot_sm{
                    height: 240px;
                        width: 100%;
               }
               .index_foot_db{
                       height: 72px;
                       background-color: rgb(55, 94, 163);
                       text-align: center;
                       padding: 27px 0px 0px 0px;
              }
         }
         .el-divider--horizontal{
              margin: 8px 0;
              background: 0 0;
              border-top: 1px dashed #e8eaec;
          }
          .line-left-right {

          padding: 0 0px 0px;

          margin: 20px 0px;

          line-height: 1px;

          border-left: 750px solid rgb(221, 221, 221);

          border-right: 750px solid rgb(221, 221, 221);

          text-align: center;

          height: 2px;

          }
  }

</style>

