<template>
    <el-row class="index_container">
        <el-row class="index_header">
            <base-header :isApipage="true"/>
        </el-row>
        <el-row class="index_body">
            <el-row class="index_body_left">
                <div class="index_body_left_title" style="height:60px;" @click='radioChange(7)'>一米豆腐</div>
                <div class="index_body_left_title" @click='radioChange(8)'>我的订阅</div>
                <div class="index_body_left_title" @click='radioChange(9)'>我的收入</div>
                <div class="index_body_left_title" @click='radioChange(10)'>我的收藏</div>
                <div class="index_body_left_title" @click='radioChange(11)'>我的邀约</div>
                <div class="index_body_left_title" @click='radioChange(12)'>我的发布</div>
                <div class="index_body_left_title" @click='radioChange(13)'>用户须知</div>
            </el-row>
            <el-row class="index_body_header1">

                <el-row style="height: 57px;width: 45%; float: left;margin-left: 30%;  border-radius: 30px; margin-top: 20px;text-align:center; background-color: rgb(255, 224, 159); background: linear-gradient(rgb(255, 224, 159), rgb(255, 207, 105));
">
                    <div style="padding: 15px  20px 0  0px;font-size: 22px;color:rgb(253, 115, 6)">
                        累计金额（元）：{{amoutCount.totalMoney}}
                    </div>
                    <el-row class="date_select">
                        <el-button class="dateSelect" @click="incomeList(1)" round> 上月    </el-button>
                        <el-button class="dateSelect" @click="incomeList(2)" round>本月   </el-button>
                        <el-button class="dateSelect" @click="incomeList(3)" round>本季   </el-button>
                        <el-button class="dateSelect" @click="incomeList(4)" round>本年</el-button>
                    </el-row>

                    <el-datePicker style=" width: 39%;border-radius: 30px ; margin-top: 15px;" v-model="beginTime"
                                   placeholder="自定义开始日期" size="large" type="date"></el-datePicker>
                    <span style="padding: 0 20px 0 20px;  color: rgb(245, 244, 242);">至 </span>
                    <el-datePicker style=" width:  40%;border-radius: 30px; margin-top: 15px;" v-model="endTime" size="large"
                                   @change="incomeList(5)" type="date" placeholder="自定义结束日期"></el-datePicker>

                </el-row>

                <el-row  style="float: right;width: 20%;">

                    <el-button @click='tixianChange()' type="primary" size="medium" round
                               style="margin-top: 100px;width:150px;height:50px; float: right; font-size: 18px; text-align:center;border-color:rgb(55, 94, 163);background-color: rgb(55, 94, 163);"
                               class="el-icon-s-finance"
                    > 立即体现
                    </el-button>
                    <el-button @click='demandInvoice()' type="primary" size="medium" round
                               style="margin-top: 10px;width:150px;height:50px; float: right;font-size: 18px; text-align:center;border-color:rgb(55, 94, 163);background-color: rgb(55, 94, 163);"
                               class="el-icon-printer"> 索要发票
                    </el-button>
                </el-row>

            </el-row>


            <el-row class="index_body_body_data1">
                <el-row v-for="data in tableData" class="index_body_body_data_info">

                    <el-row style="width:13%;height:100%; float:left; text-align: center;">
                        <el-image
                            style="width: 85px; height: 85px; margin-top: 40px;"
                            :src="data.userHead"
                        ></el-image>

                    </el-row>
                    <el-row style="width:62%;height:100%;float:left;">
                        <div style=" margin-top: 35px; font-size: 20px;">记录时间：{{data.createTime}}</div>
                        <div style=" margin-top: 25px; font-size: 18px;">
                            <span
                                v-if="data.lever==1">成功邀请【{{data.incomeSourceName}}】开通了{{data.rechargeNum}}VIP会员</span>
                            <span
                                v-else-if="data.lever==2">您邀请的VIP会员【{{data.incomeSourceName}}】成功邀请【{{data.secendIncomeSourceName}}】开通了{{data.rechargeNum}}VIP会员</span>
                            <span v-else> {{data.rechargeNum}} </span>
                        </div>
                    </el-row>


                    <el-row style="position: relative; width:25%;height:100%;float:left;">

                        <div class="hb_class">

<div
    style=" color: rgb(252, 216, 34);font-size: 18px;     padding: 65px 0px 0px 0px; ">+{{data.amount}}</div>

                        </div>




                    </el-row>


                </el-row>
            </el-row>


            <el-dialog :visible.sync="tixianModel" width="500px"  class="tixian_class"   :before-close="handleClose":showClose="false">
                <div style="width: 500px;height: 6px;background-color: #375ea3;"></div>
                <div style=" height: 20px; "><i class="el-icon-error" style="float: right;margin-right: 20px;margin-top: 10px; color: #375ea3;" @click="closeModel"></i></div>

                <div style=" font-size: 22px;line-height: 30px; color: #3d64a7; font-family: 'Source Han Sans SC';  font-weight: 400;  text-align: center;" >
                    金额提现
                </div>

                <el-row style="padding: 20px 50px 50px 50px;">

                    <div style=" font-size: 18px;line-height: 30px;color: #373737;font-family: 'Source Han Sans SC';   font-weight: 400;">
                        提现金额
                    </div>
                    <div style="margin-top: 40px;">
                        <span style="font-size: 30px;line-height: 30px;color: #373737;font-family: 'Source Han Sans SC';font-weight: 400;">
                        ￥</span>
                        <input v-model="withdrawAmount" style=" font-size: 28px;line-height: 30px;color: #375ea3;font-family: 'Arial';" placeholder="请输入提现金额"/>
                    </div>
                    <div style="width: 380px;height: 1px;background-color: #375ea3;"></div>
                    <div style="margin-top: 15px;">
                        <span style="font-size: 18px;line-height: 30px;color: #373737;font-family: 'Source Han Sans SC';font-weight: 400;">
                        本次最多可提现：{{cashAmount}}，
                    </span>
                        <span @click="AllWithdrawAmount" style="font-size: 18px;line-height: 30px;  color: #3d64a7; font-family: 'Source Han Sans SC';  font-weight: 400;" >全部体现</span>

                    </div>

                </el-row>
                <div style="text-align:center;height:80px; ">

                    <el-button type="primary" @click="cashAdd"
                               style="width: 210px;height: 50px; font-size: 20px;background-color:rgb(61, 121, 181);"
                               round>立即提现
                    </el-button>
                </div>
            </el-dialog>

            <el-dialog :visible.sync="payModel" width="500px" :before-close="handlePayModelClose" class="zhifu_class" :close-delay="10" :showClose="false">
                <div style="width: 500px;height: 6px;background-color: #375ea3;"></div>
                <div style=" height: 20px; "><i class="el-icon-error" style="float: right;margin-right: 20px;margin-top: 10px; color: #375ea3;" @click="handlePayModelClose"></i></div>

                <el-image style="width: 300px;  height: 300px;"
                    :src="payCode"
                    :lazy="true"
                ></el-image>
            </el-dialog>


            <el-dialog :visible.sync="fapiaoModel" width="430px" :before-close="handleClose" class="fabu_class":showClose="false">

                <div style="font-size: 22px;text-align:center; height:50px;">
                    <div style=" height: 6px;background-color: #375ea3;"></div>
                    <div style=" height: 10px; "><i class="el-icon-error" style="float: right;margin-right: 20px;margin-top: 10px; color: #375ea3;" @click="closeModel"></i></div>

                    <div style="  color: #3d64a7;line-height: 30px;"> 消费发票</div>
                </div>

                <el-table :data="fapiaoData" ref="multipleTable" tooltip-effect="dark"
                          @selection-change="handleSelectionChange" :header-cell-style="{'text-align':'center'}"
                          :cell-style="{'text-align':'center'}" :show-header="false">
                    <el-table-column type="selection"></el-table-column>
                    <el-table-column label="日期">
                        <template slot-scope="scope">
                            <el-row style="font-size: 18px;line-height: 30px;color: #373737;    font-weight: 400;">{{scope.row.message}}</el-row>
                            <el-row style="font-size: 18px;line-height: 30px;color: #a0a0a0; font-family: 'Arial';">{{scope.row.createTime}}</el-row>
                        </template>
                    </el-table-column>

                    <el-table-column label="日期" height="200px">
                        <template slot-scope="scope" ><span style="font-size: 24px;line-height: 30px;color: #373737;font-family: 'Arial';font-weight: bold;">{{ scope.row.amount }}</span></template>
                    </el-table-column>

                </el-table>

                <el-row style="font-size: 18px;line-height: 30px;color: #373737;font-weight: 400;margin-top: 76px;margin-left: 20px;">开票金额：
                    <span style="color: red" v-model.sync="totalAmount"> {{totalAmount}}</span>(共
                    <span style="color: red" v-model.sync="totalCount"> {{totalCount}} </span>个订单)
                </el-row>

                <div style="height: 60px; margin-top: 20px; margin-bottom: 30px;">
                    <el-checkbox @change="toggleSelection()" style="font-size: 18px;float:left;margin-left: 20px; line-height: 50px;color: #373737; ">
                        <span @change="toggleSelection()" style="font-size: 18px; line-height: 50px;color: #373737; ">全部</span>
                    </el-checkbox>

                    <el-button type="primary" @click="submitFapiao()"
                               style="float: right; width: 210px;height: 50px; font-size: 20px;margin-right:34px;background-color:rgb(61, 121, 181);"
                               round>开具发票</el-button>
                </div>

                <!--<span slot="footer" class="dialog-footer">-->
                          <!--<el-checkbox @change="toggleSelection()" style="font-size: 18px;float:left;margin-top:10px;line-height: 30px;color: #373737; ">全部</el-checkbox>-->
                         <!--<el-button type="primary" @click="submitFapiao()"-->
                                    <!--style="width: 210px;height: 50px; font-size: 20px;margin-right:34px;background-color:rgb(61, 121, 181);"-->
                                    <!--round>开具发票</el-button>-->
                <!--</span>-->
            </el-dialog>

            <!--提交发票开始-->
            <el-dialog :visible.sync="fapiaoSubmitModel" width="500px" :before-close="handleClose" class="fabu_class" :showClose="false">

                <div style="font-size: 22px;text-align:center; height:50px;">
                    <div style="width: 500px;height: 6px;background-color: #375ea3;"></div>
                    <div style="width: 500px;height: 10px; "><i class="el-icon-error" style="float: right;margin-right: 20px;margin-top: 10px; color: #375ea3;" @click="closeModel"></i></div>

                    <div style="  color: #3d64a7;line-height: 30px;"> 发票</div>
                </div>
                <el-divider></el-divider>
                <el-row style="height: 50px;padding: 0px 20px 0 10px;font-size: 20px; ">
                       <span style="width: 5px;height: 23px;background-color: #375ea3;">|</span> 输入发票信息：
                </el-row>
                <el-row style="height: 70px;padding: 0px 20px 0 10px;font-size: 20px;text-align: center;">
                      <el-row style="width:65px;height: 50px; float: left;">
                        类型：
                    </el-row>
                    <el-row style="float: right;width:400px;text-align: center; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);height: 50px;background-color: rgb(240,240,240);">
                        <el-radio v-model="radio" label="1" size="medium" style="margin-top: 20px;">企业</el-radio>
                        <el-radio v-model="radio" label="2" size="medium">非企业性单位/个人</el-radio>
                    </el-row>
                </el-row>
                <el-row style="height: 70px;padding: 0px 20px 0 10px;font-size: 20px;text-align: center;">
                      <el-row style="width:65px;height: 50px; float: left;margin-top: 10px;text-align: center;">  名称： </el-row>
                    <el-row style="float: right;width:400px;height: 50px;">
                        <input v-model="name" placeholder=" 请输入公司名称或客户姓名 " style="height: 100%;width: 100%;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);height: 50px;background-color: rgb(240,240,240);"/>
                    </el-row>
                </el-row>
                <el-row style="height: 70px;padding: 0px 20px 0 10px;font-size: 20px;text-align: center;">
                    <el-row style="width:125px;height: 50px; float: left;margin-top: 10px;text-align: center;">  纳税识别号： </el-row>
                    <el-row style="float: right;width:345px;height: 50px;">
                        <input v-model="taxpayerNum" placeholder="  请输入纳税人识别号 " style="height: 100%;width: 100%;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);height: 50px;background-color: rgb(240,240,240);"/>
                    </el-row>
                </el-row>
                <el-row style="height: 70px;padding: 0px 20px 0 10px;font-size: 20px;text-align: center;">
                    <el-row style="width:100px;height: 50px; float: left;margin-top: 10px;text-align: center;">发票金额： </el-row>
                    <el-row style="float: right;width:365px;height: 50px;">
                        <input v-model="totalAmount" placeholder="  " style=" font-size: 20px;line-height: 30px;color: #333333;font-family: 'Arial';height: 100%;width: 100%;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);height: 50px;background-color: rgb(240,240,240);"/>
                    </el-row>
                </el-row>

                <el-row style="height: 50px;padding: 0px 20px 0 10px;font-size: 20px; ">
                    <span style="width: 5px;height: 23px;background-color: #375ea3;">|</span> 输入收件人信息：
                </el-row>
                <el-row style="height: 70px;padding: 0px 20px 0 10px;font-size: 20px;text-align: center;">
                    <el-row style="width:125px;height: 50px; float: left;margin-top: 10px;text-align: center;">  收件人姓名： </el-row>
                    <el-row style="float: right;width:345px;height: 50px;">
                        <input v-model="expressName" placeholder=" 请输入收件人姓名 " style="height: 100%;width: 100%;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);height: 50px;background-color: rgb(240,240,240);"/>
                    </el-row>
                </el-row>
                <el-row style="height: 70px;padding: 0px 20px 0 10px;font-size: 20px;text-align: center;">
                    <el-row style="width:125px;height: 50px; float: left;margin-top: 10px;text-align: center;">  收件人电话： </el-row>
                    <el-row style="float: right;width:345px;height: 50px;">
                        <input v-model="expressPhone"  placeholder=" 请输入收件人电话 " style="height: 100%;width: 100%;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);height: 50px;background-color: rgb(240,240,240);"/>
                    </el-row>
                </el-row>
                <el-row style="height: 70px;padding: 0px 20px 0 10px;font-size: 20px;text-align: center;">
                    <el-row style="width:100px;height: 50px; float: left;margin-top: 10px;text-align: center;">省份地址： </el-row>
                    <el-row style="float: right;width:365px;height: 50px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); background-color: rgb(240,240,240);">
                        <el-select   v-model="expressProvince"    @change="getChage()" style="width: 150px;margin-top: 10px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);background-color: rgb(240,240,240);"    placeholder="省级地区" >
                            <el-option v-for="province in provinceOptions"  :key="province" :label="province" :value="province"    />
                        </el-select>
                        <el-select   v-model="expressCity"    style="width: 150px; margin-top: 10px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);background-color: rgb(240,240,240);"     placeholder="市级地区" >
                            <el-option v-for="city in cityOptions"  :key="city" :label="city" :value="city"     />
                        </el-select>

                    </el-row>
                </el-row>
                <el-row style="height: 70px;padding: 0px 20px 0 10px;font-size: 20px;text-align: center;">
                    <el-row style="width:100px;height: 50px; float: left;margin-top: 10px;text-align: center;">详细地址： </el-row>
                    <el-row style="float: right;width:365px;height: 50px;">
                        <input v-model="expressAddress" placeholder=" 请输入收件人地址 " style="height: 100%;width: 100%;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);height: 50px;background-color: rgb(240,240,240);"/>
                    </el-row>
                </el-row>

                <el-row style="height: 70px;padding: 0px 20px 0 10px;font-size: 20px;text-align: center;">
                    <el-row style="width:100px;height: 50px; float: left;margin-top: 10px;text-align: center;">支付运费： </el-row>
                    <el-row style="float: right;width:365px;height: 50px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);height: 50px;background-color: rgb(240,240,240);text-align: center;">
                        <button v-if="payStatus ==2" style="font-size: 20px;line-height: 50px;color: #375ea3;font-family: 'Source Han Sans SC';font-weight: 500;">已支付</button>
                        <button v-if="payStatus !=2" style="font-size: 20px;line-height: 50px;color: #375ea3;font-family: 'Source Han Sans SC';font-weight: 500;" @click="payButton">未支付</button>
                    </el-row>
                </el-row>
                <el-divider></el-divider>
                <el-row style="font-size: 16px;
line-height: 30px;
color: #b9b9b9;  font-weight: 400;">说明：1、暂时只提供普通发票 2、申请开发票需要支付20元运费 </el-row>

                <el-row style="height: 70px;margin-top:20px;font-size: 20px;text-align: center;">

                         <el-button type="primary" @click="expressUpdate()"
                                    style="width: 210px;height: 50px; font-size: 20px;background-color:rgb(61, 121, 181); "
                                    round>提交</el-button>
                </el-row>
            </el-dialog>
            <!--提交发票结束-->

            <el-row class="index_body_body_title"></el-row>
        </el-row>
        <el-row class="index_foot">
            <el-row class="index_foot_sm">
                <img src="../assets/img/logo_foot.jpg"/>
            </el-row>
            <el-row class="index_foot_db">
                <span>版权所有：熵机网 / 备案号： 京ICP备015647845</span>
            </el-row>
        </el-row>
    </el-row>
</template>
<script>
    import ElCheckboxButton from "../../node_modules/element-ui/packages/checkbox/src/checkbox-button.vue";
    import ElRadio from "../../node_modules/element-ui/packages/radio/src/radio.vue";
    import ElRadioButton from "../../node_modules/element-ui/packages/radio/src/radio-button.vue";
    import ElRow from "element-ui/packages/row/src/row";
    import ElButton from "../../node_modules/element-ui/packages/button/src/button.vue";
    import {
        incomeList,
        incomeMoney,
        cashList,
        noInvoiceList,
        selectAllIndustryType,
        selectAllProvinceData,
        selectAllCityData,
        expressOne,
        sjDetails,
        expressUpdate,cashAdd,
        deletePublish,codeWxUnifiedorder
    } from "@/controller/api"

    const provinceOptions = ['上海', '北京', '广州'];
    const typeOptions = ['深圳', '上海', '北京'];
    const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
    export default {
        data() {
            return {
                checkAll: false,
                checkedCities: ['上海', '北京'],
                provinceOptions: {},
                expressCity:'',
                selectArray: [],
                payStatus:0,
                cashAmount:'',
                withdrawAmount: 0,
                withdraw:'',
                fapiaoSubmitModel:false,
                totalAmount: 0,
                totalCount: 0,
                initValue: 0,
                multipleSelection: [],
                isIndeterminate: true,
                checkboxGroup: ['上海'],
                checkTypeGroup: ['仓储/仓储一体'],
                checkDateGroup: ['不限'],
                types: typeOptions,
                tixianModel: false,
                fapiaoModel: false,
                dates: dateOptions,
                cities: provinceOptions,
                cityOptions:{},
                switchValue: true,
                userId: '',
                radio: '1',
                beginTime: '',
                endTime: '',
                selectBirthDate: '',
                activeIndex: sessionStorage.getItem('active') ? sessionStorage.getItem('active') : '1',
                currentPage1: 5,
                currentPage2: 5,
                currentPage3: 5,
                currentPage4: 4,
                tableData: [],
                amoutCount: {},
                fapiaoData: [],
                name:'',
                expressName: '',
                expressPhone: '',
                expressAddress: '',
                expressProvince: '',
                expressCity: '',
                taxpayerNum: '',
                invoiceMoney: '',
                tOutComeIds:'',
                fapiaoId:'',
                invoiceMoney:'',
                payCode:'',
                payModel:false


            };
        },
        components: {
            ElButton,
            ElRow,
            ElRadioButton,
            ElRadio,
            ElCheckboxButton,
            baseHeader: () => import('@/components/home/indexHeader'),
            baseFooter: () => import('@/components/home/footer'),
            sideMenu: () => import('@/components/home/menu'),

        }, mounted() {


            this.incomeList(),
            this.selectAllProvinceData();
        }
        ,


        methods: {
            payButton(){

                this.payInterface();

                this.payModel = true;

            },
            payInterface(){
                console.log(2345)
                codeWxUnifiedorder({
                    openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ',
                    outcomeType:3
                }).then(res => {
                    res = res.data
                    console.log(res)
                    console.log(res.data.payCode)
                    this.payCode = res.data.payCode;
                })
                console.log(1231)
            },

            cashAdd(){
                cashAdd({
                    openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ',
                    amount: this.withdrawAmount
                })
                this.tixianModel = false;
            },
            AllWithdrawAmount(){
              this.withdrawAmount =  this.cashAmount;
            },
            incomeMoney(){
                incomeMoney({
                    openid:'o-a615MVyJKQ12O4Q42JIOmmjlgQ'
                }).then(res => {
                    res = res.data
                     this.cashAmount =res.data.balanceMoney-res.data.typeMoney;
                })
            },
            getChage(val){
                this.selectAllCityData( );
            },
            selectAllCityData(val){
                console.log(23)
                selectAllCityData({
                    province:this.expressProvince
                }).then(res => {
                    res = res.data
                    if(!res.code){
                        this.cityOptions= res.data


                    }
                })
            },

            selectAllProvinceData(){
                selectAllProvinceData({

                }).then(res => {
                    res = res.data
                    if(!res.code){
                        this.provinceOptions= res.data


                    }
                })
            },
            submitFapiao(){
                this.fapiaoModel = false;
                this.expressOne();
              this.fapiaoSubmitModel = true;
            },
            codeWxUnifiedorder(){
                codeWxUnifiedorder({
                    outcomeType:'3',
                    openid: 'o-a615MVyJKQ12O4Q42JIOmmjlgQ'
                }).then(res => {
                        res = res.data
                        if (!res.code) {

                        }


                         })
            },

            cashList() {
                cashList({
                    openid: 'o-a615MVyJKQ12O4Q42JIOmmjlgQ'
                }).then(res => {
                    res = res.data
                    if (!res.code) {


                    }
                })
            },
            expressUpdate(){
                expressUpdate({
                    userId: this.userId,
                    expressId:'',
                    type:this.radio,
                    name:'',
                    expressName: this.expressName,
                    expressPhone: this.expressPhone,
                    expressAddress: this.expressAddress,
                    expressProvince: this.expressProvince,
                    expressCity: this.expressCity,
                    taxpayerNum: '',
                    invoiceMoney: this.invoiceMoney,
                    tOutComeIds:''
                }).then(res=>{

                })
            },

            expressOne(val) {
                expressOne({

                    userId: this.userId,
                    tOutComeIds: this.fapiaoId
                }).then(res => {
                    res = res.data
                    if (!res.code) {
                        this.payStatus = res.data.payStatus;
                        this.invoiceMoney = res.data.invoiceMoney;
                    }
                })
            },

            incomeList(val) {
                if (val != 5) {
                    this.beginTime = '',
                        this.endTime = ''
                }

                incomeList({
                    openid: 'o-a615MVyJKQ12O4Q42JIOmmjlgQ',
                    type: val ? val : 1,
                    startTime: this.beginTime,
                    endTime: this.endTime
                }).then(res => {
                    res = res.data
                    if (!res.code) {
                        this.amoutCount = res.data[0];
                        this.tableData = res.data.splice(1);
                        this.userId = this.tableData[0].userId;

                    }
                })
            },
            noInvoiceList(val) {
                noInvoiceList({
                    userId: this.userId
                }).then(res => {
                    res = res.data
                    if (!res.code) {
                        this.fapiaoData = res.data;
                        this.fapiaoId = res.data[0].id;
                    }
                })
            },


            toggleSelection(rows) {
                this.initValue++;
                rows = this.fapiaoData;
                if (rows) {
                    this.totalAmount = 0;
                    rows = this.fapiaoData;
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                        // this.totalAmount = this.totalAmount + Number(row.amount);

                    });
                    if (this.initValue % 2 == 0) {
                        this.totalAmount = 0;
                        this.totalCount = 0;
                    } else {
                        this.totalCount = rows.length;
                    }
                } else {
                    this.totalAmount = 0;
                    this.$refs.multipleTable.clearSelection();

                }
            },
            handleSelectionChange(val) {


                this.multipleSelection = val;
                var rows = this.multipleSelection;
                var amount = 0;
                rows.forEach(row => {
                    amount = amount + Number(row.amount);

                })
                this.totalAmount = amount;
                this.totalCount = rows.length;
            },
            handleClose(done) {
               this.tixianModel = false;
                this.payModel = false;
            },
            handlePayModelClose(){
                this.payModel = false;
            }
            ,closeModel(){
                this.fapiaoSubmitModel = false;
                this.fapiaoModel = false;
                this.tixianModel = false;

            },

            tixianChange() {
                this.tixianModel = true;
                this.incomeMoney();
            }
            ,
            demandInvoice() {
                this.fapiaoModel = true;
                this.noInvoiceList();
            }
            ,

            radioChange(value) {
                sessionStorage.setItem('active', value)
                this.activeIndex = value
                if (value == 0) {
                    this.$router.push('index')

                } else if (value == 1) {
                    var _this = this
                    _this.$router.replace({path: '/DashBoard', params: {id: 1}})

                } else if (value == 2) {
                    this.isEdit = false
                    this.showModal = true
                } else if (value == 3) {
                    this.$router.push('sjdy')
                    this.showModal = false
                } else if (value == 4) {
                    this.$router.push('mtbd')
                    this.showModal = false
                } else if (value == 5) {
                    this.$router.push('hyzx')
                    this.showModal = false
                } else if (value == 6) {
                    this.$router.push('gywm')
                    this.showModal = false
                } else if (value == 7) {
                    this.$router.push('ymdf')
                    this.showModal = false
                } else if (value == 8) {
                    this.$router.push('wddy')
                    this.showModal = false
                } else if (value == 9) {
                    this.$router.push('wdsr')
                    this.showModal = false
                } else if (value == 10) {
                    this.$router.push('wdsc')
                    this.showModal = false
                } else if (value == 11) {
                    this.$router.push('wdyy')
                    this.showModal = false
                } else if (value == 12) {
                    this.$router.push('wdfb')
                    this.showModal = false
                } else if (value == 13) {
                    this.$router.push('yhxz')
                    this.showModal = false
                }
            }
        }
    }
</script>

<style lang="less">
    .hb_class{
        background: url("../assets/img/sr5.jpg");
        height: 108px;
        margin-top: 20px;
        margin-left: 60px;
        text-align: center;
        width: 80px;
    }
    .tixian_class{
        input::-webkit-input-placeholder {
            font-size: 18px;
            line-height: 30px;
            color: #cdcdcd;
            font-family: "Source Han Sans SC";
            font-weight: 400;
        }

    }
    .fabu_class {




        padding: 30px 30px 0px  0px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        font-size: 20px;
        line-height: 30px;
        color: #333333;
        font-family: "Source Han Sans SC";
        font-weight: 400;
        input::-webkit-input-placeholder {
            /* placeholder颜色  */
            color: #b9b9b9;
            /* placeholder字体大小  */
            font-size: 20px;
        }
    }



    .date_select {
        height: 55px;
        margin-top: 30px;
        .dateSelect {
            height: 50px;
            width: 20%;
           /* margin-left: 15px;
            margin-right: 10px;*/
            font-size: 18px;

        }
        :hover {
            background-color: rgb(55, 94, 163);
            border-color: rgb(55, 94, 163);
            color: rgb(255, 255, 255);
        }

    }

    .select-border {
        width: 13%;
        float: left;
        height: 100%;
        .select-border-radius {
            border: 1px solid #666;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 30%;
            margin: -15% 0 0 -25%;
            width: 50%;
            color: rgb(55, 94, 163);
        }
        :hover {
            background-color: rgb(55, 94, 163);
        }
        :active {
            background-color: rgb(55, 94, 163);
        }
        :visited {
            background-color: rgb(55, 94, 163);
        }
    }

    .index_container {
        height: 100%;
        width: 100%;

        .index_header {
            height: 135px;

        }
        .index_body {

            padding: 40px 19.27% 0px 19.27%;

            .index_body_left {
                height: 330px;
                width: 15%;
                float: left;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                .index_body_left_title {
                    height: 45px;
                    width: 100%;
                    text-align: center;

                }

                :hover {
                    background-color: rgb(55, 94, 163);
                }
            }
            .index_body_header1 {
                height: 230px;
                width: 83%;
                text-align: center;
                float: right;
                /*background-color: rgb(254, 127, 24);*/
                background : url("../assets/img/wdsr_bj.png") no-repeat;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);


            }
            .index_body_body_title {
                height: 80px;
                width: 83%;
                float: right;
                text-align: center;
                padding: 30px 30px 30px 30px;
            }
            .index_body_body_data1 {
                width: 83%;
                margin-top: 20px;
                float: right;

                .index_body_body_data_info {
                    height: 150px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
                    .el-image__inner {
                        vertical-align: top;
                        border-radius: 50%;
                    }
                }
                .index_body_body_foot {
                    height: 60px;
                    float: right;
                }
            }

        }
        .index_foot {
            height: 312px;
            .index_foot_sm {
                height: 240px;
                width: 100%;
            }
            .index_foot_db {
                height: 72px;
                background-color: rgb(55, 94, 163);
                text-align: center;
                padding: 27px 0px 0px 0px;
            }
        }
        .el-divider--horizontal {
            margin: 8px 0;
            background: 0 0;
            border-top: 1px dashed #e8eaec;
        }
        .line-left-right {

            padding: 0 0px 0px;

            margin: 20px 0px;

            line-height: 1px;

            border-left: 750px solid rgb(221, 221, 221);

            border-right: 750px solid rgb(221, 221, 221);

            text-align: center;

            height: 2px;

        }
    }

</style>

