<template>
   <el-row class="index_container">
    <el-row class="index_header">
          <base-header :isApipage="true"/>
    </el-row>
    <el-row class="index_body">
         <el-row class="index_body_left">
                <el-row class="index_body_left_title" style="height:60px;" >一米豆腐</el-row>
                <el-row   class="index_body_left_title"><span  @click='radioChange(8)' >我的订阅</span></el-row>
               <el-row   class="index_body_left_title"><span  @click='radioChange(9)'>我的收入</span></el-row>
               <el-row   class="index_body_left_title"><span  @click='radioChange(10)'>我的收藏</span></el-row>
               <el-row   class="index_body_left_title"><span  @click='radioChange(11)'>我的邀约</span></el-row>
               <el-row   class="index_body_left_title"><span  @click='radioChange(12)'>我的发布</span></el-row>
               <el-row   class="index_body_left_title"><span  @click='radioChange(13)'>用户须知</span></el-row>
         </el-row>



         <el-row class="index_body_body_data" >
             <el-row  class="body_title_class" >
                 <el-row  class="body_title_zy_class" >
                     <div style="    margin-top: 18px;font-size: 24px;line-height: 43px;color: #272727;font-family: 'Source Han Sans SC';font-weight: 500;text-align: center;">
                         {{directInvitedNum}}<br/> 直接邀请（人）
                     </div>
                 </el-row>
                 <el-row  class="body_title_zy_class" >
                     <div style="    margin-top: 18px;font-size: 24px;line-height: 43px;color: #272727;font-family: 'Source Han Sans SC';font-weight: 500;text-align: center;">
                         {{indirectInvitedNum}}<br/> 间接邀请（人）
                     </div>
                 </el-row>
             </el-row>
             <el-row  v-for="data in yaoyueData" class="index_body_data_info" >
                 <el-row style="width:13%;height:100%; float:left; text-align: center;">
                     <el-image
                         style="width: 85px; height: 85px; margin-top: 40px;"
                         :src="data.userHead"
                     ></el-image>

                 </el-row>
                 <el-row style="width:52%;height:100%;margin-left:20px;float:left;">

                     <div style=" margin-top: 25px; font-size: 20px;line-height: 49px;color: #333333;font-family: 'Source Han Sans SC'; font-weight: 500;">
                          {{data.nickName}}
                     </div>
                     <div style="    line-height: 27px;color: #606060;font-family: 'Arial';">
                          {{data.invitedDate}}</div>
                 </el-row>
                 <el-row style="width:30%;height:100%; float:right; text-align: center;  ">

                      <div style="margin-top: 50px;margin-right: 60px;  ">
                      <span style="font-size: 28px;line-height: 30px;color: #373737;font-family: 'Arial';  font-weight: bold;">
                          {{data.num}}</span>
                      <span style="font-size: 20px;line-height: 49px;color: #333333;font-family: 'Source Han Sans SC'; font-weight: 500;">（人）> </span>
                      </div>
                 </el-row>
             </el-row>

         </el-row>
           <el-row class="index_body_body_title" >

                  </el-row>
    </el-row>
    <el-row class="index_foot">
        <el-row class="index_foot_sm">
             <img src="../assets/img/logo_foot.jpg" />
        </el-row>
         <el-row class="index_foot_db">
            <span>版权所有：熵机网 / 备案号： 京ICP备015647845</span>
          </el-row>
    </el-row>
   </el-row>
</template>
<script>
 const cityOptions = ['上海', '北京', '广州'];
 const typeOptions = [ '深圳','上海', '北京' ];
  const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
 import {
     userInvitedUser,
     cashList,
     noInvoiceList,
     selectAllIndustryType,
     selectAllProvinceData,
     selectAllCityData,
     expressOne,
     sjDetails,
     expressUpdate,
     deletePublish,codeWxUnifiedorder
 } from "@/controller/api"
export default {
data () {
        return {

          checkboxGroup: ['上海'],
            checkTypeGroup: ['仓储/仓储一体'],
            checkDateGroup: ['不限'],
            lever:1,
             types: typeOptions,
             dates: dateOptions,
          cities: cityOptions,
          switchValue: true,
           currentPage1: 5,
                  currentPage2: 5,
                  currentPage3: 5,
                  currentPage4: 4,
            directInvitedNum:0,
            indirectInvitedNum:0,
                  yaoyueData: [ ]


        };
      },
  components: {
    baseHeader: () => import('@/components/home/indexHeader'),
    baseFooter: () => import('@/components/home/footer'),
    sideMenu: () => import('@/components/home/menu'),
  }
,mounted() {


        this.userInvitedUser() ;
    }
    , methods: {
        userInvitedUser(val) {
            userInvitedUser({
                openid: 'o-a615MVyJKQ12O4Q42JIOmmjlgQ',
                lever:this.lever
            }).then(res => {
                res = res.data
                if (!res.code) {
                    this.yaoyueData = res.data.users;
                    this.directInvitedNum = res.data.directInvitedNum;
                    this.indirectInvitedNum = res.data.indirectInvitedNum;
                }
            })
        },




          radioChange(value){
                        if(value==0){
                             this.$router.push('index')

                        }else if(value==1){
                          var _this = this
                           _this.$router.replace({path: '/DashBoard', params: {id: 1}})

                        }else if(value==2){
                            this.isEdit = false
                            this.showModal = true
                        }else if(value==3){
                            this.$router.push('sjdy')
                             this.showModal = false
                        }else if(value==4){
                           this.$router.push('mtbd')
                            this.showModal = false
                       }else if(value==5){
                           this.$router.push('hyzx')
                            this.showModal = false
                       }else if(value==6){
                           this.$router.push('gywm')
                            this.showModal = false
                       }else if(value==7){
                            this.$router.push('ymdf')
                             this.showModal = false
                        }else if(value==8){
                           this.$router.push('wddy')
                            this.showModal = false
                       }else if(value==9){
                           this.$router.push('wdsr')
                            this.showModal = false
                       }else if(value==10){
                           this.$router.push('wdsc')
                            this.showModal = false
                       }else if(value==11){
                           this.$router.push('wdyy')
                            this.showModal = false
                       }else if(value==12){
                           this.$router.push('wdfb')
                            this.showModal = false
                       }else if(value==13){
                          this.$router.push('yhxz')
                           this.showModal = false
                      }
                  }
     }
}
</script>
<style lang="less" scoped>

  .index_container{
        height: 100%;
        width: 100%;

        .index_header{
            height: 135px;

        }
         .index_body{

                 padding: 40px 19.27% 0px 19.27%;

                 .index_body_left{
                    height: 330px;
                    width: 15%;
                    float: left;
                    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                    .index_body_left_title{
                       height:45px;
                       width:100%;
                        text-align:center;

                    }

                     :hover{
                     background-color: rgb(55, 94, 163);
                     }
                 }
                 .index_body_header{
                      height: 67px;
                      width: 83%;
                      float: right;

                      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                      .index_body_header_select{
                            width: 25%;
                             float: left;
                            padding: 15px 30px 15px 30px;
                      }
                 }
                 .index_body_body_title{
                        height: 80px;
                         width: 83%;
                         float: right;
                         text-align:center;
                         padding: 30px 30px  30px 30px;
                 }
                 .index_body_body_data{
                     width: 83%;
                     float: right;
                    .body_title_class{
                        height: 225px;border-radius: 2px;box-shadow: 0px 5px 5px rgba(213,213,213,0.08);background-color: #375ea3;margin-bottom: 20px;
                        background : url("../assets/img/wdyy.png") no-repeat;
                        .body_title_zy_class{
                            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                            width: 25%;
                            height: 113px;
                            float: left;
                            border-radius: 10px;
                            margin-top: 50px;
                            margin-left: 160px;
                            background-image: linear-gradient(90deg, #ffe0a3 0%, #ffce65 100%);
                        }

                    }
                     .index_body_data_info {
                         height: 150px;
                         box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
                     }
                     .index_body_body_foot {
                         height: 60px;
                         float: right;
                     }

                 }

          }
          .index_foot{
              height: 312px;
               .index_foot_sm{
                    height: 240px;
                        width: 100%;
               }
               .index_foot_db{
                       height: 72px;
                       background-color: rgb(55, 94, 163);
                       text-align: center;
                       padding: 27px 0px 0px 0px;
              }
         }
         .el-divider--horizontal{
              margin: 8px 0;
              background: 0 0;
              border-top: 1px dashed #e8eaec;
          }
          .line-left-right {

          padding: 0 0px 0px;

          margin: 20px 0px;

          line-height: 1px;

          border-left: 750px solid rgb(221, 221, 221);

          border-right: 750px solid rgb(221, 221, 221);

          text-align: center;

          height: 2px;

          }
  }

</style>

