<template>
   <el-row class="index_container">
    <el-row class="index_header">
          <base-header :isApipage="true"/>
    </el-row>
    <el-row class="index_body">
         <el-row class="index_body_left">
                <div  class="index_body_left_title" style="height:60px;" @click='radioChange(7)'>一米豆腐</div>
                              <div  class="index_body_left_title"  @click='radioChange(8)' >我的订阅</div>
                              <div  class="index_body_left_title"  @click='radioChange(9)'  >我的收入</div>
                              <div  class="index_body_left_title"  @click='radioChange(10)'  >我的收藏</div>
                              <div  class="index_body_left_title"  @click='radioChange(11)'  >我的邀约</div>
                              <div  class="index_body_left_title"  @click='radioChange(12)'  >我的发布</div>
                              <div  class="index_body_left_title"  @click='radioChange(13)'  >用户须知</div>
         </el-row>



         <el-row class="index_body_body_data" >
             <el-row   v-for="type in tableData"  class="index_body_body_data_info">
              <div style="height:55px; padding: 20px 0 0 20px;">  {{type.name}} </div>
                <div style="height:35px;  padding: 0 0 0 20px;">
                    <span >{{type.name}}</span>
                    <span style="float:right;padding: 0 20px 0 0px;">{{type.name}}</span>

                </div>
                 <div style="height:40px;  padding: 0 0 0 20px;">
                                    <span >{{type.name}}</span>

                                </div>


                 <el-button type="primary" icon="el-icon-edit" round style="float:left;margin-left: 20%;margin-top: 2%; border-color: rgb(55, 94, 163);background-color: rgb(55, 94, 163);">修改</el-button>

                 <el-button type="primary" icon="el-icon-download" round style="float:right;margin-right: 20%;margin-top: 2%; border-color: rgb(246, 97, 5);background-color: rgb(246, 97, 5);">下架</el-button>

                 </div>

             </el-row>

         </el-row>
           <el-row class="index_body_body_title" >

                  </el-row>
    </el-row>
    <el-row class="index_foot">
        <el-row class="index_foot_sm">
             <img src="../assets/img/logo_foot.jpg" />
        </el-row>
         <el-row class="index_foot_db">
            <span>版权所有：熵机网 / 备案号： 京ICP备015647845</span>
          </el-row>
    </el-row>
   </el-row>
</template>
<script>
 const cityOptions = ['上海', '北京', '广州'];
 const typeOptions = [ '深圳','上海', '北京' ];
  const dateOptions = ['不限', '近一周', '近一个月', '近三个月'];
export default {
data () {
        return {

          checkboxGroup: ['上海'],
            checkTypeGroup: ['仓储/仓储一体'],
            checkDateGroup: ['不限'],
             types: typeOptions,
             dates: dateOptions,
          cities: cityOptions,
          switchValue: true,
           currentPage1: 5,
                  currentPage2: 5,
                  currentPage3: 5,
                  currentPage4: 4,
                  tableData: [{
                                                                                                img: '../assets/img/hz.jpg',
                                                                                                name: '王小虎',
                                                                                                address: '在改革开放的初期，一批商人迅速崛起，将市场进行垄断。在这个时代，商品需求远远的大于人们的生产能力，在卖方市场的红利下，财富开始快速的累积。人们认识到商业所能带来的财富远远的大于其他的模式下的经济，利用不对等的信息，快速的一批跟随者涌入商业市场，并且谋取大量财富'
                                                                                              },{
                                                                                                                                                                                                img: '../assets/img/hz.jpg',
                                                                                                                                                                                                name: '王小虎',
                                                                                                                                                                                                address: '在改革开放的初期，一批商人迅速崛起，将市场进行垄断。在这个时代，商品需求远远的大于人们的生产能力，在卖方市场的红利下，财富开始快速的累积。人们认识到商业所能带来的财富远远的大于其他的模式下的经济，利用不对等的信息，快速的一批跟随者涌入商业市场，并且谋取大量财富'
                                                                                                                                                                                              },{
                                                                                                                                                                                                                                                                                                img: '../assets/img/hz.jpg',
                                                                                                                                                                                                                                                                                                name: '王小虎',
                                                                                                                                                                                                                                                                                                address: '在改革开放的初期，一批商人迅速崛起，将市场进行垄断。在这个时代，商品需求远远的大于人们的生产能力，在卖方市场的红利下，财富开始快速的累积。人们认识到商业所能带来的财富远远的大于其他的模式下的经济，利用不对等的信息，快速的一批跟随者涌入商业市场，并且谋取大量财富'
                                                                                                                                                                                                                                                                                              },{
                                                                                                                                                                                                                                                               img: '../assets/img/hz.jpg',
                                                                                                                                                                                                                                                               name: '王小虎',
                                                                                                                                                                                                                                                               address: '上海市普陀区金沙江路 1518 弄'
                                                                                                                                                                                                                                                             }]


        };
      },
  components: {
    baseHeader: () => import('@/components/home/indexHeader'),
    baseFooter: () => import('@/components/home/footer'),
    sideMenu: () => import('@/components/home/menu'),
  }
, methods: {
          radioChange(value){
               if(value==0){
                    this.$router.push('index')

               }else if(value==1){
                 var _this = this
                  _this.$router.replace({path: '/DashBoard', params: {id: 1}})

               }else if(value==2){
                   this.isEdit = false
                   this.showModal = true
               }else if(value==3){
                   this.$router.push('sjdy')
                    this.showModal = false
               }else if(value==4){
                  this.$router.push('mtbd')
                   this.showModal = false
              }else if(value==5){
                  this.$router.push('hyzx')
                   this.showModal = false
              }else if(value==6){
                  this.$router.push('gywm')
                   this.showModal = false
              }else if(value==7){
                   this.$router.push('ymdf')
                    this.showModal = false
               }else if(value==8){
                  this.$router.push('wddy')
                   this.showModal = false
              }else if(value==9){
                  this.$router.push('wdsr')
                   this.showModal = false
              }else if(value==10){
                  this.$router.push('wdsc')
                   this.showModal = false
              }else if(value==11){
                  this.$router.push('wdyy')
                   this.showModal = false
              }else if(value==12){
                  this.$router.push('wdfb')
                   this.showModal = false
              }else if(value==13){
                 this.$router.push('yhxz')
                  this.showModal = false
             }
         }
     }
}
</script>
<style lang="less" scoped>

  .index_container{
        height: 100%;
        width: 100%;

        .index_header{
            height: 135px;

        }
         .index_body{

                 padding: 40px 19.27% 0px 19.27%;

                 .index_body_left{
                    height: 330px;
                    width: 15%;
                    float: left;
                    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                    .index_body_left_title{
                       height:45px;
                       width:100%;
                        text-align:center;

                    }

                     :hover{
                     background-color: rgb(55, 94, 163);
                     }
                 }
                 .index_body_header{
                      height: 67px;
                      width: 83%;
                      float: right;

                      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                      .index_body_header_select{
                            width: 25%;
                             float: left;
                            padding: 15px 30px 15px 30px;
                      }
                 }
                 .index_body_body_title{
                        height: 80px;
                         width: 83%;
                         float: right;
                         text-align:center;
                         padding: 30px 30px  30px 30px;
                 }
                 .index_body_body_data{
                     width: 83%;
                     float: right;


                     .index_body_body_data_info{
                            width: 48%;
                            height: 180px;
                             margin-right: 15px;
                              margin-bottom: 40px;
                            float: left;
                            padding: 0   0px 20px 0;
                            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                            .line{
                                       padding: 0 0px 0px;

                                       margin: 20px 0px;

                                       line-height: 1px;

                                       border-left: 470px solid #dddddd63;



                                       height: 1px;
                                    }
                     }
                     .index_body_body_foot{
                            height: 60px;
                            float: right;
                     }
                 }

          }
          .index_foot{
              height: 312px;
               .index_foot_sm{
                    height: 240px;
                        width: 100%;
               }
               .index_foot_db{
                       height: 72px;
                       background-color: rgb(55, 94, 163);
                       text-align: center;
                       padding: 27px 0px 0px 0px;
              }
         }
         .el-divider--horizontal{
              margin: 8px 0;
              background: 0 0;
              border-top: 1px dashed #e8eaec;
          }
          .line-left-right {

          padding: 0 0px 0px;

          margin: 20px 0px;

          line-height: 1px;

          border-left: 750px solid rgb(221, 221, 221);

          border-right: 750px solid rgb(221, 221, 221);

          text-align: center;

          height: 2px;

          }
  }

</style>

