<template>
    <el-row class="timeContainer">
        <el-row class="bartitle">
            <common-head :DATA="CONSTIMETITLES" :TYPE="0" :ICON="HELPICON" :isshow="false"/>
        </el-row>
        <el-row class="select">
            <span class="el-icon-caret-left lefticon" @click="prev"></span>
            <el-row class="carouselContainer">

                <el-carousel height="30px" arrow="never" ref="carousel"
                             @change="changeValue"
                             :autoplay="false" indicator-position="none">
                    <el-carousel-item v-for="item in times" :key="item">
                        <div>{{item}}H</div>
                    </el-carousel-item>
                </el-carousel>

            </el-row>
            <span class="el-icon-caret-right lefticon" @click="next" ></span>
        </el-row>
        <el-row class="content">
            <el-row class="totalCount">
                <el-col :span="12">
                    <div class="userNum">{{userNumber}}</div>
                    消费客户总数
                </el-col>
                <el-col :span="12">
                    <div class="infoNum">{{infoNumber}}</div>
                    消费信息总数
                </el-col>
            </el-row>
            <el-row class="timePie" id="timePie"></el-row>

        </el-row>

    </el-row>


</template>

<script>
    import {CONSTIMETITLES,HELPICON} from '@/store/main'
    import {queryConsumptionPeriod} from '@/controller/api'
    import {mapState} from 'vuex'
  export default{
      data(){
          return{
              times:['0-4','4-8','8-12','12-16','16-20','20-24'],
              piechart:null,
              currentTimes:'0-4',
              activeTime:'',
              userNumber:'',//营销用户数
              infoNumber:'',//营销信息数
              toDays:[],//当日
              threeDays:[],//30天
              nineDays:[],//90天
              halfyear:[],//180天


          }
      },
      components: {
          commonHead: () => import('@/components/home/_head_title'),
      },
      computed: {
          CONSTIMETITLES(){return CONSTIMETITLES},
          HELPICON(){return HELPICON},
          ...mapState({
              headselectTime:state=>state.headselectTime,
              area:state=>state.area,
              bank:state=>state.bank,
              headTimeTypeName:state=>state.headTimeTypeName,
          })
      },
      watch:{
          headselectTime(val){this.getdata()},
          area(val){this.getdata()},
          bank(val){this.getdata()},
          headTimeTypeName(val){
              this.threeDays=[]
              this.toDays=[]
              this.nineDays=[]
              this.halfyear=[]
              if(val=='当日'){
                  this.initPie(this.toDays)
              }else if(val=='30日'){
                  this.initPie(this.threeDays)

              }else if(val=='90日'){
                  this.initPie(this.nineDays)
              }else if(val=='180日'){
                  this.initPie(this.halfyear)
              }
          }
      },
      mounted(){
          this.piechart=echarts.init(document.getElementById('timePie'))
          this.getdata()
      },
      methods:{
          //上一时间段
          prev(){
              this.$refs.carousel.prev()

          },
          //下一时间段
          next(){
              this.$refs.carousel.next()

          },
          changeValue(val){
              this.activeTime=val
              this.getdata()
          },

          getdata(){
              this.threeDays=[]
              this.toDays=[]
              this.nineDays=[]
              this.halfyear=[]
              this.currentTimes=this.activeTime?this.times[this.activeTime]:'0-4'
              if(this.area && this.bank && this.headselectTime){
                queryConsumptionPeriod({
                    HOME_PROV:this.area,//区域id
                    DAY_ID:this.headselectTime,//日期
                    BANK_ID:this.bank,//银行id
                    CYCLE:this.currentTimes == "20-24" ? "20-0"+'h' : this.currentTimes+'h',
                }).then(res=>{
                    res=res.data
                    if(!res.code){
                        let activeData=res.data.activeData
                        if(activeData.length==0) {
                            let piedata=[]
                            this.userNumber=0
                            this.infoNumber=0
                            this.initPie(piedata)

                            return
                        }
                        //保存数据
                       this.saveData(activeData)
                        this.initPie(this.toDays)
                    }
                })
              }
          },
          saveData(activeData){
              if(this.headTimeTypeName=='当日'){
                  this.userNumber=activeData[0].user_consume_today_sum
                  this.infoNumber=activeData[0].sms_consume_today_sum
              }else if(this.headTimeTypeName=='30日'){
                  this.userNumber=activeData[0].user_consume_30day_sum
                  this.infoNumber=activeData[0].sms_consume_30day_sum

              }else if(this.headTimeTypeName=='90日'){
                  this.userNumber=activeData[0].user_consume_90day_sum
                  this.infoNumber=activeData[0].sms_consume_90day_sum
              }else if(this.headTimeTypeName=='180日'){
                  this.userNumber=activeData[0].user_consume_180day_sum
                  this.infoNumber=activeData[0].sms_consume_180day_sum
              }
              //30天数据
              this.threeDays.push(parseFloat(activeData[0].user_consume_share_30day).toFixed(2))
              this.threeDays.push(parseFloat(activeData[0].sms_consume_share_30day).toFixed(2))
              //90天
              this.nineDays.push(parseFloat(activeData[0].user_consume_share_90day).toFixed(2))
              this.nineDays.push(parseFloat(activeData[0].sms_consume_share_90day).toFixed(2))
              //180天
              this.halfyear.push(parseFloat(activeData[0].user_consume_share_180day).toFixed(2))
              this.halfyear.push(parseFloat(activeData[0].sms_consume_share_180day).toFixed(2))
              //当天
              this.toDays.push(parseFloat(activeData[0].user_consume_share_today).toFixed(2))//客户占比
              this.toDays.push(parseFloat(activeData[0].sms_consume_share_today).toFixed(2))//消费率
          },
          initPie(data){
              this.piechart.clear()
              var labelTop = {
                  normal : {
                      label : {
                          show : true,
                          position : 'center',
                          formatter : '{c}%',
                      },
                      labelLine : {
                          show : false
                      }
                  }
              };
              var labelBottom = {
                  normal : {
                      color: '#ccc',
                      label : {
                          show : false,
                          position : 'center',
                      },
                      labelLine : {
                          show : false
                      }
                  },
              };
              if(data.length){
                  let option={
                      color:['#FC5950','#02C4D0'],
                      tooltip: {
                          trigger: 'item',
                          formatter: "{b}: {d}%"
                      },
                      title:[{
                          text: '客户占比',
                          left: '25%',
                          top: '70%',
                          textAlign: 'center',
                          textStyle:{
                              fontSize:10,
                              fontStyle: 'normal',
                              color:'#747474'


                          }
                      },
                          {
                              text: '消费率',
                              left: '75%',
                              top: '70%',
                              textAlign: 'center',
                              textStyle:{
                                  fontSize:10,
                                  fontStyle: 'normal',
                                  color:'#747474'
                              }
                          },

                      ],
                      series:[
                          {
                              type : 'pie',
                              center : ['25%', '40%'],
                              radius : ['40%','60%'],
                              avoidLabelOverlap:false,
                              data : [
                                  {name:'other', value:100-data[0], itemStyle : labelBottom},
                                  {name:'客户占比', value:data[0],itemStyle : labelTop}
                              ]
                          },
                          {
                              type : 'pie',
                              center : ['75%', '40%'],
                              radius : ['40%','60%' ],
                              avoidLabelOverlap:false,
                              data : [
                                  {name:'other', value:100-data[1], itemStyle : labelBottom},
                                  {name:'消费率', value:data[1],itemStyle : labelTop}
                              ]
                          },
                      ]
                  }
                  this.piechart.setOption(option)
              }

          }
      }

  }

</script>

<style lang="less" scoped>
    .timeContainer{
        height: 100%;
        background-color: #fff;
        .select{
            height: 30px;
            text-align: center;
            .carouselContainer{
                width: 70px;
                display: inline-block;
                vertical-align: middle;
                .el-carousel__item div{
                    color: #B7B7B7;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 30px;

                }
            }
            .lefticon{
                color:#B7B7B7;
                font-size: 18px;
                vertical-align: middle;
                cursor: pointer;


            }
        }

        .content{
            height:calc(~"(100% - 60px)") ;
            .totalCount{
                height: 30%;
                text-align: center;
                font-size: 12px;
                display: flex;
                align-items: center;
                color:#747474;
                .userNum{
                    color: #FC5F57;
                    font-size: 22px;
                }
                .infoNum{
                    color:#02C4D0;
                    font-size: 22px;
                }
            }
            .timePie{
                height: 60%;
            }
        }


    }

</style>
