<template>
    <el-row class="line_container">
      <common-head :DATA="title" :ICON="HELPICON" :TYPE="1" @selTime="selTime"/>
      <el-row class="line_chart" id="lineChart"></el-row>
    </el-row>
</template>

<script>
  import {HELPICON,LINEOPTION,TIMEZONES} from '@/store/main'
  import { queryMarketing } from "@/controller/api_1"
  export default{
      props:{
        title:{
          type: Object,
          default:{}
        }
      },
      data(){
          return{
              seltime:[],
              lineData:{}
          }
      },
      watch:{
        HOME_PROV(){this.queryMarketing()},
        BANK_ID(){this.queryMarketing()},
        seltime(){this.queryMarketing()},
        TYPE(){return TIMEZONES[this.$store.state.headTimeType]},
      },
      components: {
        commonHead: () => import('@/components/home/_head_title'),
      },
      mounted(){
        this.myChart = echarts.init(document.getElementById('lineChart'))
        // this.initData()
      } ,
      computed: {
          HELPICON(){return HELPICON},
          TYPE(){return TIMEZONES[this.$store.state.headTimeType]},
          HOME_PROV(){return this.$store.state.area},
          BANK_ID(){return this.$store.state.bank},
      },
      methods:{
        selTime(data){
          this.seltime=data
        },
        initData(){
          this.queryMarketing()
        },
        initCharts(data){
          const option = _.merge({
              legend: {
                data: data.legendData,
              },
              xAxis: {
                data: data.xAxisData
              },
              series:data.seriesData
          },LINEOPTION(2))
          this.myChart.setOption(option);
        },
        async queryMarketing(){
          if(this.HOME_PROV && this.BANK_ID){
            queryMarketing({
              HOME_PROV:this.HOME_PROV,
              START_DAY:this.seltime[0],
              END_DAY:this.seltime[1],
              BANK_ID:this.BANK_ID
            }).then(res => {
              res = res.data
              if(!res.code){
                if(res.data.activeData.length){
                  this.lineData = {
                    legendData:['营销客户人数','营销信息数'],
                    xAxisData:res.data.activeData.map(v => v.day_id),
                    seriesData:[{
                      name: '营销客户人数',
                      data: res.data.activeData.map(v => v[`user_marketing_${this.TYPE.name}_sum`])
                    },{
                      name: '营销信息数',
                      data: res.data.activeData.map(v => v[`sms_marketing_${this.TYPE.name}_sum`])
                    }]
                  }
                  this.initCharts(this.lineData)
                }else{
                  this.lineData = Object.assign({},{
                    legendData:['营销客户人数','营销信息数'],
                    xAxisData:[],
                    seriesData:[{
                              name: '营销客户人数',
                              data: []
                          }, {
                              name: '营销信息数',
                              data: []
                          }]
                  })
                  this.initCharts(this.lineData)
                }
              }else{
                this.$message({
                  type:"error",
                  message:res.msg
                })
              }
            })
          }
        },
      }
  }

</script>

<style lang="less" scoped>
    .line_container{
        width: 100%;
        height: calc(~"(100% - 10px)");
        margin-top: 10px;
        background-color: #FFFFFF;
        .line_chart{
            height: calc(~"(100% - 30px)");
        }
    }
</style>
